{
  "openapi" : "3.0.0",
  "info" : {
    "title" : "Blockfrost.io ~ API Documentation",
    "description" : "Blockfrost is an API as a service that allows users to interact with the Cardano blockchain and parts of its ecosystem.\n\n## Authentication\n\nAfter signing up on https://blockfrost.io, a `project_id` token is automatically generated for each project.\nHTTP header of your request MUST include this `project_id` in order to authenticate against Blockfrost servers.\n\n## Available networks\n\nAt the moment, you can use the following networks. Please, note that each network has its own `project_id`.\n\n<table>\n  <tr><td><b>Network</b></td><td><b>Endpoint</b></td></tr>\n  <tr><td>Cardano mainnet</td><td><tt>https://cardano-mainnet.blockfrost.io/api/v0</td></tt></tr>\n  <tr><td>Cardano testnet</td><td><tt>https://cardano-testnet.blockfrost.io/api/v0</tt></td></tr>\n  <tr><td>InterPlanetary File System</td><td><tt>https://ipfs.blockfrost.io/api/v0</tt></td></tr>\n</table>\n\n## Concepts\n\n* All endpoints return either a JSON object or an array.\n* Data is returned in *ascending* (oldest first, newest last) order.\n  * You might use the `?order=desc` query parameter to reverse this order.\n* By default, we return 100 results at a time. You have to use `?page=2` to list through the results.\n* All time and timestamp related fields are in milliseconds of UNIX time.\n* All amounts are returned in Lovelaces, where 1 ADA = 1 000 000 Lovelaces.\n* Addresses, accounts and pool IDs are in Bech32 format.\n* All values are case sensitive.\n* All hex encoded values are lower case.\n* Examples are not based on real data. Any resemblance to actual events is purely coincidental.\n* We allow to upload files up to 100MB of size to IPFS. This might increase in the future.\n\n## Errors\n\n### HTTP Status codes\n\nThe following are HTTP status code your application might receive when reaching Blockfrost endpoints and\nit should handle all of these cases.\n\n* HTTP `400` return code is used when the request is not valid.\n* HTTP `402` return code is used when the projects exceed their daily request limit.\n* HTTP `403` return code is used when the request is not authenticated.\n* HTTP `404` return code is used when the resource doesn't exist.\n* HTTP `418` return code is used when the user has been auto-banned for flooding too much after previously receiving error code `402` or `429`.\n* HTTP `429` return code is used when the user has sent too many requests in a given amount of time and therefore has been rate-limited.\n* HTTP `500` return code is used when our endpoints are having a problem.\n\n### Error codes\n\nAn internal error code number is used for better indication of the error in question. It is passed using the following payload.\n\n```json\n{\n  \"status_code\": 403,\n  \"error\": \"Forbidden\",\n  \"message\": \"Invalid project token.\"\n}\n```\n## Limits\n\n There are two types of limits we are enforcing. The first depends on your plan and is the number of request we allow per day. We defined\n the day from midnight to midnight of UTC time. The second is rate limiting, where we limit an end user to 10 requests per second after a period\n of 5 second burst. We believe this should be sufficient for most of the use cases. If it is not and you have a specific use case, please get in touch with us, and\n we will make sure to take it into account as much as we can.\n",
    "termsOfService" : "https://blockfrost.io/terms",
    "contact" : {
      "name" : "Blockfrost Team",
      "url" : "https://blockfrost.io",
      "email" : "contact@blockfrost.io"
    },
    "license" : {
      "name" : "MIT",
      "url" : "https://opensource.org/licenses/MIT"
    },
    "version" : "0.1.10",
    "x-logo" : {
      "url" : "https://staging.blockfrost.io/images/logo.svg",
      "altText" : "Blockfrost"
    }
  },
  "servers" : [ {
    "url" : "https://cardano-mainnet.blockfrost.io/api/v0/",
    "description" : "Cardano Mainnet network"
  }, {
    "url" : "https://cardano-testnet.blockfrost.io/api/v0/",
    "description" : "Cardano Testnet network"
  }, {
    "url" : "https://localhost:3000",
    "description" : "local"
  } ],
  "security" : [ {
    "ApiKeyAuth" : [ ]
  } ],
  "tags" : [ {
    "name" : "Health"
  }, {
    "name" : "Cardano » Blocks"
  }, {
    "name" : "Cardano » Epochs"
  }, {
    "name" : "Cardano » Transactions"
  }, {
    "name" : "Cardano » Metadata"
  }, {
    "name" : "Cardano » Pools"
  }, {
    "name" : "Cardano » Accounts"
  }, {
    "name" : "Cardano » Addresses"
  }, {
    "name" : "Cardano » Assets"
  }, {
    "name" : "Cardano » Ledger"
  }, {
    "name" : "IPFS » Add"
  }, {
    "name" : "IPFS » Gateway"
  }, {
    "name" : "IPFS » Pins"
  } ],
  "paths" : {
    "/" : {
      "get" : {
        "tags" : [ "Health" ],
        "summary" : "Root endpoint",
        "description" : "Root endpoint has no other function than to point end users to documentation.\n",
        "responses" : {
          "200" : {
            "description" : "Information pointing to the documentation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_400"
                }
              }
            }
          },
          "403" : {
            "description" : "Authentication secret is missing or invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_403"
                }
              }
            }
          },
          "429" : {
            "description" : "Usage limit reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_429"
                }
              }
            }
          },
          "418" : {
            "description" : "IP has been auto-banned for extensive sending of requests after usage limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_418"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_500"
                }
              }
            }
          }
        },
        "security" : [ ]
      }
    },
    "/health" : {
      "get" : {
        "tags" : [ "Health" ],
        "summary" : "Backend health status",
        "description" : "Return backend status as a boolean. Your application\n    should handle situations when backend for the given chain is unavailable.\n",
        "responses" : {
          "200" : {
            "description" : "Return the boolean indicating the health of the backend.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_1"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_400"
                }
              }
            }
          },
          "403" : {
            "description" : "Authentication secret is missing or invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_403"
                }
              }
            }
          },
          "429" : {
            "description" : "Usage limit reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_429"
                }
              }
            }
          },
          "418" : {
            "description" : "IP has been auto-banned for extensive sending of requests after usage limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_418"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_500"
                }
              }
            }
          }
        },
        "security" : [ ]
      }
    },
    "/health/clock" : {
      "get" : {
        "tags" : [ "Health" ],
        "summary" : "Current backend time",
        "description" : "This endpoint provides the current UNIX time. Your application might\nuse this to verify if the client clock is not out of sync.\n",
        "responses" : {
          "200" : {
            "description" : "Return the current UNIX time in milliseconds.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_2"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_400"
                }
              }
            }
          },
          "403" : {
            "description" : "Authentication secret is missing or invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_403"
                }
              }
            }
          },
          "429" : {
            "description" : "Usage limit reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_429"
                }
              }
            }
          },
          "418" : {
            "description" : "IP has been auto-banned for extensive sending of requests after usage limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_418"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_500"
                }
              }
            }
          }
        },
        "security" : [ ]
      }
    },
    "/blocks/latest" : {
      "get" : {
        "tags" : [ "Cardano » Blocks" ],
        "summary" : "Latest block",
        "description" : "Return the latest block available to the backends, also known as the\ntip of the blockchain.\n",
        "responses" : {
          "200" : {
            "description" : "Return the contents of the latest block.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/block_content"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_400"
                }
              }
            }
          },
          "403" : {
            "description" : "Authentication secret is missing or invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_403"
                }
              }
            }
          },
          "404" : {
            "description" : "Component not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404"
                }
              }
            }
          },
          "429" : {
            "description" : "Usage limit reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_429"
                }
              }
            }
          },
          "418" : {
            "description" : "IP has been auto-banned for extensive sending of requests after usage limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_418"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_500"
                }
              }
            }
          }
        }
      }
    },
    "/blocks/{hash_or_number}" : {
      "get" : {
        "tags" : [ "Cardano » Blocks" ],
        "summary" : "Specific block",
        "description" : "Return the content of a requested block.\n",
        "parameters" : [ {
          "name" : "hash_or_number",
          "in" : "path",
          "description" : "Hash of the requested block.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "64-character case-sensitive hexadecimal string or block number."
          },
          "example" : "4ea1ba291e8eef538635a53e59fddba7810d1679631cc3aed7c8e6c4091a516a"
        } ],
        "responses" : {
          "200" : {
            "description" : "Return the contents of the block",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/block_content"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_400"
                }
              }
            }
          },
          "403" : {
            "description" : "Authentication secret is missing or invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_403"
                }
              }
            }
          },
          "404" : {
            "description" : "Component not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404"
                }
              }
            }
          },
          "429" : {
            "description" : "Usage limit reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_429"
                }
              }
            }
          },
          "418" : {
            "description" : "IP has been auto-banned for extensive sending of requests after usage limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_418"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_500"
                }
              }
            }
          }
        }
      }
    },
    "/blocks/{hash_or_number}/next" : {
      "get" : {
        "tags" : [ "Cardano » Blocks" ],
        "summary" : "Listing of next blocks",
        "description" : "Return the list of blocks following a specific block.\n",
        "parameters" : [ {
          "name" : "hash_or_number",
          "in" : "path",
          "description" : "Hash of the requested block.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "64-character case-sensitive hexadecimal string or block number."
          },
          "example" : "5ea1ba291e8eef538635a53e59fddba7810d1679631cc3aed7c8e6c4091a516a"
        }, {
          "name" : "count",
          "in" : "query",
          "description" : "The number of results displayed on one page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 100,
            "type" : "integer",
            "default" : 100
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "The page number for listing the results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "default" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Return the contents of the block.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/block_content_array"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_400"
                }
              }
            }
          },
          "403" : {
            "description" : "Authentication secret is missing or invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_403"
                }
              }
            }
          },
          "404" : {
            "description" : "Component not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404"
                }
              }
            }
          },
          "429" : {
            "description" : "Usage limit reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_429"
                }
              }
            }
          },
          "418" : {
            "description" : "IP has been auto-banned for extensive sending of requests after usage limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_418"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_500"
                }
              }
            }
          }
        }
      }
    },
    "/blocks/{hash_or_number}/previous" : {
      "get" : {
        "tags" : [ "Cardano » Blocks" ],
        "summary" : "Listing of previous blocks",
        "description" : "Return the list of blocks preceding a specific block.\n",
        "parameters" : [ {
          "name" : "hash_or_number",
          "in" : "path",
          "description" : "Hash of the requested block",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "64-character case-sensitive hexadecimal string or block number."
          },
          "example" : "4873401"
        }, {
          "name" : "count",
          "in" : "query",
          "description" : "The number of results displayed on one page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 100,
            "type" : "integer",
            "default" : 100
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "The page number for listing the results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "default" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Return the contents of the block",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/block_content_array"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_400"
                }
              }
            }
          },
          "403" : {
            "description" : "Authentication secret is missing or invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_403"
                }
              }
            }
          },
          "404" : {
            "description" : "Component not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404"
                }
              }
            }
          },
          "429" : {
            "description" : "Usage limit reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_429"
                }
              }
            }
          },
          "418" : {
            "description" : "IP has been auto-banned for extensive sending of requests after usage limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_418"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_500"
                }
              }
            }
          }
        }
      }
    },
    "/blocks/{hash_or_number}/txs" : {
      "get" : {
        "tags" : [ "Cardano » Blocks" ],
        "summary" : "Block transactions",
        "description" : "Return the transactions within the block.",
        "parameters" : [ {
          "name" : "hash_or_number",
          "in" : "path",
          "description" : "Hash of the requested block.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "64-character case-sensitive hexadecimal string or block number."
          },
          "example" : "4873401"
        }, {
          "name" : "count",
          "in" : "query",
          "description" : "The number of results displayed on one page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 100,
            "type" : "integer",
            "default" : 100
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "The page number for listing the results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "default" : 1
          }
        }, {
          "name" : "order",
          "in" : "query",
          "description" : "Ordered by tx index in the block.\nThe ordering of items from the point of view of the blockchain,\nnot the page listing itself. By default, we return oldest first, newest last.\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : "asc",
            "enum" : [ "asc", "desc" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Return the transactions within the block.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/block_content_txs"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_400"
                }
              }
            }
          },
          "403" : {
            "description" : "Authentication secret is missing or invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_403"
                }
              }
            }
          },
          "404" : {
            "description" : "Component not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404"
                }
              }
            }
          },
          "429" : {
            "description" : "Usage limit reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_429"
                }
              }
            }
          },
          "418" : {
            "description" : "IP has been auto-banned for extensive sending of requests after usage limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_418"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_500"
                }
              }
            }
          }
        }
      }
    },
    "/genesis" : {
      "get" : {
        "tags" : [ "Cardano » Ledger" ],
        "summary" : "Blockchain genesis",
        "description" : "Return the information about blockchain genesis.",
        "responses" : {
          "200" : {
            "description" : "Return the genesis parameters.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/genesis_content"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_400"
                }
              }
            }
          },
          "403" : {
            "description" : "Authentication secret is missing or invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_403"
                }
              }
            }
          },
          "429" : {
            "description" : "Usage limit reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_429"
                }
              }
            }
          },
          "418" : {
            "description" : "IP has been auto-banned for extensive sending of requests after usage limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_418"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_500"
                }
              }
            }
          }
        }
      }
    },
    "/epochs/latest" : {
      "get" : {
        "tags" : [ "Cardano » Epochs" ],
        "summary" : "Latest epoch",
        "description" : "Return the information about the latest, therefore current, epoch.",
        "responses" : {
          "200" : {
            "description" : "Return the data about the epoch",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/epoch_content"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_400"
                }
              }
            }
          },
          "403" : {
            "description" : "Authentication secret is missing or invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_403"
                }
              }
            }
          },
          "404" : {
            "description" : "Component not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404"
                }
              }
            }
          },
          "429" : {
            "description" : "Usage limit reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_429"
                }
              }
            }
          },
          "418" : {
            "description" : "IP has been auto-banned for extensive sending of requests after usage limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_418"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_500"
                }
              }
            }
          }
        }
      }
    },
    "/epochs/{number}" : {
      "get" : {
        "tags" : [ "Cardano » Epochs" ],
        "summary" : "Specific epoch",
        "description" : "Return the content of the requested epoch.",
        "parameters" : [ {
          "name" : "number",
          "in" : "path",
          "description" : "Number of the epoch",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "225"
        } ],
        "responses" : {
          "200" : {
            "description" : "Return the epoch data.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/epoch_content"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_400"
                }
              }
            }
          },
          "403" : {
            "description" : "Authentication secret is missing or invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_403"
                }
              }
            }
          },
          "404" : {
            "description" : "Component not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404"
                }
              }
            }
          },
          "429" : {
            "description" : "Usage limit reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_429"
                }
              }
            }
          },
          "418" : {
            "description" : "IP has been auto-banned for extensive sending of requests after usage limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_418"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_500"
                }
              }
            }
          }
        }
      }
    },
    "/epochs/{number}/next" : {
      "get" : {
        "tags" : [ "Cardano » Epochs" ],
        "summary" : "Listing of next epochs",
        "description" : "Return the list of epochs following a specific epoch.",
        "parameters" : [ {
          "name" : "number",
          "in" : "path",
          "description" : "Number of the requested epoch.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          },
          "example" : 225
        }, {
          "name" : "count",
          "in" : "query",
          "description" : "The number of results displayed on one page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 100,
            "type" : "integer",
            "default" : 100
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "The page number for listing the results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "default" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Return the data about the epoch",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/epoch_content_array"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_400"
                }
              }
            }
          },
          "403" : {
            "description" : "Authentication secret is missing or invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_403"
                }
              }
            }
          },
          "404" : {
            "description" : "Component not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404"
                }
              }
            }
          },
          "429" : {
            "description" : "Usage limit reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_429"
                }
              }
            }
          },
          "418" : {
            "description" : "IP has been auto-banned for extensive sending of requests after usage limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_418"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_500"
                }
              }
            }
          }
        }
      }
    },
    "/epochs/{number}/previous" : {
      "get" : {
        "tags" : [ "Cardano » Epochs" ],
        "summary" : "Listing of previous epochs",
        "description" : "Return the list of epochs preceding a specific epoch.",
        "parameters" : [ {
          "name" : "number",
          "in" : "path",
          "description" : "Number of the epoch",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          },
          "example" : 225
        }, {
          "name" : "count",
          "in" : "query",
          "description" : "The number of results displayed on one page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 100,
            "type" : "integer",
            "default" : 100
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "The page number for listing the results",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "default" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Return the epoch data",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/epoch_content_array"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_400"
                }
              }
            }
          },
          "403" : {
            "description" : "Authentication secret is missing or invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_403"
                }
              }
            }
          },
          "404" : {
            "description" : "Component not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404"
                }
              }
            }
          },
          "429" : {
            "description" : "Usage limit reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_429"
                }
              }
            }
          },
          "418" : {
            "description" : "IP has been auto-banned for extensive sending of requests after usage limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_418"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_500"
                }
              }
            }
          }
        }
      }
    },
    "/epochs/{number}/stakes" : {
      "get" : {
        "tags" : [ "Cardano » Epochs" ],
        "summary" : "Stake distribution",
        "description" : "Return the active stake distribution for the epoch specified.",
        "parameters" : [ {
          "name" : "number",
          "in" : "path",
          "description" : "Number of the epoch",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          },
          "example" : 225
        }, {
          "name" : "count",
          "in" : "query",
          "description" : "The number of results displayed on one page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 100,
            "type" : "integer",
            "default" : 100
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "The page number for listing the results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "default" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Return the data about the epoch",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/epoch_stake_content"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_400"
                }
              }
            }
          },
          "403" : {
            "description" : "Authentication secret is missing or invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_403"
                }
              }
            }
          },
          "404" : {
            "description" : "Component not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404"
                }
              }
            }
          },
          "429" : {
            "description" : "Usage limit reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_429"
                }
              }
            }
          },
          "418" : {
            "description" : "IP has been auto-banned for extensive sending of requests after usage limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_418"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_500"
                }
              }
            }
          }
        }
      }
    },
    "/epochs/{number}/stakes/{pool_id}" : {
      "get" : {
        "tags" : [ "Cardano » Epochs" ],
        "summary" : "Stake distribution by pool",
        "description" : "Return the active stake distribution for the epoch specified by stake pool.",
        "parameters" : [ {
          "name" : "number",
          "in" : "path",
          "description" : "Number of the epoch",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          },
          "example" : 225
        }, {
          "name" : "pool_id",
          "in" : "path",
          "description" : "Stake pool ID to filter",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "pool1pu5jlj4q9w9jlxeu370a3c9myx47md5j5m2str0naunn2q3lkdy"
        }, {
          "name" : "count",
          "in" : "query",
          "description" : "The number of results displayed on one page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 100,
            "type" : "integer",
            "default" : 100
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "The page number for listing the results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "default" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Return the data about the epoch",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/epoch_stake_pool_content"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_400"
                }
              }
            }
          },
          "403" : {
            "description" : "Authentication secret is missing or invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_403"
                }
              }
            }
          },
          "404" : {
            "description" : "Component not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404"
                }
              }
            }
          },
          "429" : {
            "description" : "Usage limit reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_429"
                }
              }
            }
          },
          "418" : {
            "description" : "IP has been auto-banned for extensive sending of requests after usage limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_418"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_500"
                }
              }
            }
          }
        }
      }
    },
    "/epochs/{number}/blocks" : {
      "get" : {
        "tags" : [ "Cardano » Epochs" ],
        "summary" : "Block distribution",
        "description" : "Return the blocks minted for the epoch specified.",
        "parameters" : [ {
          "name" : "number",
          "in" : "path",
          "description" : "Number of the epoch",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          },
          "example" : 225
        }, {
          "name" : "count",
          "in" : "query",
          "description" : "The number of results displayed on one page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 100,
            "type" : "integer",
            "default" : 100
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "The page number for listing the results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "default" : 1
          }
        }, {
          "name" : "order",
          "in" : "query",
          "description" : "The ordering of items from the point of view of the blockchain,\nnot the page listing itself. By default, we return oldest first, newest last.\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : "asc",
            "enum" : [ "asc", "desc" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Return the data about the epoch",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/epoch_block_content"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_400"
                }
              }
            }
          },
          "403" : {
            "description" : "Authentication secret is missing or invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_403"
                }
              }
            }
          },
          "404" : {
            "description" : "Component not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404"
                }
              }
            }
          },
          "429" : {
            "description" : "Usage limit reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_429"
                }
              }
            }
          },
          "418" : {
            "description" : "IP has been auto-banned for extensive sending of requests after usage limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_418"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_500"
                }
              }
            }
          }
        }
      }
    },
    "/epochs/{number}/blocks/{pool_id}" : {
      "get" : {
        "tags" : [ "Cardano » Epochs" ],
        "summary" : "Block distribution",
        "description" : "Return the block minted for the epoch specified by stake pool.",
        "parameters" : [ {
          "name" : "number",
          "in" : "path",
          "description" : "Number of the epoch",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          },
          "example" : 225
        }, {
          "name" : "pool_id",
          "in" : "path",
          "description" : "Stake pool ID to filter",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "pool1pu5jlj4q9w9jlxeu370a3c9myx47md5j5m2str0naunn2q3lkdy"
        }, {
          "name" : "count",
          "in" : "query",
          "description" : "The number of results displayed on one page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 100,
            "type" : "integer",
            "default" : 100
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "The page number for listing the results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "default" : 1
          }
        }, {
          "name" : "order",
          "in" : "query",
          "description" : "The ordering of items from the point of view of the blockchain,\nnot the page listing itself. By default, we return oldest first, newest last.\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : "asc",
            "enum" : [ "asc", "desc" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Return the data about the epoch",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/epoch_block_content"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_400"
                }
              }
            }
          },
          "403" : {
            "description" : "Authentication secret is missing or invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_403"
                }
              }
            }
          },
          "404" : {
            "description" : "Component not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404"
                }
              }
            }
          },
          "429" : {
            "description" : "Usage limit reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_429"
                }
              }
            }
          },
          "418" : {
            "description" : "IP has been auto-banned for extensive sending of requests after usage limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_418"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_500"
                }
              }
            }
          }
        }
      }
    },
    "/epochs/{number}/parameters" : {
      "get" : {
        "tags" : [ "Cardano » Epochs" ],
        "summary" : "Protocol parameters",
        "description" : "Return the protocol parameters for the epoch specified.",
        "parameters" : [ {
          "name" : "number",
          "in" : "path",
          "description" : "Number of the epoch",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          },
          "example" : 225
        } ],
        "responses" : {
          "200" : {
            "description" : "Return the data about the epoch",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/epoch_param_content"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_400"
                }
              }
            }
          },
          "403" : {
            "description" : "Authentication secret is missing or invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_403"
                }
              }
            }
          },
          "404" : {
            "description" : "Component not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404"
                }
              }
            }
          },
          "429" : {
            "description" : "Usage limit reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_429"
                }
              }
            }
          },
          "418" : {
            "description" : "IP has been auto-banned for extensive sending of requests after usage limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_418"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_500"
                }
              }
            }
          }
        }
      }
    },
    "/txs/{hash}" : {
      "get" : {
        "tags" : [ "Cardano » Transactions" ],
        "summary" : "Specific transaction",
        "description" : "Return content of the requested transaction.",
        "parameters" : [ {
          "name" : "hash",
          "in" : "path",
          "description" : "Hash of the requested transaction",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "64-character case-sensitive hexadecimal string."
          },
          "example" : "6e5f825c42c1c6d6b77f2a14092f3b78c8f1b66db6f4cf8caec1555b6f967b3b"
        } ],
        "responses" : {
          "200" : {
            "description" : "Return the contents of the transaction.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/tx_content"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_400"
                }
              }
            }
          },
          "403" : {
            "description" : "Authentication secret is missing or invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_403"
                }
              }
            }
          },
          "404" : {
            "description" : "Component not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404"
                }
              }
            }
          },
          "429" : {
            "description" : "Usage limit reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_429"
                }
              }
            }
          },
          "418" : {
            "description" : "IP has been auto-banned for extensive sending of requests after usage limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_418"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_500"
                }
              }
            }
          }
        }
      }
    },
    "/txs/{hash}/utxos" : {
      "get" : {
        "tags" : [ "Cardano » Transactions" ],
        "summary" : "Transaction UTXOs",
        "description" : "Return the inputs and UTXOs of the specific transaction.",
        "parameters" : [ {
          "name" : "hash",
          "in" : "path",
          "description" : "Hash of the requested transaction",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "64-character case-sensitive hexadecimal string"
          },
          "example" : "6e5f825c82c1c6d6b77f2a14092f3b78c8f1b66db6f4cf8caec1555b6f967b3b"
        } ],
        "responses" : {
          "200" : {
            "description" : "Return the contents of the transaction.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/tx_content_utxo"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_400"
                }
              }
            }
          },
          "403" : {
            "description" : "Authentication secret is missing or invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_403"
                }
              }
            }
          },
          "404" : {
            "description" : "Component not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404"
                }
              }
            }
          },
          "429" : {
            "description" : "Usage limit reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_429"
                }
              }
            }
          },
          "418" : {
            "description" : "IP has been auto-banned for extensive sending of requests after usage limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_418"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_500"
                }
              }
            }
          }
        }
      }
    },
    "/txs/{hash}/stakes" : {
      "get" : {
        "tags" : [ "Cardano » Transactions" ],
        "summary" : "Transaction stake addresses certificates",
        "description" : "Obtain information about (de)registration of stake addresses within a transaction.\n",
        "parameters" : [ {
          "name" : "hash",
          "in" : "path",
          "description" : "Hash of the requested transaction.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "64-character case-sensitive hexadecimal string."
          },
          "example" : "6e5f825c82c1c6d6b77f2a14092f3b78c8f1b66db6f4cf8caec1555b6f967b3b"
        } ],
        "responses" : {
          "200" : {
            "description" : "Obtain information about (de)registration of stake addresses within a transaction.\n",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/tx_content_stake_addr"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_400"
                }
              }
            }
          },
          "403" : {
            "description" : "Authentication secret is missing or invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_403"
                }
              }
            }
          },
          "404" : {
            "description" : "Component not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404"
                }
              }
            }
          },
          "429" : {
            "description" : "Usage limit reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_429"
                }
              }
            }
          },
          "418" : {
            "description" : "IP has been auto-banned for extensive sending of requests after usage limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_418"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_500"
                }
              }
            }
          }
        }
      }
    },
    "/txs/{hash}/delegations" : {
      "get" : {
        "tags" : [ "Cardano » Transactions" ],
        "summary" : "Transaction delegation certificates",
        "description" : "Obtain information about delegation certificates of a specific transaction.\n",
        "parameters" : [ {
          "name" : "hash",
          "in" : "path",
          "description" : "Hash of the requested transaction.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "64-character case-sensitive hexadecimal string"
          },
          "example" : "6e5f825c82c1c6d6b77f2a14092f3b78c8f1b66db6f4cf8caec1555b6f967b3b"
        } ],
        "responses" : {
          "200" : {
            "description" : "Obtain information about delegation certificates of a specific transaction",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/tx_content_delegations"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_400"
                }
              }
            }
          },
          "403" : {
            "description" : "Authentication secret is missing or invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_403"
                }
              }
            }
          },
          "404" : {
            "description" : "Component not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404"
                }
              }
            }
          },
          "429" : {
            "description" : "Usage limit reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_429"
                }
              }
            }
          },
          "418" : {
            "description" : "IP has been auto-banned for extensive sending of requests after usage limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_418"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_500"
                }
              }
            }
          }
        }
      }
    },
    "/txs/{hash}/withdrawals" : {
      "get" : {
        "tags" : [ "Cardano » Transactions" ],
        "summary" : "Transaction withdrawal",
        "description" : "Obtain information about withdrawals of a specific transaction.",
        "parameters" : [ {
          "name" : "hash",
          "in" : "path",
          "description" : "Hash of the requested transaction.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "64-character case-sensitive hexadecimal string"
          },
          "example" : "6e5f825c82c1c6d6b77f2a14092f3b78c8f1b66db6f4cf8caec1555b6f967b3b"
        } ],
        "responses" : {
          "200" : {
            "description" : "Obtain information about withdrawals of a specific transaction.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/tx_content_withdrawals"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_400"
                }
              }
            }
          },
          "403" : {
            "description" : "Authentication secret is missing or invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_403"
                }
              }
            }
          },
          "404" : {
            "description" : "Component not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404"
                }
              }
            }
          },
          "429" : {
            "description" : "Usage limit reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_429"
                }
              }
            }
          },
          "418" : {
            "description" : "IP has been auto-banned for extensive sending of requests after usage limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_418"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_500"
                }
              }
            }
          }
        }
      }
    },
    "/txs/{hash}/pool_updates" : {
      "get" : {
        "tags" : [ "Cardano » Transactions" ],
        "summary" : "Transaction stake pool registration and update certificates",
        "description" : "Obtain information about stake pool registration and update certificates of a specific transaction.\n",
        "parameters" : [ {
          "name" : "hash",
          "in" : "path",
          "description" : "Hash of the requested transaction",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "64-character case-sensitive hexadecimal string"
          },
          "example" : "6e5f825c82c1c6d6b77f2a14092f3b78c8f1b66db6f4cf8caec1555b6f967b3b"
        } ],
        "responses" : {
          "200" : {
            "description" : "Obtain information about stake pool certificates of a specific transaction",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/tx_content_pool_certs"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_400"
                }
              }
            }
          },
          "403" : {
            "description" : "Authentication secret is missing or invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_403"
                }
              }
            }
          },
          "404" : {
            "description" : "Component not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404"
                }
              }
            }
          },
          "429" : {
            "description" : "Usage limit reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_429"
                }
              }
            }
          },
          "418" : {
            "description" : "IP has been auto-banned for extensive sending of requests after usage limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_418"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_500"
                }
              }
            }
          }
        }
      }
    },
    "/txs/{hash}/pool_retires" : {
      "get" : {
        "tags" : [ "Cardano » Transactions" ],
        "summary" : "Transaction stake pool retirement certificates",
        "description" : "Obtain information about stake pool retirements within a specific transaction.\n",
        "parameters" : [ {
          "name" : "hash",
          "in" : "path",
          "description" : "Hash of the requested transaction",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "64-character case-sensitive hexadecimal string."
          },
          "example" : "6e5f825c82c1c6d6b77f2a14092f3b78c8f1b66db6f4cf8caec1555b6f967b3b"
        } ],
        "responses" : {
          "200" : {
            "description" : "Obtain information about stake pool retirements within a specific transaction.\n",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/tx_content_pool_retires"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_400"
                }
              }
            }
          },
          "403" : {
            "description" : "Authentication secret is missing or invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_403"
                }
              }
            }
          },
          "404" : {
            "description" : "Component not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404"
                }
              }
            }
          },
          "429" : {
            "description" : "Usage limit reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_429"
                }
              }
            }
          },
          "418" : {
            "description" : "IP has been auto-banned for extensive sending of requests after usage limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_418"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_500"
                }
              }
            }
          }
        }
      }
    },
    "/txs/{hash}/metadata" : {
      "get" : {
        "tags" : [ "Cardano » Transactions" ],
        "summary" : "Transaction metadata",
        "description" : "Obtain the transaction metadata.",
        "parameters" : [ {
          "name" : "hash",
          "in" : "path",
          "description" : "Hash of the requested transaction",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "64-character case-sensitive hexadecimal string."
          },
          "example" : "6e5f825c82c1c6d6b77f2a14092f3b78c8f1b66db6f4cf8caec1555b6f967b3b"
        } ],
        "responses" : {
          "200" : {
            "description" : "Obtain information about stake pool retirements within a specific transaction.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/tx_content_metadata"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_400"
                }
              }
            }
          },
          "403" : {
            "description" : "Authentication secret is missing or invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_403"
                }
              }
            }
          },
          "404" : {
            "description" : "Component not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404"
                }
              }
            }
          },
          "429" : {
            "description" : "Usage limit reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_429"
                }
              }
            }
          },
          "418" : {
            "description" : "IP has been auto-banned for extensive sending of requests after usage limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_418"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_500"
                }
              }
            }
          }
        }
      }
    },
    "/txs/{hash}/metadata/cbor" : {
      "get" : {
        "tags" : [ "Cardano » Transactions" ],
        "summary" : "Transaction metadata in CBOR",
        "description" : "Obtain the transaction metadata in CBOR.",
        "parameters" : [ {
          "name" : "hash",
          "in" : "path",
          "description" : "Hash of the requested transaction",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "64-character case-sensitive hexadecimal string."
          },
          "example" : "6e5f825c82c1c6d6b77f2a14092f3b78c8f1b66db6f4cf8caec1555b6f967b3b"
        } ],
        "responses" : {
          "200" : {
            "description" : "Obtain information about stake pool retirements within a specific transaction.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/tx_content_metadata_cbor"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_400"
                }
              }
            }
          },
          "403" : {
            "description" : "Authentication secret is missing or invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_403"
                }
              }
            }
          },
          "404" : {
            "description" : "Component not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404"
                }
              }
            }
          },
          "429" : {
            "description" : "Usage limit reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_429"
                }
              }
            }
          },
          "418" : {
            "description" : "IP has been auto-banned for extensive sending of requests after usage limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_418"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_500"
                }
              }
            }
          }
        }
      }
    },
    "/tx/submit" : {
      "post" : {
        "tags" : [ "Cardano » Transactions" ],
        "summary" : "Submit a transaction",
        "description" : "Submit a base64 encoding serialized transaction to the network.",
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "application/cbor" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Return the ID of the submitted transaction.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "maxLength" : 64,
                  "minLength" : 64,
                  "type" : "string",
                  "format" : "hex",
                  "example" : "d1662b24fa9fe985fc2dce47455df399cb2e31e1e1819339e885801cc3578908"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_400"
                }
              }
            }
          },
          "403" : {
            "description" : "Authentication secret is missing or invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_403"
                }
              }
            }
          },
          "404" : {
            "description" : "Component not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404"
                }
              }
            }
          },
          "429" : {
            "description" : "Usage limit reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_429"
                }
              }
            }
          },
          "418" : {
            "description" : "IP has been auto-banned for extensive sending of requests after usage limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_418"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_500"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{stake_address}" : {
      "get" : {
        "tags" : [ "Cardano » Accounts" ],
        "summary" : "Specific account address",
        "description" : "Obtain information about a specific stake account.\n",
        "parameters" : [ {
          "name" : "stake_address",
          "in" : "path",
          "description" : "Bech32 stake address.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "stake1u9ylzsgxaa6xctf4juup682ar3juj85n8tx3hthnljg47zctvm3rc"
        } ],
        "responses" : {
          "200" : {
            "description" : "Return the account content.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/account_content"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_400"
                }
              }
            }
          },
          "403" : {
            "description" : "Authentication secret is missing or invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_403"
                }
              }
            }
          },
          "404" : {
            "description" : "Component not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404"
                }
              }
            }
          },
          "429" : {
            "description" : "Usage limit reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_429"
                }
              }
            }
          },
          "418" : {
            "description" : "IP has been auto-banned for extensive sending of requests after usage limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_418"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_500"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{stake_address}/rewards" : {
      "get" : {
        "tags" : [ "Cardano » Accounts" ],
        "summary" : "Account reward history",
        "description" : "Obtain information about the history of a specific account.\n",
        "parameters" : [ {
          "name" : "stake_address",
          "in" : "path",
          "description" : "Bech32 stake address.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "stake1u9ylzsgxaa6xctf4juup682ar3juj85n8tx3hthnljg47zctvm3rc"
        }, {
          "name" : "count",
          "in" : "query",
          "description" : "The number of results displayed on one page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 100,
            "type" : "integer",
            "default" : 100
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "The page number for listing the results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "default" : 1
          }
        }, {
          "name" : "order",
          "in" : "query",
          "description" : "The ordering of items from the point of view of the blockchain,\nnot the page listing itself. By default, we return oldest first, newest last.\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : "asc",
            "enum" : [ "asc", "desc" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Return the account content.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/account_reward_content"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_400"
                }
              }
            }
          },
          "403" : {
            "description" : "Authentication secret is missing or invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_403"
                }
              }
            }
          },
          "404" : {
            "description" : "Component not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404"
                }
              }
            }
          },
          "429" : {
            "description" : "Usage limit reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_429"
                }
              }
            }
          },
          "418" : {
            "description" : "IP has been auto-banned for extensive sending of requests after usage limit has been reached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_418"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_500"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{stake_address}/history" : {
      "get" : {
        "tags" : [ "Cardano » Accounts" ],
        "summary" : "Account history",
        "description" : "Obtain information about the history of a specific account.\n",
        "parameters" : [ {
          "name" : "stake_address",
          "in" : "path",
          "description" : "Bech32 stake address.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "stake1u9ylzsgxaa6xctf4juup682ar3juj85n8tx3hthnljg47zctvm3rc"
        }, {
          "name" : "count",
          "in" : "query",
          "description" : "The number of results displayed on one page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 100,
            "type" : "integer",
            "default" : 100
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "The page number for listing the results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "default" : 1
          }
        }, {
          "name" : "order",
          "in" : "query",
          "description" : "The ordering of items from the point of view of the blockchain,\nnot the page listing itself. By default, we return oldest first, newest last.\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : "asc",
            "enum" : [ "asc", "desc" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Return the account content.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/account_history_content"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_400"
                }
              }
            }
          },
          "403" : {
            "description" : "Authentication secret is missing or invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_403"
                }
              }
            }
          },
          "404" : {
            "description" : "Component not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_404"
                }
              }
            }
          },
          "429" : {
            "description" : "Usage limit reached",
            "content" : {
              "application/json" : {
                "schema" : {
[...]
