openapi: 3.0.0
info:
  $ref: ./src/info.yaml

servers:
  - url: https://cardano-mainnet.blockfrost.io/api/v0/
    description: Cardano Mainnet network
  - url: https://cardano-testnet.blockfrost.io/api/v0/
    description: Cardano Testnet network
  - url: https://localhost:3000
    description: local

security:
  - ApiKeyAuth: []

tags:
  - name: Health
  - name: Metrics
  - name: Cardano » Accounts
  - name: Cardano » Addresses
  - name: Cardano » Assets
  - name: Cardano » Blocks
  - name: Cardano » Epochs
  - name: Cardano » Ledger
  - name: Cardano » Metadata
  - name: Cardano » Network
  - name: Cardano » Pools
  - name: Cardano » Scripts
  - name: Cardano » Transactions
  - name: Cardano » Utilities
  - name: IPFS » Add
  - name: IPFS » Gateway
  - name: IPFS » Pins

paths:
  /:
    $ref: ./src/paths/api/root/index.yaml

  /health:
    $ref: ./src/paths/api/health/index.yaml

  /health/clock:
    $ref: ./src/paths/api/health/clock.yaml

  /blocks/latest:
    $ref: ./src/paths/api/blocks/latest/index.yaml

  /blocks/latest/txs:
    $ref: ./src/paths/api/blocks/latest/txs.yaml

  /blocks/{hash_or_number}:
    $ref: ./src/paths/api/blocks/{hash_or_number}/index.yaml

  /blocks/{hash_or_number}/next:
    $ref: ./src/paths/api/blocks/{hash_or_number}/next.yaml

  /blocks/{hash_or_number}/previous:
    $ref: ./src/paths/api/blocks/{hash_or_number}/previous.yaml

  /blocks/slot/{slot_number}:
    $ref: ./src/paths/api/blocks/slot/{slot_number}/index.yaml

  /blocks/epoch/{epoch_number}/slot/{slot_number}:
    $ref: ./src/paths/api/blocks/epoch/{epoch_number}/slot/{slot_number}/index.yaml

  /blocks/{hash_or_number}/txs:
    $ref: ./src/paths/api/blocks/txs/index.yaml

  /blocks/{hash_or_number}/addresses:
    $ref: ./src/paths/api/blocks/addresses/index.yaml

  /genesis:
    $ref: ./src/paths/api/genesis/index.yaml

  /epochs/latest:
    $ref: ./src/paths/api/epochs/latest/index.yaml

  /epochs/latest/parameters:
    $ref: ./src/paths/api/epochs/latest/parameters.yaml

  /epochs/{number}:
    $ref: ./src/paths/api/epochs/{number}/index.yaml

  /epochs/{number}/next:
    $ref: ./src/paths/api/epochs/{number}/next.yaml

  /epochs/{number}/previous:
    $ref: ./src/paths/api/epochs/{number}/previous.yaml

  /epochs/{number}/stakes:
    $ref: ./src/paths/api/epochs/{number}/stakes.yaml

  /epochs/{number}/stakes/{pool_id}:
    $ref: ./src/paths/api/epochs/{number}/stakes/{pool_id}/index.yaml

  /epochs/{number}/blocks:
    $ref: ./src/paths/api/epochs/{number}/blocks/index.yaml

  /epochs/{number}/blocks/{pool_id}:
    $ref: ./src/paths/api/epochs/{number}/{pool_id}/index.yaml

  /epochs/{number}/parameters:
    $ref: ./src/paths/api/epochs/{number}/parameters.yaml

  /txs/{hash}:
    $ref: ./src/paths/api/txs/{hash}/index.yaml

  /txs/{hash}/utxos:
    $ref: ./src/paths/api/txs/{hash}/utxos.yaml

  /txs/{hash}/stakes:
    $ref: ./src/paths/api/txs/{hash}/stakes.yaml

  /txs/{hash}/delegations:
    $ref: ./src/paths/api/txs/{hash}/delegations.yaml

  /txs/{hash}/withdrawals:
    $ref: ./src/paths/api/txs/{hash}/withdrawals.yaml

  /txs/{hash}/mirs:
    $ref: ./src/paths/api/txs/{hash}/mirs.yaml

  /txs/{hash}/pool_updates:
    $ref: ./src/paths/api/txs/{hash}/pool_updates.yaml

  /txs/{hash}/pool_retires:
    $ref: ./src/paths/api/txs/{hash}/pool_retires.yaml

  /txs/{hash}/metadata:
    $ref: ./src/paths/api/txs/{hash}/metadata/index.yaml

  /txs/{hash}/metadata/cbor:
    $ref: ./src/paths/api/txs/{hash}/metadata/cbor.yaml

  /txs/{hash}/redeemers:
    $ref: ./src/paths/api/txs/{hash}/redeemers.yaml

  /tx/submit:
    $ref: ./src/paths/api/tx/submit.yaml

  /accounts/{stake_address}:
    $ref: ./src/paths/api/accounts/{stake_address}/index.yaml

  /accounts/{stake_address}/rewards:
    $ref: ./src/paths/api/accounts/{stake_address}/rewards.yaml

  /accounts/{stake_address}/history:
    $ref: ./src/paths/api/accounts/{stake_address}/history.yaml

  /accounts/{stake_address}/delegations:
    $ref: ./src/paths/api/accounts/{stake_address}/delegations.yaml

  /accounts/{stake_address}/registrations:
    $ref: ./src/paths/api/accounts/{stake_address}/registrations.yaml

  /accounts/{stake_address}/withdrawals:
    $ref: ./src/paths/api/accounts/{stake_address}/withdrawals.yaml

  /accounts/{stake_address}/mirs:
    $ref: ./src/paths/api/accounts/{stake_address}/mirs.yaml

  /accounts/{stake_address}/addresses:
    $ref: ./src/paths/api/accounts/{stake_address}/addresses.yaml

  /accounts/{stake_address}/addresses/assets:
    $ref: ./src/paths/api/accounts/{stake_address}/assets/index.yaml

  /accounts/{stake_address}/addresses/total:
    $ref: ./src/paths/api/accounts/{stake_address}/addresses/total.yaml

  /metadata/txs/labels:
    $ref: ./src/paths/api/metadata/txs/labels/index.yaml

  /metadata/txs/labels/{label}:
    $ref: ./src/paths/api/metadata/txs/labels/{label}/index.yaml

  /metadata/txs/labels/{label}/cbor:
    $ref: ./src/paths/api/metadata/txs/labels/{label}/cbor.yaml

  /addresses/{address}:
    $ref: ./src/paths/api/addresses/{address}/index.yaml

  /addresses/{address}/extended:
    $ref: ./src/paths/api/addresses/{address}/extended.yaml

  /addresses/{address}/total:
    $ref: ./src/paths/api/addresses/{address}/total.yaml

  /addresses/{address}/utxos:
    $ref: ./src/paths/api/addresses/{address}/utxos/index.yaml

  /addresses/{address}/utxos/{asset}:
    $ref: ./src/paths/api/addresses/{address}/utxos/{asset}/index.yaml

  /addresses/{address}/txs:
    $ref: ./src/paths/api/addresses/{address}/txs.yaml

  /addresses/{address}/transactions:
    $ref: ./src/paths/api/addresses/{address}/transactions.yaml

  /pools:
    $ref: ./src/paths/api/pools/index.yaml

  /pools/extended:
    $ref: ./src/paths/api/pools/extended.yaml

  /pools/retired:
    $ref: ./src/paths/api/pools/retired.yaml

  /pools/retiring:
    $ref: ./src/paths/api/pools/retiring.yaml

  /pools/{pool_id}:
    $ref: ./src/paths/api/pools/{pool_id}/index.yaml

  /pools/{pool_id}/history:
    $ref: ./src/paths/api/pools/{pool_id}/history.yaml

  /pools/{pool_id}/metadata:
    $ref: ./src/paths/api/pools/{pool_id}/metadata.yaml

  /pools/{pool_id}/relays:
    $ref: ./src/paths/api/pools/{pool_id}/relays.yaml

  /pools/{pool_id}/delegators:
    $ref: ./src/paths/api/pools/{pool_id}/delegators.yaml

  /pools/{pool_id}/blocks:
    $ref: ./src/paths/api/pools/{pool_id}/blocks.yaml

  /pools/{pool_id}/updates:
    $ref: ./src/paths/api/pools/{pool_id}/updates.yaml

  /assets:
    $ref: ./src/paths/api/assets/index.yaml

  /assets/{asset}:
    $ref: ./src/paths/api/assets/{asset}/index.yaml

  /assets/{asset}/history:
    $ref: ./src/paths/api/assets/{asset}/history.yaml

  /assets/{asset}/txs:
    $ref: ./src/paths/api/assets/{asset}/txs.yaml

  /assets/{asset}/transactions:
    $ref: ./src/paths/api/assets/{asset}/transactions.yaml

  /assets/{asset}/addresses:
    $ref: ./src/paths/api/assets/{asset}/addresses.yaml

  /assets/policy/{policy_id}:
    $ref: ./src/paths/api/assets/policy/{policy_id}/index.yaml

  /scripts:
    $ref: ./src/paths/api/scripts/index.yaml

  /scripts/{script_hash}:
    $ref: ./src/paths/api/scripts/{script_hash}/index.yaml

  /scripts/{script_hash}/json:
    $ref: ./src/paths/api/scripts/{script_hash}/json.yaml

  /scripts/{script_hash}/cbor:
    $ref: ./src/paths/api/scripts/{script_hash}/cbor.yaml

  /scripts/{script_hash}/redeemers:
    $ref: ./src/paths/api/scripts/{script_hash}/redeemers.yaml

  /scripts/datum/{datum_hash}:
    $ref: ./src/paths/api/scripts/datum/{datum_hash}/index.yaml

  /utils/addresses/xpub/{xpub}/{role}/{index}:
    $ref: ./src/paths/api/utils/addresses/xpub/{xpub}/{role}/{index}/index.yaml

  /ipfs/add:
    $ref: ./src/paths/ipfs/add.yaml

  /ipfs/gateway/{IPFS_path}:
    $ref: ./src/paths/ipfs/gateway/{IPFS_path}/index.yaml

  /ipfs/pin/add/{IPFS_path}:
    $ref: ./src/paths/ipfs/pin/add/{IPFS_path}/index.yaml

  /ipfs/pin/list:
    $ref: ./src/paths/ipfs/pin/list/index.yaml

  /ipfs/pin/list/{IPFS_path}:
    $ref: ./src/paths/ipfs/pin/list/{IPFS_path}/index.yaml

  /ipfs/pin/remove/{IPFS_path}:
    $ref: ./src/paths/ipfs/pin/remove/{IPFS_path}/index.yaml

  /metrics/:
    $ref: ./src/paths/api/metrics/index.yaml

  /metrics/endpoints:
    $ref: ./src/paths/api/metrics/endpoints.yaml

  /network:
    $ref: ./src/paths/api/network/index.yaml

  /nutlink/{address}:
    $ref: ./src/paths/api/nutlink/{address}/index.yaml

  /nutlink/{address}/tickers:
    $ref: ./src/paths/api/nutlink/{address}/tickers/index.yaml

  /nutlink/{address}/tickers/{ticker}:
    $ref: ./src/paths/api/nutlink/{address}/tickers/index.yaml

  /nutlink/tickers/{ticker}:
    $ref: ./src/paths/api/nutlink/tickers/{ticker}/index.yaml

components:
  responses:
    overusage_limit:
      description: Usage limit reached
      content:
        application/json:
          schema:
            type: object
            properties:
              status_code:
                type: integer
                example: 429
              error:
                type: string
                example: "Project Over Limit"
              message:
                type: string
                example: "Usage is over limit."
            required:
              - status_code
              - error
              - message

    mempool_full:
      description: Mempool is already full, not accepting new txs straight away
      content:
        application/json:
          schema:
            type: object
            properties:
              status_code:
                type: integer
                example: 425
              error:
                type: string
                example: "Mempool Full"
              message:
                type: string
                example: "Mempool is full, please try resubmitting again later."
            required:
              - status_code
              - error
              - message

    autobanned:
      description: IP has been auto-banned for extensive sending of requests after usage limit has been reached
      content:
        application/json:
          schema:
            type: object
            properties:
              status_code:
                type: integer
                example: 418
              error:
                type: string
                example: "Requested Banned"
              message:
                type: string
                example: "IP has been auto-banned for flooding."
            required:
              - status_code
              - error
              - message

    not_found:
      description: Component not found
      content:
        application/json:
          schema:
            type: object
            properties:
              status_code:
                type: integer
                example: 404
              error:
                type: string
                example: "Not Found"
              message:
                type: string
                example: "The requested component has not been found."
            required:
              - status_code
              - error
              - message

    internal_server_error:
      description: Internal Server Error
      content:
        application/json:
          schema:
            type: object
            properties:
              status_code:
                type: integer
                example: 500
              error:
                type: string
                example: "Internal Server Error"
              message:
                type: string
                example: "An unexpected response was received from the backend."
            required:
              - status_code
              - error
              - message

    unauthorized_error:
      description: Authentication secret is missing or invalid
      content:
        application/json:
          schema:
            type: object
            properties:
              status_code:
                type: integer
                example: 403
              error:
                type: string
                example: "Forbidden"
              message:
                type: string
                example: "Invalid project token."
            required:
              - status_code
              - error
              - message

    bad_request:
      description: Bad request
      content:
        application/json:
          schema:
            type: object
            properties:
              status_code:
                type: integer
                example: 400
              error:
                type: string
                example: "Bad Request"
              message:
                type: string
                example: "Backend did not understand your request."
            required:
              - status_code
              - error
              - message

  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: project_id
      description: |
        There are multiple token types available based on network you choose
        when creating a Blockfrost a project, for a list of token types
        see [Available networks](#section/Available-networks)

  schemas:
    block_content_array:
      type: array
      items:
        $ref: "#/components/schemas/block_content"
    block_content:
      type: object
      properties:
        time:
          type: integer
          example: 1641338934
          description: Block creation time in UNIX time
        height:
          type: integer
          nullable: true
          example: 15243593
          description: Block number
        hash:
          type: string
          example: "4ea1ba291e8eef538635a53e59fddba7810d1679631cc3aed7c8e6c4091a516a"
          description: Hash of the block
        slot:
          type: integer
          nullable: true
          example: 412162133
          description: Slot number
        epoch:
          type: integer
          nullable: true
          example: 425
          description: Epoch number
        epoch_slot:
          type: integer
          nullable: true
          example: 12
          description: Slot within the epoch
        slot_leader:
          type: string
          example: "pool1pu5jlj4q9w9jlxeu370a3c9myx47md5j5m2str0naunn2qnikdy"
          description: Bech32 ID of the slot leader or specific block description in case there is no slot leader
        size:
          type: integer
          example: 3
          description: Block size in Bytes
        tx_count:
          type: integer
          example: 1
          description: Number of transactions in the block
        output:
          type: string
          nullable: true
          example: "128314491794"
          description: Total output within the block in Lovelaces
        fees:
          type: string
          nullable: true
          example: "592661"
          description: Total fees within the block in Lovelaces
        block_vrf:
          type: string
          nullable: true
          example: "vrf_vk1wf2k6lhujezqcfe00l6zetxpnmh9n6mwhpmhm0dvfh3fxgmdnrfqkms8ty"
          description: VRF key of the block
          minLength: 65
          maxLength: 65
        previous_block:
          type: string
          nullable: true
          example: "43ebccb3ac72c7cebd0d9b755a4b08412c9f5dcb81b8a0ad1e3c197d29d47b05"
          description: Hash of the previous block
        next_block:
          type: string
          nullable: true
          example: "8367f026cf4b03e116ff8ee5daf149b55ba5a6ec6dec04803b8dc317721d15fa"
          description: Hash of the next block
        confirmations:
          type: integer
          example: 4698
          description: Number of block confirmations
      required:
        - time
        - height
        - hash
        - slot
        - epoch
        - epoch_slot
        - slot_leader
        - size
        - tx_count
        - output
        - fees
        - block_vrf
        - previous_block
        - next_block
        - confirmations
    block_content_txs:
      type: array
      items:
        type: string
        description: Hash of the transaction
      example:
        - "8788591983aa73981fc92d6cddbbe643959f5a784e84b8bee0db15823f575a5b"
        - "4eef6bb7755d8afbeac526b799f3e32a624691d166657e9d862aaeb66682c036"
        - "52e748c4dec58b687b90b0b40d383b9fe1f24c1a833b7395cdf07dd67859f46f"
        - "e8073fd5318ff43eca18a852527166aa8008bee9ee9e891f585612b7e4ba700b"

    block_content_addresses:
      type: array
      items:
        type: object
        properties:
          address:
            type: string
            description: Address that was affected in the specified block
          transactions:
            type: array
            description: List of transactions containing the address either in their inputs or outputs. Sorted by transaction index within a block, ascending.
            items:
              type: object
              properties:
                tx_hash:
                  type: string
              required:
                - tx_hash
        required:
          - address
          - transactions
      example:
        - address: "addr1q9ld26v2lv8wvrxxmvg90pn8n8n5k6tdst06q2s856rwmvnueldzuuqmnsye359fqrk8hwvenjnqultn7djtrlft7jnq7dy7wv"
          transactions:
            - tx_hash: "1a0570af966fb355a7160e4f82d5a80b8681b7955f5d44bec0dce628516157f0"
        - address: "addr1qxqs59lphg8g6qndelq8xwqn60ag3aeyfcp33c2kdp46a09re5df3pzwwmyq946axfcejy5n4x0y99wqpgtp2gd0k09qsgy6pz"
          transactions:
            - tx_hash: "1a0570af966fb355a7160e4f82d5a80b8681b7955f5d44bec0dce628516157d0"

    genesis_content:
      type: object
      properties:
        active_slots_coefficient:
          type: number
          example: 0.05
          description: The proportion of slots in which blocks should be issued
        update_quorum:
          type: integer
          example: 5
          description: Determines the quorum needed for votes on the protocol parameter updates
        max_lovelace_supply:
          type: string
          example: "45000000000000000"
          description: The total number of lovelace in the system
        network_magic:
          type: integer
          example: 764824073
          description: Network identifier
        epoch_length:
          type: integer
          example: 432000
          description: Number of slots in an epoch
        system_start:
          type: integer
          example: 1506203091
          description: Time of slot 0 in UNIX time
        slots_per_kes_period:
          type: integer
          example: 129600
          description: Number of slots in an KES period
        slot_length:
          type: integer
          example: 1
          description: Duration of one slot in seconds
        max_kes_evolutions:
          type: integer
          example: 62
          description: The maximum number of time a KES key can be evolved before a pool operator must create a new operational certificate
        security_param:
          type: integer
          example: 2160
          description: Security parameter k
      required:
        - active_slots_coefficient
        - update_quorum
        - max_lovelace_supply
        - network_magic
        - epoch_length
        - system_start
        - slots_per_kes_period
        - slot_length
        - max_kes_evolutions
        - security_param
    epoch_content_array:
      type: array
      items:
        $ref: "#/components/schemas/epoch_content"
    epoch_content:
      type: object
      properties:
        epoch:
          type: integer
          example: 225
          description: Epoch number
        start_time:
          type: integer
          example: 1603403091
          description: Unix time of the start of the epoch
        end_time:
          type: integer
          example: 1603835086
          description: Unix time of the end of the epoch
        first_block_time:
          type: integer
          example: 1603403092
          description: Unix time of the first block of the epoch
        last_block_time:
          type: integer
          example: 1603835084
          description: Unix time of the last block of the epoch
        block_count:
          type: integer
          example: 21298
          description: Number of blocks within the epoch
        tx_count:
          type: integer
          example: 17856
          description: Number of transactions within the epoch
        output:
          type: string
          example: "7849943934049314"
          description: Sum of all the transactions within the epoch in Lovelaces
        fees:
          type: string
          example: "4203312194"
          description: Sum of all the fees within the epoch in Lovelaces
        active_stake:
          nullable: true
          type: string
          example: "784953934049314"
          description: Sum of all the active stakes within the epoch in Lovelaces
      required:
        - epoch
        - start_time
        - end_time
        - first_block_time
        - last_block_time
        - block_count
        - tx_count
        - output
        - fees
        - active_stake
    epoch_stake_content:
      type: array
      items:
        properties:
          stake_address:
            type: string
            example: "stake1u9l5q5jwgelgagzyt6nuaasefgmn8pd25c8e9qpeprq0tdcp0e3uk"
            description: Stake address
          pool_id:
            type: string
            example: "pool1pu5jlj4q9w9jlxeu370a3c9myx47md5j5m2str0naunn2q3lkdy"
            description: Bech32 prefix of the pool delegated to
          amount:
            type: string
            example: "4440295078"
            description: Amount of active delegated stake in Lovelaces
        required:
          - stake_address
          - pool_id
          - amount
    epoch_stake_pool_content:
      type: array
      items:
        properties:
          stake_address:
            type: string
            example: "stake1u9l5q5jwgelgagzyt6nuaasefgmn8pd25c8e9qpeprq0tdcp0e3uk"
            description: Stake address
          amount:
            type: string
            example: "4440295078"
            description: Amount of active delegated stake in Lovelaces
        required:
          - stake_address
          - amount
    epoch_block_content:
      type: array
      items:
        type: string
        description: Hash of the block
      example:
        - "d0fa315687e99ccdc96b14cc2ea74a767405d64427b648c470731a9b69e4606e"
        - "38bc6efb92a830a0ed22a64f979d120d26483fd3c811f6622a8c62175f530878"
        - "f3258fcd8b975c061b4fcdcfcbb438807134d6961ec278c200151274893b6b7d"
    epoch_param_content:
      type: object
      properties:
        epoch:
          type: integer
          example: 225
          description: Epoch number
        min_fee_a:
          type: integer
          example: 44
          description: The linear factor for the minimum fee calculation for given epoch
        min_fee_b:
          type: integer
          example: 155381
          description: The constant factor for the minimum fee calculation
        max_block_size:
          type: integer
          example: 65536
          description: Maximum block body size in Bytes
        max_tx_size:
          type: integer
          example: 16384
          description: Maximum transaction size
        max_block_header_size:
          type: integer
          example: 1100
          description: Maximum block header size
        key_deposit:
          type: string
          example: "2000000"
          description: The amount of a key registration deposit in Lovelaces
        pool_deposit:
          type: string
          example: "500000000"
          description: The amount of a pool registration deposit in Lovelaces
        e_max:
          type: integer
          example: 18
          description: Epoch bound on pool retirement
        n_opt:
          type: integer
          example: 150
          description: Desired number of pools
        a0:
          type: number
          example: 0.3
          description: Pool pledge influence
        rho:
          type: number
          example: 0.003
          description: Monetary expansion
        tau:
          type: number
          example: 0.2
          description: Treasury expansion
        decentralisation_param:
          type: number
          example: 0.5
          description: Percentage of blocks produced by federated nodes
        extra_entropy:
          type: object
          nullable: true
          example: null
          description: Seed for extra entropy
        protocol_major_ver:
          type: integer
          example: 2
          description: Accepted protocol major version
        protocol_minor_ver:
          type: integer
          example: 0
          description: Accepted protocol minor version
        min_utxo:
          type: "string"
          example: "1000000"
          description: Minimum UTXO value
        min_pool_cost:
          type: string
          example: "340000000"
          description: Minimum stake cost forced on the pool
        nonce:
          type: string
          example: "1a3be38bcbb7911969283716ad7aa550250226b76a61fc51cc9a9a35d9276d81"
          description: Epoch number only used once
        # cost_models:
        # https://github.com/input-output-hk/cardano-db-sync/pull/758
        price_mem:
          nullable: true
          type: number
          example: 0.0577
          description: The per word cost of script memory usage
        price_step:
          nullable: true
          type: number
          example: 0.0000721
          description: The cost of script execution step usage
        max_tx_ex_mem:
          nullable: true
          type: string
          example: "10000000"
          description: The maximum number of execution memory allowed to be used in a single transaction
        max_tx_ex_steps:
          nullable: true
          type: string
          example: "10000000000"
          description: The maximum number of execution steps allowed to be used in a single transaction
        max_block_ex_mem:
          nullable: true
          type: string
          example: "50000000"
          description: The maximum number of execution memory allowed to be used in a single block
        max_block_ex_steps:
          nullable: true
          type: string
          example: "40000000000"
          description: The maximum number of execution steps allowed to be used in a single block
        max_val_size:
          nullable: true
          type: string
          example: "5000"
          description: The maximum Val size
        collateral_percent:
          nullable: true
          type: integer
          example: 150
          description: The percentage of the transactions fee which must be provided as collateral when including non-native scripts
        max_collateral_inputs:
          nullable: true
          type: integer
          example: 3
          description: The maximum number of collateral inputs allowed in a transaction
        coins_per_utxo_word:
          nullable: true
          type: string
          example: "34482"
          description: The cost per UTxO word
      required:
        - epoch
        - min_fee_a
        - min_fee_b
        - max_block_size
        - max_tx_size
        - max_block_header_size
        - key_deposit
        - pool_deposit
        - e_max
        - n_opt
        - a0
        - rho
        - tau
        - decentralisation_param
        - extra_entropy
        - protocol_major_ver
        - protocol_minor_ver
        - min_utxo
        - min_pool_cost
        - nonce
        - price_mem
        - price_step
        - max_tx_ex_mem
        - max_tx_ex_steps
        - max_block_ex_mem
        - max_block_ex_steps
        - max_val_size
        - collateral_percent
        - max_collateral_inputs
        - coins_per_utxo_word
    tx_content:
      type: object
      properties:
        hash:
          type: string
          example: "1e043f100dce12d107f679685acd2fc0610e10f72a92d412794c9773d11d8477"
          description: Transaction hash
        block:
          type: string
          example: "356b7d7dbb696ccd12775c016941057a9dc70898d87a63fc752271bb46856940"
          description: Block hash
        block_height:
          type: integer
          example: 123456
          description: Block number
        block_time:
          type: integer
          example: 1635505891
          description: Block creation time in UNIX time
        slot:
          type: integer
          example: 42000000
          description: Slot number
        index:
          type: integer
          example: 1
          description: Transaction index within the block
        output_amount:
          type: array
          items:
            type: object
            description: The sum of all the UTXO per asset
            properties:
              unit:
                type: string
                format: Lovelace or concatenation of asset policy_id and hex-encoded asset_name
                description: The unit of the value
              quantity:
                type: string
                description: The quantity of the unit
            required:
              - unit
              - quantity
          example:
            - unit: "lovelace"
              quantity: "42000000"
            - unit: "b0d07d45fe9514f80213f4020e5a61241458be626841cde717cb38a76e7574636f696e"
              quantity: "12"
        fees:
          type: string
          example: "182485"
          description: Fees of the transaction in Lovelaces
        deposit:
          type: string
          example: "0"
          description: Deposit within the transaction in Lovelaces
        size:
          type: integer
          example: 433
          description: Size of the transaction in Bytes
        invalid_before:
          type: string
          nullable: true
          example: null
          description: Left (included) endpoint of the timelock validity intervals
        invalid_hereafter:
          type: string
          nullable: true
          example: "13885913"
          description: Right (excluded) endpoint of the timelock validity intervals
        utxo_count:
          type: integer
          example: 4
          description: Count of UTXOs within the transaction
        withdrawal_count:
          type: integer
          example: 0
          description: Count of the withdrawals within the transaction
        mir_cert_count:
          type: integer
          example: 0
          description: Count of the MIR certificates within the transaction
        delegation_count:
          type: integer
          example: 0
          description: Count of the delegations within the transaction
        stake_cert_count:
          type: integer
          example: 0
          description: Count of the stake keys (de)registration within the transaction
        pool_update_count:
          type: integer
          example: 0
          description: Count of the stake pool registration and update certificates within the transaction
        pool_retire_count:
          type: integer
          example: 0
          description: Count of the stake pool retirement certificates within the transaction
        asset_mint_or_burn_count:
          type: integer
          example: 0
          description: Count of asset mints and burns within the transaction
        redeemer_count:
          type: integer
          example: 0
          description: Count of redeemers within the transaction
        valid_contract:
          type: boolean
          example: true
          description: True if contract script passed validation
      required:
        - hash
        - block
        - block_height
        - block_time
        - slot
        - index
        - output_amount
        - fees
        - deposit
        - size
        - invalid_before
        - invalid_hereafter
        - utxo_count
        - withdrawal_count
        - mir_cert_count
        - delegation_count
        - stake_cert_count
        - pool_update_count
        - pool_retire_count
        - asset_mint_or_burn_count
        - redeemer_count
        - valid_contract
    tx_content_utxo:
      type: object
      properties:
        hash:
          type: string
          example: "1e043f100dce12d107f679685acd2fc0610e10f72a92d412794c9773d11d8477"
          description: Transaction hash
        inputs:
          type: array
          items:
            type: object
            properties:
              address:
                type: string
                example: "addr1q9ld26v2lv8wvrxxmvg90pn8n8n5k6tdst06q2s856rwmvnueldzuuqmnsye359fqrk8hwvenjnqultn7djtrlft7jnq7dy7wv"
                description: Input address
              amount:
                type: array
                items:
                  type: object
                  description: The sum of all the UTXO per asset
                  properties:
                    unit:
                      type: string
                      format: Lovelace or concatenation of asset policy_id and hex-encoded asset_name
                      description: The unit of the value
                    quantity:
                      type: string
                      description: The quantity of the unit
                  required:
                    - unit
                    - quantity
                example:
                  - unit: "lovelace"
                    quantity: "42000000"
                  - unit: "b0d07d45fe9514f80213f4020e5a61241458be626841cde717cb38a76e7574636f696e"
                    quantity: "12"
              tx_hash:
                type: string
                example: "1a0570af966fb355a7160e4f82d5a80b8681b7955f5d44bec0dce628516157f0"
                description: Hash of the UTXO transaction
              output_index:
                type: integer
                example: 0
                description: UTXO index in the transaction
              data_hash:
                type: string
                description: The hash of the transaction output datum
                example: "9e478573ab81ea7a8e31891ce0648b81229f408d596a3483e6f4f9b92d3cf710"
                nullable: true
              collateral:
                type: boolean
                example: false
                description: Whether the input is a collateral consumed on script validation failure
            required:
              - address
              - amount
              - tx_hash
              - output_index
              - data_hash
              - collateral
        outputs:
          type: array
          items:
            type: object
            properties:
              address:
                type: string
                example: "addr1q9ld26v2lv8wvrxxmvg90pn8n8n5k6tdst06q2s856rwmvnueldzuuqmnsye359fqrk8hwvenjnqultn7djtrlft7jnq7dy7wv"
                description: Output address
              amount:
                type: array
                items:
                  type: object
                  description: The sum of all the UTXO per asset
                  properties:
                    unit:
                      type: string
                      format: Lovelace or concatenation of asset policy_id and hex-encoded asset_name
                      description: The unit of the value
                    quantity:
                      type: string
                      description: The quantity of the unit
                  required:
                    - unit
                    - quantity
                example:
                  - unit: "lovelace"
                    quantity: "42000000"
                  - unit: "b0d07d45fe9514f80213f4020e5a61241458be626841cde717cb38a76e7574636f696e"
                    quantity: "12"
              output_index:
                type: integer
                example: 0
                description: UTXO index in the transaction
              data_hash:
                type: string
                description: The hash of the transaction output datum
                nullable: true
                example: "9e478573ab81ea7a8e31891ce0648b81229f408d596a3483e6f4f9b92d3cf710"
            required:
              - address
              - amount
              - output_index
              - data_hash
      required:
        - hash
        - inputs
        - outputs
    tx_content_stake_addr:
      type: array
      items:
        type: object
        properties:
          cert_index:
            type: integer
            example: 0
            description: Index of the certificate within the transaction
          address:
            type: string
            example: "stake1u9t3a0tcwune5xrnfjg4q7cpvjlgx9lcv0cuqf5mhfjwrvcwrulda"
            description: Delegation stake address
          registration:
            type: boolean
            example: true
            description: Registration boolean, false if deregistration
        required:
          - cert_index
          - address
          - registration
    tx_content_delegations:
      type: array
      items:
        type: object
        properties:
          index:
            type: integer
            example: 0
            description: Index of the certificate within the transaction
            deprecated: true
          cert_index:
            type: integer
            example: 0
            description: Index of the certificate within the transaction
          address:
            type: string
            example: "stake1u9r76ypf5fskppa0cmttas05cgcswrttn6jrq4yd7jpdnvc7gt0yc"
            description: Bech32 delegation stake address
          pool_id:
            type: string
            example: "pool1pu5jlj4q9w9jlxeu370a3c9myx47md5j5m2str0naunn2q3lkdy"
            description: Bech32 ID of delegated stake pool
          active_epoch:
            type: integer
            example: 210
            description: Epoch in which the delegation becomes active
        required:
          - index
          - cert_index
          - address
          - pool_id
          - active_epoch
    tx_content_withdrawals:
      type: array
      items:
        type: object
        properties:
          address:
            type: string
            example: "stake1u9r76ypf5fskppa0cmttas05cgcswrttn6jrq4yd7jpdnvc7gt0yc"
            description: Bech32 withdrawal address
          amount:
            type: string
            example: "431833601"
            description: Withdrawal amount in Lovelaces
        required:
          - address
          - amount
    tx_content_mirs:
      type: array
      items:
        type: object
        properties:
          pot:
            type: string
            enum: [reserve, treasury]
            example: "reserve"
            description: Source of MIR funds
          cert_index:
            type: integer
            example: 0
            description: Index of the certificate within the transaction
          address:
            type: string
            example: "stake1u9r76ypf5fskppa0cmttas05cgcswrttn6jrq4yd7jpdnvc7gt0yc"
            description: Bech32 stake address
          amount:
            type: string
            example: "431833601"
            description: MIR amount in Lovelaces
        required:
          - pot
          - cert_index
          - address
          - amount
    tx_content_pool_certs:
      type: array
      items:
        type: object
        properties:
          cert_index:
            type: integer
            example: 0
            description: Index of the certificate within the transaction
          pool_id:
            type: string
            example: "pool1pu5jlj4q9w9jlxeu370a3c9myx47md5j5m2str0naunn2q3lkdy"
            description: Bech32 encoded pool ID
          vrf_key:
            type: string
            example: "0b5245f9934ec2151116fb8ec00f35fd00e0aa3b075c4ed12cce440f999d8233"
            description: VRF key hash
          pledge:
            type: string
            example: "5000000000"
            description: Stake pool certificate pledge in Lovelaces
          margin_cost:
            type: number
            example: 0.05
            description: Margin tax cost of the stake pool
          fixed_cost:
            type: string
            example: "340000000"
            description: Fixed tax cost of the stake pool in Lovelaces
          reward_account:
            type: string
            example: "stake1uxkptsa4lkr55jleztw43t37vgdn88l6ghclfwuxld2eykgpgvg3f"
            description: Bech32 reward account of the stake pool
          owners:
            type: array
            items:
              type: string
              description: Bech32 accounts of the pool owners
            example:
              - "stake1u98nnlkvkk23vtvf9273uq7cph5ww6u2yq2389psuqet90sv4xv9v"
          metadata:
            type: object
            nullable: true
            properties:
              url:
                type: string
                nullable: true
                example: "https://stakenuts.com/mainnet.json"
                description: URL to the stake pool metadata
              hash:
                type: string
                nullable: true
                example: "47c0c68cb57f4a5b4a87bad896fc274678e7aea98e200fa14a1cb40c0cab1d8c"
                description: Hash of the metadata file
              ticker:
                type: string
                nullable: true
                example: "NUTS"
                description: Ticker of the stake pool
              name:
                type: string
                nullable: true
                example: "Stake Nuts"
                description: Name of the stake pool
              description:
                type: string
                nullable: true
                example: "The best pool ever"
                description: Description of the stake pool
              homepage:
                type: string
                nullable: true
                example: "https://stakentus.com/"
                description: Home page of the stake pool
            required:
              - url
              - hash
              - ticker
              - name
              - description
              - homepage
          relays:
            type: array
            items:
              type: object
              properties:
                ipv4:
                  type: string
                  nullable: true
                  example: "4.4.4.4"
                  description: IPv4 address of the relay
                ipv6:
                  type: string
                  nullable: true
                  example: "https://stakenuts.com/mainnet.json"
                  description: IPv6 address of the relay
                dns:
                  type: string
                  nullable: true
                  example: "relay1.stakenuts.com"
                  description: DNS name of the relay
                dns_srv:
                  type: string
                  nullable: true
                  example: "_relays._tcp.relays.stakenuts.com"
                  description: DNS SRV entry of the relay
                port:
                  type: integer
                  example: 3001
                  description: Network port of the relay
              required:
                - ipv4
                - ipv6
                - dns
                - dns_srv
                - port
          active_epoch:
            type: integer
            example: 210
            description: Epoch in which the update becomes active
        required:
          - cert_index
          - pool_id
          - vrf_key
          - pledge
          - margin_cost
          - fixed_cost
          - reward_account
          - owners
          - metadata
          - relays
          - active_epoch
    tx_content_pool_retires:
      type: array
      items:
        type: object
        properties:
          cert_index:
            type: integer
            example: 0
            description: Index of the certificate within the transaction
          pool_id:
            type: string
            example: "pool1pu5jlj4q9w9jlxeu370a3c9myx47md5j5m2str0naunn2q3lkdy"
            description: Bech32 stake pool ID
          retiring_epoch:
            type: integer
            example: 216
            description: Epoch in which the pool becomes retired
        required:
          - cert_index
          - pool_id
          - retiring_epoch
    tx_content_metadata:
      type: array
      items:
        type: object
        properties:
          label:
            type: string
            description: Metadata label
          json_metadata:
            oneOf:
              - type: string
              - type: object
            description: Content of the metadata
        required:
          - label
          - json_metadata
      example:
        - label: "1967"
          json_metadata:
            {
              "metadata": "https://nut.link/metadata.json",
              "hash": "6bf124f217d0e5a0a8adb1dbd8540e1334280d49ab861127868339f43b3948af",
            }
        - label: "1968"
          json_metadata:
            {
              "ADAUSD":
                [{ "value": "0.10409800535729975", "source": "ergoOracles" }],
            }
    tx_content_metadata_cbor:
      type: array
      items:
        type: object
        properties:
          label:
            type: string
            description: Metadata label
          cbor_metadata:
            deprecated: true
            type: string
            nullable: true
            description: Content of the CBOR metadata
          metadata:
            type: string
            nullable: true
            description: Content of the CBOR metadata in hex
        required:
          - label
          - cbor_metadata
          - metadata
      example:
        - label: "1968"
          cbor_metadata: "\\xa100a16b436f6d62696e6174696f6e8601010101010c"
          metadata: "a100a16b436f6d62696e6174696f6e8601010101010c"
    tx_content_redeemers:
      type: array
      items:
        type: object
        properties:
          tx_index:
            type: integer
            example: 0
            description: Index of the redeemer within the transaction
          purpose:
            type: string
            enum: [spend, mint, cert, reward]
            example: "spend"
            description: Validation purpose
          script_hash:
            type: string
            example: "ec26b89af41bef0f7585353831cb5da42b5b37185e0c8a526143b824"
            description: Script hash
          datum_hash:
            type: string
            example: "923918e403bf43c34b4ef6b48eb2ee04babed17320d8d1b9ff9ad086e86f44ec"
            description: Datum hash
          unit_mem:
            type: string
            example: "1700"
            description: The budget in Memory to run a script
          unit_steps:
            type: string
            example: "476468"
            description: The budget in CPU steps to run a script
          fee:
            type: string
            example: "172033"
            description: The fee consumed to run the script
        required:
          - tx_index
          - purpose
          - unit_mem
          - unit_steps
          - script_hash
          - datum_hash
          - fee

    account_content:
      type: object
      properties:
        stake_address:
          type: string
          example: stake1ux3g2c9dx2nhhehyrezyxpkstartcqmu9hk63qgfkccw5rqttygt7
          description: Bech32 stake address
        active:
          type: boolean
          example: true
          description: Registration state of an account
        active_epoch:
          type: integer
          example: 412
          description: Epoch of the most recent action - registration or deregistration
        controlled_amount:
          type: string
          example: "619154618165"
          description: Balance of the account in Lovelaces
        rewards_sum:
          type: string
          example: "319154618165"
          description: Sum of all rewards for the account in the Lovelaces
        withdrawals_sum:
          type: string
          example: "12125369253"
          description: Sum of all the withdrawals for the account in Lovelaces
        reserves_sum:
          type: string
          example: "319154618165"
          description: Sum of all  funds from reserves for the account in the Lovelaces
        treasury_sum:
          type: string
          example: "12000000"
          description: Sum of all funds from treasury for the account in the Lovelaces
        withdrawable_amount:
          type: string
          example: "319154618165"
          description: Sum of available rewards that haven't been withdrawn yet for the account in the Lovelaces
        pool_id:
          type: string
          nullable: true
          example: pool1pu5jlj4q9w9jlxeu370a3c9myx47md5j5m2str0naunn2q3lkdy
          description: Bech32 pool ID that owns the account
      required:
        - stake_address
        - active
        - active_epoch
        - controlled_amount
        - rewards_sum
        - withdrawals_sum
        - reserves_sum
        - treasury_sum
        - withdrawable_amount
        - pool_id
    account_addresses_content:
      type: array
      items:
        type: object
        properties:
          address:
            type: string
            description: Address associated with the stake key
        required:
          - address
      example:
        - address: "addr1qx2kd28nq8ac5prwg32hhvudlwggpgfp8utlyqxu6wqgz62f79qsdmm5dsknt9ecr5w468r9ey0fxwkdrwh08ly3tu9sy0f4qd"
        - address: "addr1qys3czp8s9thc6u2fqed9yq3h24nyw28uk0m6mkgn9dkckjf79qsdmm5dsknt9ecr5w468r9ey0fxwkdrwh08ly3tu9suth4w4"
        - address: "addr1q8j55h253zcvl326sk5qdt2n8z7eghzspe0ekxgncr796s2f79qsdmm5dsknt9ecr5w468r9ey0fxwkdrwh08ly3tu9sjmd35m"
        - address: "addr1q8f7gxrprank3drhx8k5grlux7ene0nlwun8y9thu8mc3yjf79qsdmm5dsknt9ecr5w468r9ey0fxwkdrwh08ly3tu9sls6vnt"
    account_addresses_assets:
      type: array
      items:
        type: object
        description: The sum of all assets of all addresses associated with a given account
        properties:
          unit:
            type: string
            format: Concatenation of asset policy_id and hex-encoded asset_name
            description: The unit of the value
          quantity:
            type: string
            description: The quantity of the unit
        required:
          - unit
          - quantity
      example:
        - unit: "d5e6bf0500378d4f0da4e8dde6becec7621cd8cbf5cbb9b87013d4cc537061636542756433343132"
          quantity: "1"
        - unit: "b0d07d45fe9514f80213f4020e5a61241458be626841cde717cb38a76e7574636f696e"
          quantity: "125"
    account_addresses_total:
      type: object
      properties:
        stake_address:
          type: string
          description: Bech32 encoded stake address
          example: stake1u9l5q5jwgelgagzyt6nuaasefgmn8pd25c8e9qpeprq0tdcp0e3uk
        received_sum:
          type: array
          items:
            type: object
            description: The sum of all the UTXO per asset for all addresses associated with the account
            properties:
              unit:
                type: string
                format: Lovelace or concatenation of asset policy_id and hex-encoded asset_name
                description: The unit of the value
              quantity:
                type: string
                description: The quantity of the unit
            required:
              - unit
              - quantity
          example:
            - unit: "lovelace"
              quantity: "42000000"
            - unit: "b0d07d45fe9514f80213f4020e5a61241458be626841cde717cb38a76e7574636f696e"
              quantity: "12"
        sent_sum:
          type: array
          items:
            type: object
            description: The sum of all the UTXO per asset for all addresses associated with the account
            properties:
              unit:
                type: string
                format: Lovelace or concatenation of asset policy_id and hex-encoded asset_name
                description: The unit of the value
              quantity:
                type: string
                description: The quantity of the unit
            required:
              - unit
              - quantity
          example:
            - unit: "lovelace"
              quantity: "42000000"
            - unit: "b0d07d45fe9514f80213f4020e5a61241458be626841cde717cb38a76e7574636f696e"
              quantity: "12"
        tx_count:
          type: integer
          example: 12
          description: Count of all transactions for all addresses associated with the account
      required:
        - stake_address
        - received_sum
        - sent_sum
        - tx_count
    account_reward_content:
      type: array
      items:
        type: object
        properties:
          epoch:
            type: integer
            description: Epoch of the associated reward
          amount:
            type: string
            description: Rewards for given epoch in Lovelaces
          pool_id:
            type: string
            description: Bech32 pool ID being delegated to
        required:
          - epoch
          - amount
          - pool_id
      example:
        - epoch: 215
          amount: "12695385"
          pool_id: "pool1pu5jlj4q9w9jlxeu370a3c9myx47md5j5m2str0naunn2q3lkdy"
        - epoch: 216
          amount: "3586329"
          pool_id: "pool1pu5jlj4q9w9jlxeu370a3c9myx47md5j5m2str0naunn2q3lkdy"
        - epoch: 217
          amount: "0"
          pool_id: "pool1pu5jlj4q9w9jlxeu370a3c9myx47md5j5m2str0naunn2q3lkdy"
        - epoch: 218
          amount: "1395265"
          pool_id: "pool1pu5jlj4q9w9jlxeu370a3c9myx47md5j5m2str0naunn2q3lkdy"
    account_delegation_content:
      type: array
      items:
        type: object
        properties:
          active_epoch:
            type: integer
            example: 210
            description: Epoch in which the delegation becomes active
          tx_hash:
            type: string
            description: Hash of the transaction containing the delegation
          amount:
            type: string
            description: Rewards for given epoch in Lovelaces
          pool_id:
            type: string
            description: Bech32 ID of pool being delegated to
        required:
          - active_epoch
          - tx_hash
          - amount
          - pool_id
      example:
        - active_epoch: 210
          tx_hash: "2dd15e0ef6e6a17841cb9541c27724072ce4d4b79b91e58432fbaa32d9572531"
          amount: "12695385"
          pool_id: "pool1pu5jlj4q9w9jlxeu370a3c9myx47md5j5m2str0naunn2q3lkdy"
        - active_epoch: 242
          tx_hash: "1a0570af966fb355a7160e4f82d5a80b8681b7955f5d44bec0dde628516157f0"
          amount: "12691385"
          pool_id: "pool1kchver88u3kygsak8wgll7htr8uxn5v35lfrsyy842nkscrzyvj"
    account_history_content:
      type: array
      items:
        type: object
        properties:
          active_epoch:
            type: integer
            example: 210
            description: Epoch in which the stake was active
          amount:
            type: string
            description: Stake amount in Lovelaces
          pool_id:
            type: string
            description: Bech32 ID of pool being delegated to
        required:
          - active_epoch
          - amount
          - pool_id
      example:
        - active_epoch: 210
          amount: "12695385"
          pool_id: "pool1pu5jlj4q9w9jlxeu370a3c9myx47md5j5m2str0naunn2q3lkdy"
        - active_epoch: 211
          amount: "22695385"
          pool_id: "pool1pu5jlj4q9w9jlxeu370a3c9myx47md5j5m2str0naunn2q3lkdy"
    account_registration_content:
      type: array
      items:
        type: object
        properties:
          tx_hash:
            type: string
            description: Hash of the transaction containing the (de)registration certificate
          action:
            type: string
            enum: [registered, deregistered]
            description: Action in the certificate
        required:
          - tx_hash
          - action
      example:
        - tx_hash: "2dd15e0ef6e6a17841cb9541c27724072ce4d4b79b91e58432fbaa32d9572531"
          action: registered
        - tx_hash: "1a0570af966fb355a7160e4f82d5a80b8681b7955f5d44bec0dde628516157f0"
          action: deregistered
    account_withdrawal_content:
      type: array
      items:
        type: object
        properties:
          tx_hash:
            type: string
            description: Hash of the transaction containing the withdrawal
          amount:
            type: string
            description: Withdrawal amount in Lovelaces
        required:
          - tx_hash
          - amount
      example:
        - tx_hash: "48a9625c841eea0dd2bb6cf551eabe6523b7290c9ce34be74eedef2dd8f7ecc5"
          amount: "454541212442"
        - tx_hash: "4230b0cbccf6f449f0847d8ad1d634a7a49df60d8c142bb8cc2dbc8ca03d9e34"
          amount: "97846969"
    account_mir_content:
      type: array
      items:
        type: object
        properties:
          tx_hash:
            type: string
            description: Hash of the transaction containing the MIR
          amount:
            type: string
            description: MIR amount in Lovelaces
        required:
          - tx_hash
          - amount
      example:
        - tx_hash: "69705bba1d687a816ff5a04ec0c358a1f1ef075ab7f9c6cc2763e792581cec6d"
          amount: "2193707473"
        - tx_hash: "baaa77b63d4d7d2bb3ab02c9b85978c2092c336dede7f59e31ad65452d510c13"
          amount: "14520198574"
    address_content:
      type: object
      properties:
        address:
          type: string
          description: Bech32 encoded addresses
          example: addr1qxqs59lphg8g6qndelq8xwqn60ag3aeyfcp33c2kdp46a09re5df3pzwwmyq946axfcejy5n4x0y99wqpgtp2gd0k09qsgy6pz
        amount:
          type: array
          items:
            type: object
            description: The sum of all the UTXO per asset
            properties:
              unit:
                type: string
                format: Lovelace or concatenation of asset policy_id and hex-encoded asset_name
                description: The unit of the value
              quantity:
                type: string
                description: The quantity of the unit
            required:
              - unit
              - quantity
          example:
            - unit: "lovelace"
              quantity: "42000000"
            - unit: "b0d07d45fe9514f80213f4020e5a61241458be626841cde717cb38a76e7574636f696e"
              quantity: "12"
        stake_address:
          type: string
          nullable: true
          example: stake1ux3g2c9dx2nhhehyrezyxpkstartcqmu9hk63qgfkccw5rqttygt7
          description: Stake address that controls the key
        type:
          type: string
          enum: [byron, shelley]
          example: shelley
          description: Address era
        script:
          type: boolean
          example: false
          description: True if this is a script address
      required:
        - address
        - amount
        - stake_address
        - type
        - script

    address_content_extended:
      type: object
      properties:
        address:
          type: string
          description: Bech32 encoded addresses
          example: addr1qxqs59lphg8g6qndelq8xwqn60ag3aeyfcp33c2kdp46a09re5df3pzwwmyq946axfcejy5n4x0y99wqpgtp2gd0k09qsgy6pz
        amount:
          type: array
          items:
            type: object
            description: The sum of all the UTXO per asset
            properties:
              unit:
                type: string
                format: Lovelace or concatenation of asset policy_id and hex-encoded asset_name
                description: The unit of the value
              quantity:
                type: string
                description: The quantity of the unit
              decimals:
                type: integer
                nullable: true
                description: Number of decimal places of the asset unit
              has_nft_onchain_metadata:
                type: boolean
                description: The latest minting transaction includes the NFT metadata according to CIP25
            required:
              - unit
              - quantity
              - decimals
              - has_nft_onchain_metadata
          example:
            - unit: "lovelace"
              quantity: "42000000"
              decimals: 6
              has_nft_onchain_metadata: false
            - unit: "b0d07d45fe9514f80213f4020e5a61241458be626841cde717cb38a76e7574636f696e"
              quantity: "12"
              decimals: null
              has_nft_onchain_metadata: true
        stake_address:
          type: string
          nullable: true
          example: stake1ux3g2c9dx2nhhehyrezyxpkstartcqmu9hk63qgfkccw5rqttygt7
          description: Stake address that controls the key
        type:
          type: string
          enum: [byron, shelley]
          example: shelley
          description: Address era
        script:
          type: boolean
          example: false
          description: True if this is a script address
      required:
        - address
        - amount
        - stake_address
        - type
        - script

    address_content_total:
      type: object
      properties:
        address:
          type: string
          description: Bech32 encoded address
          example: addr1qxqs59lphg8g6qndelq8xwqn60ag3aeyfcp33c2kdp46a09re5df3pzwwmyq946axfcejy5n4x0y99wqpgtp2gd0k09qsgy6pz
        received_sum:
          type: array
          items:
            type: object
            description: The sum of all the UTXO per asset
            properties:
              unit:
                type: string
                format: Lovelace or concatenation of asset policy_id and hex-encoded asset_name
                description: The unit of the value
              quantity:
                type: string
                description: The quantity of the unit
            required:
              - unit
              - quantity
          example:
            - unit: "lovelace"
              quantity: "42000000"
            - unit: "b0d07d45fe9514f80213f4020e5a61241458be626841cde717cb38a76e7574636f696e"
              quantity: "12"
        sent_sum:
          type: array
          items:
            type: object
            description: The sum of all the UTXO per asset
            properties:
              unit:
                type: string
                format: Lovelace or concatenation of asset policy_id and hex-encoded asset_name
                description: The unit of the value
              quantity:
                type: string
                description: The quantity of the unit
            required:
              - unit
              - quantity
          example:
            - unit: "lovelace"
              quantity: "42000000"
            - unit: "b0d07d45fe9514f80213f4020e5a61241458be626841cde717cb38a76e7574636f696e"
              quantity: "12"
        tx_count:
          type: integer
          example: 12
          description: Count of all transactions on the address
      required:
        - address
        - received_sum
        - sent_sum
        - tx_count
    address_utxo_content:
      type: array
      items:
        type: object
        properties:
          tx_hash:
            type: string
            description: Transaction hash of the UTXO
          tx_index:
            type: integer
            deprecated: true
            description: UTXO index in the transaction
          output_index:
            type: integer
            description: UTXO index in the transaction
          amount:
            type: array
            items:
              type: object
              description: The sum of all the UTXO per asset
              properties:
                unit:
                  type: string
                  format: Lovelace or concatenation of asset policy_id and hex-encoded asset_name
                  description: The unit of the value
                quantity:
                  type: string
                  description: The quantity of the unit
              required:
                - unit
                - quantity
          block:
            type: string
            description: Block hash of the UTXO
          data_hash:
            type: string
            description: The hash of the transaction output datum
            nullable: true
        required:
          - tx_hash
          - tx_index
          - output_index
          - amount
          - block
          - data_hash
      example:
        - tx_hash: "39a7a284c2a0948189dc45dec670211cd4d72f7b66c5726c08d9b3df11e44d58"
          output_index: 0
          amount:
            - unit: "lovelace"
              quantity: "42000000"
          block: "7eb8e27d18686c7db9a18f8bbcfe34e3fed6e047afaa2d969904d15e934847e6"
          data_hash: "9e478573ab81ea7a8e31891ce0648b81229f408d596a3483e6f4f9b92d3cf710"
        - tx_hash: "4c4e67bafa15e742c13c592b65c8f74c769cd7d9af04c848099672d1ba391b49"
          output_index: 0
          amount:
            - unit: "lovelace"
              quantity: "729235000"
          block: "953f1b80eb7c11a7ffcd67cbd4fde66e824a451aca5a4065725e5174b81685b7"
          data_hash: null
        - tx_hash: "768c63e27a1c816a83dc7b07e78af673b2400de8849ea7e7b734ae1333d100d2"
          output_index: 1
          amount:
            - unit: "lovelace"
              quantity: "42000000"
            - unit: "b0d07d45fe9514f80213f4020e5a61241458be626841cde717cb38a76e7574636f696e"
              quantity: "12"
          block: "5c571f83fe6c784d3fbc223792627ccf0eea96773100f9aedecf8b1eda4544d7"
          data_hash: null
    address_txs_content:
      type: array
      items:
        type: string
        description: Hash of the transaction
      example:
        - "2dd15e0ef6e6a17841cb9541c27724072ce4d4b79b91e58432fbaa32d9572531"
        - "1a0570af966fb355a7160e4f82d5a80b8681b7955f5d44bec0dde628516157f0"
    address_transactions_content:
      type: array
      items:
        type: object
        properties:
          tx_hash:
            type: string
            description: Hash of the transaction
          tx_index:
            type: integer
            description: Transaction index within the block
          block_height:
            type: integer
            description: Block height
          block_time:
            type: integer
            description: Block creation time in UNIX time
        required:
          - tx_hash
          - tx_index
          - block_height
          - block_time
      example:
        - tx_hash: "8788591983aa73981fc92d6cddbbe643959f5a784e84b8bee0db15823f575a5b"
          tx_index: 6
          block_height: 69
          block_time: 1635505891
        - tx_hash: "52e748c4dec58b687b90b0b40d383b9fe1f24c1a833b7395cdf07dd67859f46f"
          tx_index: 9
          block_height: 4547
          block_time: 1635505987
        - tx_hash: "e8073fd5318ff43eca18a852527166aa8008bee9ee9e891f585612b7e4ba700b"
          tx_index: 0
          block_height: 564654
          block_time: 1834505492
    tx_metadata_labels:
      type: array
      items:
        type: object
        properties:
          label:
            type: string
            description: Metadata label
          cip10:
            type: string
            nullable: true
            description: CIP10 defined description
          count:
            type: string
            description: The count of metadata entries with a specific label
        required:
          - label
          - cip10
          - count
      example:
        - { label: "1990", cip10: null, count: "1" }
        - {
            label: "1967",
            cip10: "nut.link metadata oracles registry",
            count: "3",
          }
        - {
            label: "1968",
            cip10: "nut.link metadata oracles data points",
            count: "16321",
          }
    tx_metadata_label_json:
      type: array
      items:
        type: object
        properties:
          tx_hash:
            type: string
            description: Transaction hash that contains the specific metadata
          json_metadata:
            anyOf:
              - type: string
              - type: object
              - type: array
                items: {}
              - type: integer
              - type: number
              - type: boolean
            nullable: true
            description: Content of the JSON metadata
        required:
          - tx_hash
          - json_metadata
      example:
        - tx_hash: "257d75c8ddb0434e9b63e29ebb6241add2b835a307aa33aedba2effe09ed4ec8"
          json_metadata:
            {
              "ADAUSD":
                [{ "value": "0.10409800535729975", "source": "ergoOracles" }],
            }
        - tx_hash: "e865f2cc01ca7381cf98dcdc4de07a5e8674b8ea16e6a18e3ed60c186fde2b9c"
          json_metadata:
            {
              "ADAUSD":
                [{ "value": "0.15409850555139935", "source": "ergoOracles" }],
            }
        - tx_hash: 4237501da3cfdd53ade91e8911e764bd0699d88fd43b12f44a1f459b89bc91be
          json_metadata: null
    tx_metadata_label_cbor:
      type: array
      items:
        type: object
        properties:
          tx_hash:
            type: string
            description: Transaction hash that contains the specific metadata
          cbor_metadata:
            deprecated: true
            type: string
            nullable: true
            description: Content of the CBOR metadata
          metadata:
            type: string
            nullable: true
            description: Content of the CBOR metadata in hex
        required:
          - tx_hash
          - cbor_metadata
          - metadata
      example:
        - tx_hash: "257d75c8ddb0434e9b63e29ebb6241add2b835a307aa33aedba2effe09ed4ec8"
          cbor_metadata: null
          metadata: null
        - tx_hash: "e865f2cc01ca7381cf98dcdc4de07a5e8674b8ea16e6a18e3ed60c186fde2b9c"
          cbor_metadata: null
          metadata: null
        - tx_hash: 4237501da3cfdd53ade91e8911e764bd0699d88fd43b12f44a1f459b89bc91be
          cbor_metadata: "\\xa100a16b436f6d62696e6174696f6e8601010101010c"
          metadata: "a100a16b436f6d62696e6174696f6e8601010101010c"
    pool_list:
      type: array
      items:
        type: string
        description: Bech32 encoded pool ID
      example:
        - "pool1pu5jlj4q9w9jlxeu370a3c9myx47md5j5m2str0naunn2q3lkdy"
        - "pool1hn7hlwrschqykupwwrtdfkvt2u4uaxvsgxyh6z63703p2knj288"
        - "pool1ztjyjfsh432eqetadf82uwuxklh28xc85zcphpwq6mmezavzad2"
    pool_list_extended:
      type: array
      items:
        type: object
        properties:
          pool_id:
            type: string
            example: "pool1z5uqdk7dzdxaae5633fqfcu2eqzy3a3rgtuvy087fdld7yws0xt"
            description: Bech32 encoded pool ID
          hex:
            type: string
            example: "0f292fcaa02b8b2f9b3c8f9fd8e0bb21abedb692a6d5058df3ef2735"
            description: Hexadecimal pool ID.
          active_stake:
            type: string
            example: "4200000000"
            description: Active delegated amount
          live_stake:
            type: string
            example: "6900000000"
            description: Currently delegated amount
        required:
          - pool_id
          - hex
          - active_stake
          - live_stake
      example:
        - pool_id: "pool19u64770wqp6s95gkajc8udheske5e6ljmpq33awxk326zjaza0q"
          active_stake: "1541200000"
          live_stake: "1541400000"
        - pool_id: "pool1dvla4zq98hpvacv20snndupjrqhuc79zl6gjap565nku6et5zdx"
          active_stake: "22200000"
          live_stake: "48955550"
        - pool_id: "pool1wvccajt4eugjtf3k0ja3exjqdj7t8egsujwhcw4tzj4rzsxzw5w"
          active_stake: "9989541215"
          live_stake: "168445464878"
    pool_list_retire:
      type: array
      items:
        type: object
        properties:
          pool_id:
            type: string
            example: "pool1z5uqdk7dzdxaae5633fqfcu2eqzy3a3rgtuvy087fdld7yws0xt"
            description: Bech32 encoded pool ID
          epoch:
            type: integer
            example: 242
            description: Retirement epoch number
        required:
          - pool_id
          - epoch
      example:
        - pool_id: "pool19u64770wqp6s95gkajc8udheske5e6ljmpq33awxk326zjaza0q"
          epoch: 225
        - pool_id: "pool1dvla4zq98hpvacv20snndupjrqhuc79zl6gjap565nku6et5zdx"
          epoch: 215
        - pool_id: "pool1wvccajt4eugjtf3k0ja3exjqdj7t8egsujwhcw4tzj4rzsxzw5w"
          epoch: 231
    pool_history:
      type: array
      items:
        type: object
        properties:
          epoch:
            type: integer
            example: 233
            description: Epoch number
          blocks:
            type: integer
            example: 22
            description: Number of blocks created by pool
          active_stake:
            type: string
            example: "20485965693569"
            description: Active (Snapshot of live stake 2 epochs ago) stake in Lovelaces
          active_size:
            type: number
            example: 1.2345
            description: Pool size (percentage) of overall active stake at that epoch
          delegators_count:
            type: integer
            example: 115
            description: Number of delegators for epoch
          rewards:
            type: string
            example: "206936253674159"
            description: Total rewards received before distribution to delegators
          fees:
            type: string
            example: "1290968354"
            description: Pool operator rewards
        required:
          - epoch
          - blocks
          - active_stake
          - active_size
          - delegators_count
          - rewards
          - fees
    pool:
      type: object
      properties:
        pool_id:
          type: string
          example: "pool1pu5jlj4q9w9jlxeu370a3c9myx47md5j5m2str0naunn2q3lkdy"
          description: Bech32 pool ID
        hex:
          type: string
          example: "0f292fcaa02b8b2f9b3c8f9fd8e0bb21abedb692a6d5058df3ef2735"
          description: Hexadecimal pool ID.
        vrf_key:
          type: string
          example: "0b5245f9934ec2151116fb8ec00f35fd00e0aa3b075c4ed12cce440f999d8233"
          description: VRF key hash
        blocks_minted:
          type: integer
          example: 69
          description: Total minted blocks
        blocks_epoch:
          type: integer
          example: 4
          description: Number of blocks minted in the current epoch
        live_stake:
          type: string
          example: "6900000000"
        live_size:
          type: number
          example: 0.42
        live_saturation:
          type: number
          example: 0.93
        live_delegators:
          type: number
          example: 127
        active_stake:
          type: string
          example: "4200000000"
        active_size:
          type: number
          example: 0.43
        declared_pledge:
          type: string
          example: "5000000000"
          description: Stake pool certificate pledge
        live_pledge:
          type: string
          example: "5000000001"
          description: Stake pool current pledge
        margin_cost:
          type: number
          example: 0.05
          description: Margin tax cost of the stake pool
        fixed_cost:
          type: string
          example: "340000000"
          description: Fixed tax cost of the stake pool
        reward_account:
          type: string
          example: "stake1uxkptsa4lkr55jleztw43t37vgdn88l6ghclfwuxld2eykgpgvg3f"
          description: Bech32 reward account of the stake pool
        owners:
          type: array
          items:
            type: string
            description: Bech32 accounts of the pool owners
          example:
            - "stake1u98nnlkvkk23vtvf9273uq7cph5ww6u2yq2389psuqet90sv4xv9v"
        registration:
          type: array
          items:
            type: string
            description: Hash of the transaction including registration
          example:
            - "9f83e5484f543e05b52e99988272a31da373f3aab4c064c76db96643a355d9dc"
            - "7ce3b8c433bf401a190d58c8c483d8e3564dfd29ae8633c8b1b3e6c814403e95"
            - "3e6e1200ce92977c3fe5996bd4d7d7e192bcb7e231bc762f9f240c76766535b9"
        retirement:
          type: array
          items:
            type: string
            description: Hash of the transaction including retirement
            example: "252f622976d39e646815db75a77289cf16df4ad2b287dd8e3a889ce14c13d1a8"
      required:
        - pool_id
        - hex
        - vrf_key
        - blocks_minted
        - blocks_epoch
        - live_stake
        - live_size
        - live_saturation
        - live_delegators
        - active_stake
        - active_size
        - declared_pledge
        - live_pledge
        - margin_cost
        - fixed_cost
        - reward_account
        - owners
        - registration
        - retirement
    pool_metadata:
      type: object
      properties:
        pool_id:
          type: string
          example: "pool1pu5jlj4q9w9jlxeu370a3c9myx47md5j5m2str0naunn2q3lkdy"
          description: Bech32 pool ID
        hex:
          type: string
          example: "0f292fcaa02b8b2f9b3c8f9fd8e0bb21abedb692a6d5058df3ef2735"
          description: Hexadecimal pool ID
        url:
          type: string
          nullable: true
          example: "https://stakenuts.com/mainnet.json"
          description: URL to the stake pool metadata
        hash:
          type: string
          nullable: true
          example: "47c0c68cb57f4a5b4a87bad896fc274678e7aea98e200fa14a1cb40c0cab1d8c"
          description: Hash of the metadata file
        ticker:
          type: string
          nullable: true
          example: "NUTS"
          description: Ticker of the stake pool
        name:
          type: string
          nullable: true
          example: "Stake Nuts"
          description: Name of the stake pool
        description:
          type: string
          nullable: true
          example: "The best pool ever"
          description: Description of the stake pool
        homepage:
          type: string
          nullable: true
          example: "https://stakentus.com/"
          description: Home page of the stake pool
      required:
        - pool_id
        - hex
        - url
        - hash
        - ticker
        - name
        - description
        - homepage
    pool_relays:
      type: array
      items:
        type: object
        properties:
          ipv4:
            type: string
            nullable: true
            example: "4.4.4.4"
            description: IPv4 address of the relay
          ipv6:
            type: string
            nullable: true
            example: "https://stakenuts.com/mainnet.json"
            description: IPv6 address of the relay
          dns:
            type: string
            nullable: true
            example: "relay1.stakenuts.com"
            description: DNS name of the relay
          dns_srv:
            type: string
            nullable: true
            example: "_relays._tcp.relays.stakenuts.com"
            description: DNS SRV entry of the relay
          port:
            type: integer
            example: 3001
            description: Network port of the relay
        required:
          - ipv4
          - ipv6
          - dns
          - dns_srv
          - port
    pool_delegations:
      type: array
      items:
        type: object
        properties:
          tx_hash:
            type: string
            description: Transaction ID
          cert_index:
            type: integer
            description: Certificate within the transaction
        required:
          - tx_hash
          - cert_index
      example:
        - tx_hash: "6804edf9712d2b619edb6ac86861fe93a730693183a262b165fcc1ba1bc99cad"
          cert_index: 0
        - tx_hash: "9c190bc1ac88b2ab0c05a82d7de8b71b67a9316377e865748a89d4426c0d3005"
          cert_index: 0
        - tx_hash: "e14a75b0eb2625de7055f1f580d70426311b78e0d36dd695a6bdc96c7b3d80e0"
          cert_index: 1

    pool_blocks:
      type: array
      items:
        type: string
        description: Block hashes
      example:
        - "d8982ca42cfe76b747cc681d35d671050a9e41e9cfe26573eb214e94fe6ff21d"
        - "026436c539e2ce84c7f77ffe669f4e4bbbb3b9c53512e5857dcba8bb0b4e9a8c"
        - "bcc8487f419b8c668a18ea2120822a05df6dfe1de1f0fac3feba88cf760f303c"
        - "86bf7b4a274e0f8ec9816171667c1b4a0cfc661dc21563f271acea9482b62df7"

    pool_updates:
      type: array
      items:
        type: object
        properties:
          tx_hash:
            type: string
            description: Transaction ID
          cert_index:
            type: integer
            description: Certificate within the transaction
          action:
            type: string
            enum: [registered, deregistered]
            description: Action in the certificate
        required:
          - tx_hash
          - cert_index
          - action
      example:
        - tx_hash: "6804edf9712d2b619edb6ac86861fe93a730693183a262b165fcc1ba1bc99cad"
          cert_index: 0
          action: "registered"
        - tx_hash: "9c190bc1ac88b2ab0c05a82d7de8b71b67a9316377e865748a89d4426c0d3005"
          cert_index: 0
          action: "deregistered"
        - tx_hash: "e14a75b0eb2625de7055f1f580d70426311b78e0d36dd695a6bdc96c7b3d80e0"
          cert_index: 1
          action: "registered"

    pool_delegators:
      type: array
      items:
        type: object
        properties:
          address:
            type: string
            description: Bech32 encoded stake addresses
          live_stake:
            type: string
            description: Currently delegated amount
        required:
          - address
          - live_stake
      example:
        - address: "stake1ux4vspfvwuus9uwyp5p3f0ky7a30jq5j80jxse0fr7pa56sgn8kha"
          live_stake: "1137959159981411"
        - address: "stake1uylayej7esmarzd4mk4aru37zh9yz0luj3g9fsvgpfaxulq564r5u"
          live_stake: "16958865648"
        - address: "stake1u8lr2pnrgf8f7vrs9lt79hc3sxm8s2w4rwvgpncks3axx6q93d4ck"
          live_stake: "18605647"

    assets:
      type: array
      items:
        type: object
        properties:
          asset:
            type: string
            format: Concatenation of the policy_id and hex-encoded asset_name
            description: Asset identifier
          quantity:
            type: string
            description: Current asset quantity
        required:
          - asset
          - quantity
      example:
        - asset: "b0d07d45fe9514f80213f4020e5a61241458be626841cde717cb38a76e7574636f696e"
          quantity: "1"
        - asset: "b0d07d45fe9514f80213f4020e5a61241458be626841cde717cb38a76e75d"
          quantity: "100000"
        - asset: "6804edf9712d2b619edb6ac86861fe93a730693183a262b165fcc1ba1bc99cad"
          quantity: "18605647"

    asset:
      type: object
      properties:
        asset:
          type: string
          example: "b0d07d45fe9514f80213f4020e5a61241458be626841cde717cb38a76e7574636f696e"
          description: Hex-encoded asset full name
        policy_id:
          type: string
          example: "b0d07d45fe9514f80213f4020e5a61241458be626841cde717cb38a7"
          description: Policy ID of the asset
        asset_name:
          type: string
          nullable: true
          example: "6e7574636f696e"
          description: Hex-encoded asset name of the asset
        fingerprint:
          type: string
          example: "asset1pkpwyknlvul7az0xx8czhl60pyel45rpje4z8w"
          description: CIP14 based user-facing fingerprint
        quantity:
          type: string
          example: "12000"
          description: Current asset quantity
        initial_mint_tx_hash:
          type: string
          example: "6804edf9712d2b619edb6ac86861fe93a730693183a262b165fcc1ba1bc99cad"
          description: ID of the initial minting transaction
        mint_or_burn_count:
          type: integer
          example: 1
          description: Count of mint and burn transactions
        onchain_metadata:
          type: object
          additionalProperties: true
          nullable: true
          description: |
            On-chain metadata stored in the minting transaction under label 721,
            community discussion around the standard ongoing at https://github.com/cardano-foundation/CIPs/pull/85
          properties:
            name:
              type: string
              description: Name of the asset
              example: "My NFT token"
            image:
              oneOf:
                - type: string
                - type: array
              description: URI(s) of the associated asset
              example: "ipfs://ipfs/QmfKyJ4tuvHowwKQCbCHj4L5T3fSj8cjs7Aau8V7BWv226"
        metadata:
          type: object
          nullable: true
          properties:
            name:
              type: string
              example: "nutcoin"
              description: Asset name
            description:
              type: string
              example: "The Nut Coin"
              description: Asset description
            ticker:
              type: string
              nullable: true
              example: "nutc"
            url:
              type: string
              nullable: true
              example: "https://www.stakenuts.com/"
              description: Asset website
            logo:
              type: string
              nullable: true
              example: "iVBORw0KGgoAAAANSUhEUgAAADAAAAAoCAYAAAC4h3lxAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QA/wD/AP+gvaeTAAAAB3RJTUUH5QITCDUPjqwFHwAAB9xJREFUWMPVWXtsU9cZ/8499/r6dZ3E9rUdO7ZDEgglFWO8KaOsJW0pCLRKrN1AqqYVkqoqrYo0ja7bpElru1WairStFKY9WzaE1E1tx+jokKqwtqFNyhKahEJJyJNgJ37E9r1+3HvO/sFR4vhx7SBtfH/F3/l93/f7ne/4PBxEKYU72dj/ZfH772v1TU+HtqbTaX8wOO01GPQpRVH7JEm+vGHDuq6z7/8jUSoHKtaBKkEUFUXdajDy1hUrmrs6zn/wWS7m7pZVjMUirKGUTnzc+e9xLcTrPPVfZzDz06Sc2lyQGEIyAPzT7Xa+dvE/3e+XLaCxoflHsVj8MAAYs74aa/WHoenwvpkZKeFy2Z5NJlOPUkqXZccFwSSrKjlyffjLH+TL6XTUGTGL/6hklD3ldIrj2M5MRmkLBMcvaRLQ1Nj88sxM/HCBfMP+eu/OYGDqe6l0WmpoqJ/88upgrU7HrQNA/cFg6MlkKiLlBtVUO40cx54BgHvLIT/HJLvdeqh/4NKxogKWN7fsCoUi7xTLxLJ4vLq6ak//wKVOrdXtttrTDMPsqJA8AAAwDErdu3VL3alTf5ma9eWCpoKhn5dKpCiqJxicPucQPVu0FHaInn35yHMcKwPAa4SQ3QCwFgDWUko3qSr5vqqSgTypuEg4Mo/zvA74/Y0rZSnZU8akSHV17k2fXfy0txjI5224kEym1s/1EUI7LBbztweHrkzkizn49LP6U6feepFSeggAQK/n04SQZ8bGrxdeQjZrbRvGzLH5hcibRqOhPplMfS1fIY5jz4xPDBdcGggho2h3z9sOLRazdG3wqp9SMgUlzGZ17SSEPsRx7J8CwfGu3PF57WhqqjfN/VxVJUxKUrIdITAXKpDJKFscosdfaFy0u+/K9aXTmXe0kAcAmA5Nng5Hbj6Tj/wCAYFAcN7uEY3GXGazMSHLqVVFapgBoMPna9yqhRAAgCTJMa3YUjZPgNFkSlWYx5eUkx+0tKx83V3rF+cVYJjruWCe133DIXqMmrNrFSDabRcWkywYmG5XFOW6aHcfb9324CoAgMmbo9MIoXkneCajiAihV/c/8eSiBSw4BxyiZxQA6m7H7FBKT2CMn2MY5jFFUX6ZO+5w2j8aHZ7YH40FByrJD5DnHGAY5uTtIA8AgBDaR4F2Yxb3WizCgmtA4ObUPSazodduqz3Suu0hf0U1cjvgdNSJ1dWWveFwdDUAtAiC2Uopdcdi8c9Zlh3GmDGl05mtAKAvo47EcdwThJCjqqpWFxALlNITomg73tff21GRAJez7iVK4WGGYfoJIQduBsbm7UrLm1ueCoUiv65kpiilw1ZbzcFoZOYoIcRTAn6eYZgXJm+Oni+Vd3YJbdyweSch9HlK6SpVVfcyDDq7Yf3m2XPBIXraKyV/a4b9UkLawbLsZgB4rwR8CyGkw13r+5fX27BckwBAEJ47oKpk8+DgUIdod7fV1vqOAMDrlZLPmqKoB+rrvXIgOP6w0WjYy3Ls5RL4bUk52bVm9fqnCk7M3CXU2ND8+MxM7BcIIftiyRYyntcdHh0bmr0wfmXl6p2SJB2KRmP3l4j7zejYUFtRAQAAgslm1Bv4nyGEDpYiIwjmjw0G/RjP866JiclNqqqWfKLq9fyZkdHBBXcnl9O71GDgD8bj0ncRQqZ8sRgzL9yYHH2pqICsOUTPLgA4CXNeZFmzWIS/YhYfjUZmvqPjuceSckrz25pS2h2cmlhbaBwhzr6kfsnL8Xhif55YYFl23Y3Jkdl7EVMoUSA4/q6qqNsBIPd11e52u45FwtG3CSH7yiEPAGC1Vt9dXGBmanDoygFLlbAjtzZCCMyC6VeaOpA1l9N7l1kwtauKaozHE28YTQaQpeR7+TqjxXheR0fHhhgt2CX1S3clEtKC16HL5djYe+niBU0CcmYA2W21/Qih5ZqDcoxlMZ24MaJJAABA87IVJ8Lh6N65Pr1B/+LIyLUfAhRZQvnM6ah7ZDHkAQB0vK6/HHxNTc2ruT5Zkldn/y5LACFk+2LIAwAwCGl6yGSt88KHXbmrBCHkqEgAz+vWLFZALJb4qNwYhFDhCSknkSwnQ4sVgDFeWg7+gQe2r1tAmkGTFQlACHWVg89nhJA9ot3dphV/eeCLp/Pw6K5IQP0S39uLFXCLwDG7zf1cKZxD9LSlUunHc/12u/2t2Vzl/rzu8zb8PZlM7bwdQgDgPK/nX2nddt+53//ht3LW2dS0fF0iLj2vquojuQFmwXRucPBKa8UCmpe1iOFwpAsAfLdJBFBKwVIlXJ2JxqKCxbwyHkvoCkAlv9/71U+7Oq+UJWDZ0hViJBL1cRynbNq0sSeeiPl6ei4NqIqq6TSmlB7X6bjuTEY5pgWfzwxGPZhMpt39/b3vzvWXFGCzulZjjM/DrauDwcAr8bjcgzGjZUuVBMH8k2uDX7wCAFDr8n2LEPI7SqmhTP6SzVbz6MDlz0/nDpT8EmOM22HOvUeWU2wp8iyLgRL6hk7Hrc2SBwC4MTlykmXZRozxn00mbVcphNA5jJmV+chr6oDd5l6jN/A/TqfSuwEAGITGMIsvGo3GTwTB3Dc2NjGSxdZYq4VIOOoNBANnKE0XPXE3brjHOTQ08k2MmVZOxzVJCbkFIQSCYEphzPaFQuGzTpfjb319PZ8UFXin/5OvrHPg/9HueAH/BSUqOuNZm4fyAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDIxLTAyLTE5VDA4OjUyOjI1KzAwOjAwCmFGlgAAACV0RVh0ZGF0ZTptb2RpZnkAMjAyMS0wMi0xOVQwODo1MjoyMyswMDowMBjsyxAAAAAASUVORK5CYII="
              description: Base64 encoded logo of the asset
            decimals:
              type: integer
              maximum: 255
              nullable: true
              example: 6
              description: Number of decimal places of the asset unit
          required:
            - name
            - description
            - ticker
            - url
            - logo
            - decimals
      required:
        - asset
        - policy_id
        - asset_name
        - fingerprint
        - quantity
        - initial_mint_tx_hash
        - mint_or_burn_count
        - metadata
        - onchain_metadata

    asset_history:
      type: array
      items:
        type: object
        properties:
          tx_hash:
            type: string
            description: Hash of the transaction containing the asset action
          action:
            type: string
            enum: [minted, burned]
            description: Action executed upon the asset policy
          amount:
            type: string
            description: Asset amount of the specific action
        required:
          - tx_hash
          - action
          - amount
      example:
        - tx_hash: "2dd15e0ef6e6a17841cb9541c27724072ce4d4b79b91e58432fbaa32d9572531"
          amount: "10"
          action: "minted"
        - tx_hash: "9c190bc1ac88b2ab0c05a82d7de8b71b67a9316377e865748a89d4426c0d3005"
          amount: "5"
          action: "burned"
        - tx_hash: "1a0570af966fb355a7160e4f82d5a80b8681b7955f5d44bec0dde628516157f0"
          amount: "5"
          action: "burned"

    asset_txs:
      type: array
      items:
        type: string
        description: Hash of the transaction
      example:
        - "8788591983aa73981fc92d6cddbbe643959f5a784e84b8bee0db15823f575a5b"
        - "52e748c4dec58b687b90b0b40d383b9fe1f24c1a833b7395cdf07dd67859f46f"
        - "e8073fd5318ff43eca18a852527166aa8008bee9ee9e891f585612b7e4ba700b"

    asset_transactions:
      type: array
      items:
        type: object
        properties:
          tx_hash:
            type: string
            description: Hash of the transaction
          tx_index:
            type: integer
            description: Transaction index within the block
          block_height:
            type: integer
            description: Block height
        required:
          - tx_hash
          - tx_index
          - block_height
          - block_time
      example:
        - tx_hash: "8788591983aa73981fc92d6cddbbe643959f5a784e84b8bee0db15823f575a5b"
          tx_index: 6
          block_height: 69
          block_time: 1635505891
        - tx_hash: "52e748c4dec58b687b90b0b40d383b9fe1f24c1a833b7395cdf07dd67859f46f"
          tx_index: 9
          block_height: 4547
          block_time: 1635505987
        - tx_hash: "e8073fd5318ff43eca18a852527166aa8008bee9ee9e891f585612b7e4ba700b"
          tx_index: 0
          block_height: 564654
          block_time: 1834505492

    asset_addresses:
      type: array
      items:
        type: object
        properties:
          address:
            type: string
            description: Address containing the specific asset
          quantity:
            type: string
            description: Asset quantity on the specific address
        required:
          - address
          - quantity
      example:
        - address: "addr1qxqs59lphg8g6qndelq8xwqn60ag3aeyfcp33c2kdp46a09re5df3pzwwmyq946axfcejy5n4x0y99wqpgtp2gd0k09qsgy6pz"
          quantity: "1"
        - address: "addr1qyhr4exrgavdcn3qhfcc9f939fzsch2re5ry9cwvcdyh4x4re5df3pzwwmyq946axfcejy5n4x0y99wqpgtp2gd0k09qdpvhza"
          quantity: "100000"
        - address: "addr1q8zup8m9ue3p98kxlxl9q8rnyan8hw3ul282tsl9s326dfj088lvedv4zckcj24arcpasr0gua4c5gq4zw2rpcpjk2lq8cmd9l"
          quantity: "18605647"

    asset_policy:
      type: array
      items:
        type: object
        properties:
          asset:
            type: string
            description: Concatenation of the policy_id and hex-encoded asset_name
          quantity:
            type: string
            description: Current asset quantity
        required:
          - asset
          - quantity
      example:
        - asset: "b0d07d45fe9514f80213f4020e5a61241458be626841cde717cb38a76e7574636f696e"
          quantity: "1"
        - asset: "b0d07d45fe9514f80213f4020e5a61241458be626841cde717cb38a766e"
          quantity: "100000"
        - asset: "b0d07d45fe9514f80213f4020e5a61241458be626841cde717cb574636f696e"
          quantity: "18605647"

    scripts:
      type: array
      items:
        type: object
        properties:
          script_hash:
            type: string
            description: Script hash
        required:
          - script_hash
      example:
        - script_hash: "13a3efd825703a352a8f71f4e2758d08c28c564e8dfcce9f77776ad1"
        - script_hash: "e1457a0c47dfb7a2f6b8fbb059bdceab163c05d34f195b87b9f2b30e"
        - script_hash: "a6e63c0ff05c96943d1cc30bf53112ffff0f34b45986021ca058ec54"

    script:
      type: object
      properties:
        script_hash:
          type: string
          example: "13a3efd825703a352a8f71f4e2758d08c28c564e8dfcce9f77776ad1"
          description: Script hash
        type:
          type: string
          enum: [timelock, plutus]
          example: "plutus"
          description: Type of the script language
        serialised_size:
          type: integer
          nullable: true
          description: The size of the CBOR serialised script, if a Plutus script
          example: 3119
      required:
        - script_hash
        - type
        - serialised_size

    script_redeemers:
      type: array
      items:
        type: object
        properties:
          tx_hash:
            type: string
            example: "1a0570af966fb355a7160e4f82d5a80b8681b7955f5d44bec0dce628516157f0"
            description: Hash of the transaction
          tx_index:
            type: integer
            example: 0
            description: The index of the redeemer pointer in the transaction
          purpose:
            type: string
            enum: [spend, mint, cert, reward]
            example: "spend"
            description: Validation purpose
          datum_hash:
            type: string
            example: "923918e403bf43c34b4ef6b48eb2ee04babed17320d8d1b9ff9ad086e86f44ec"
            description: Datum hash
          unit_mem:
            type: string
            example: "1700"
            description: The budget in Memory to run a script
          unit_steps:
            type: string
            example: "476468"
            description: The budget in CPU steps to run a script
          fee:
            type: string
            example: "172033"
            description: The fee consumed to run the script
        required:
          - tx_hash
          - tx_index
          - purpose
          - datum_hash
          - unit_mem
          - unit_steps
          - fee

    script_datum:
      type: object
      properties:
        json_value:
          anyOf:
            - type: string
            - type: object
            - type: array
              items: {}
            - type: integer
            - type: number
            - type: boolean
          description: JSON content of the datum
      required:
        - json_value
      example:
        json_value: { "int": 42 }

    script_json:
      type: object
      properties:
        json:
          anyOf:
            - type: string
            - type: object
            - type: array
              items: {}
            - type: integer
            - type: number
            - type: boolean
          nullable: true
          description: JSON contents of the `timelock` script, null for `plutus` scripts
      required:
        - json
      example:
        json:
          {
            "type": "atLeast",
            "scripts":
              [
                {
                  "type": "sig",
                  "keyHash": "654891a4db2ea44b5263f4079a33efa0358ba90769e3d8f86a4a0f81",
                },
                {
                  "type": "sig",
                  "keyHash": "8685ad48f9bebb8fdb6447abbe140645e0bf743ff98da62e63e2147f",
                },
                {
                  "type": "sig",
                  "keyHash": "cb0f3b3f91693374ff7ce1d473cf6e721c7bab52b0737f04164e5a2d",
                },
              ],
            "required": 2,
          }

    script_cbor:
      type: object
      properties:
        cbor:
          anyOf:
            - type: string
            - type: object
            - type: array
              items: {}
            - type: integer
            - type: number
            - type: boolean
          nullable: true
          description: CBOR contents of the `plutus` script, null for `timelocks`
      required:
        - cbor
      example:
        cbor: "4e4d01000033222220051200120011"

    utils_addresses_xpub:
      type: object
      properties:
        xpub:
          type: string
          description: Script hash
        role:
          type: integer
          description: Account role
        index:
          type: integer
          description: Address index
        address:
          type: string
          description: Derived address
      required:
        - xpub
        - role
        - index
        - address
      example:
        - xpub: "d507c8f866691bd96e131334c355188b1a1d0b2fa0ab11545075aab332d77d9eb19657ad13ee581b56b0f8d744d66ca356b93d42fe176b3de007d53e9c4c4e7a"
          role: 0
          index: 0
          address: "addr1q90sqnljxky88s0jsnps48jd872p7znzwym0jpzqnax6qs5nfrlkaatu28n0qzmqh7f2cpksxhpc9jefx3wrl0a2wu8q5amen7"

    metrics:
      type: array
      items:
        type: object
        properties:
          time:
            type: integer
            description: Starting time of the call count interval (ends midnight UTC) in UNIX time
          calls:
            type: integer
            description: Sum of all calls for a particular day
        required:
          - time
          - calls
      example:
        - time: 1612543884
          calls: 42
        - time: 1614523884
          calls: 6942

    metrics_endpoints:
      type: array
      items:
        type: object
        properties:
          time:
            type: integer
            description: Starting time of the call count interval (ends midnight UTC) in UNIX time
          calls:
            type: integer
            description: Sum of all calls for a particular day and endpoint
          endpoint:
            type: string
            description: Endpoint parent name
        required:
          - time
          - calls
          - endpoint
      example:
        - time: 1612543814
          calls: 182
          endpoint: "block"
        - time: 1612543814
          calls: 42
          endpoint: "epoch"
        - time: 1612543812
          calls: 775
          endpoint: "block"
        - time: 1612523884
          calls: 4
          endpoint: "epoch"
        - time: 1612553884
          calls: 89794
          endpoint: "block"

    nutlink_address:
[...]
