openapi: 3.0.0
info:
  version: "0.1.6"
  title: Blockfrost.io ~ API Documentation
  x-logo:
    url: https://staging.blockfrost.io/images/logo.svg
    altText: Blockfrost
  contact:
    name: Blockfrost Team
    url: "https://blockfrost.io"
    email: contact@blockfrost.io
  license:
    name: MIT
    url: "https://opensource.org/licenses/MIT"
  termsOfService: "https://blockfrost.io/terms"
  description: |
    Blockfrost is an API as a service that allows users to interact with the Cardano blockchain and parts of its ecosystem.

    ## Authentication

    After signing up on https://blockfrost.io, a `project_id` token is automatically generated for each project.
    HTTP header of your request MUST include this `project_id` in order to authenticate against Blockfrost servers.

    ## Available networks

    At the moment, you can use the following networks. Please, note that each network has its own `project_id`.

    <table>
      <tr><td><b>Network</b></td><td><b>Endpoint</b></td></tr>
      <tr><td>Cardano mainnet</td><td><tt>https://cardano-mainnet.blockfrost.io/api/v0</td></tt></tr>
      <tr><td>Cardano testnet</td><td><tt>https://cardano-testnet.blockfrost.io/api/v0</tt></td></tr>
    </table>

    ## Concepts

    * All endpoints return either a JSON object or an array.
    * Data is returned in *ascending* (oldest first, newest last) order.
      * You might use the `?order=desc` query parameter to reverse this order.
    * By default, we return 100 results at a time. You have to use `?page=2` to list through the results.
    * All time and timestamp related fields are in milliseconds of UNIX time.
    * All amounts are returned in Lovelaces, where 1 ADA = 1 000 000 Lovelaces
    * Addresses, accounts and pool IDs are in Bech32 format
    * Examples are not based on real data. Any resemblance to actual events is purely coincidental.

    ## Errors

    ### HTTP Status codes

    The following are HTTP status code your application might receive when reaching Blockfrost endpoints and
    it should handle all of these cases.

    * HTTP `400` return code is used when the request is not valid.
    * HTTP `402` return code is used when the projects exceed their daily request limit.
    * HTTP `403` return code is used when the request is not authenticated.
    * HTTP `404` return code is used when the resource doesn't exist.
    * HTTP `418` return code is used when the user has been auto-banned for flooding too much after previously receiving error code `402` or `429`.
    * HTTP `429` return code is used when the user has sent too many requests in a given amount of time and therefore has been rate-limited.
    * HTTP `500` return code is used when our endpoints are having a problem.

    ### Error codes

    An internal error code number is used for better indication of the error in question. It is passed using the following payload.

    ```json
    {
      "status_code": 403,
      "error": "Forbidden",
      "message": "Invalid project token."
    }
    ```
    ## Limits

     There are two types of limits we are enforcing. The first depends on your plan and is the number of request we allow per day. We defined
     the day from midnight to midnight of UTC time. The second is rate limiting, where we limit an end user to 10 requests per second after a period
     of 5 second burst. We believe this should be sufficient for most of the use cases. If it is not and you have a specific use case, please get in touch with us, and
     we will make sure to take it into account as much as we can.

servers:
  - url: https://cardano-mainnet.blockfrost.io/api/v0/
    description: Cardano Mainnet network
  - url: https://cardano-testnet.blockfrost.io/api/v0/
    description: Cardano Testnet network
  - url: https://localhost:3000
    description: local

security:
  - ApiKeyAuth: []

tags:
  - name: Health
  - name: Blocks
  - name: Epochs
  - name: Transactions
  - name: Metadata
  - name: Pools
  - name: Accounts
  - name: Addresses
  - name: Assets

paths:
  /:
    get:
      tags:
        - Health
      security: []
      summary: Root endpoint
      description: |
        Root endpoint has no other function than to point end users to documentation.
      responses:
        "200":
          description: Information pointing to the documentation.
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    example: "https://blockfrost.io/"
                  version:
                    type: number
                    example: 0.1
                required:
                  - url
                  - version
        "400":
          $ref: "#/components/responses/bad_request"
        "403":
          $ref: "#/components/responses/unauthorized_error"
        "429":
          $ref: "#/components/responses/overusage_limit"
        "418":
          $ref: "#/components/responses/autobanned"
        "500":
          $ref: "#/components/responses/internal_server_error"

  /health:
    get:
      tags:
        - Health
      security: []
      summary: Backend health status
      description: |
        Return backend status as a boolean. Your application
            should handle situations when backend for the given chain is unavailable.
      responses:
        "200":
          description: Return the boolean indicating the health of the backend.
          content:
            application/json:
              schema:
                type: object
                properties:
                  is_healthy:
                    type: boolean
                    example: true
        "400":
          $ref: "#/components/responses/bad_request"
        "403":
          $ref: "#/components/responses/unauthorized_error"
        "429":
          $ref: "#/components/responses/overusage_limit"
        "418":
          $ref: "#/components/responses/autobanned"
        "500":
          $ref: "#/components/responses/internal_server_error"

  /health/clock:
    get:
      tags:
        - Health
      security: []
      summary: Current backend time
      description: |
        This endpoint provides the current UNIX time. Your application might
        use this to verify if the client clock is not out of sync.
      responses:
        "200":
          description: Return the current UNIX time in milliseconds.
          content:
            application/json:
              schema:
                type: object
                properties:
                  server_time:
                    type: integer
                    example: 1603400958947
        "400":
          $ref: "#/components/responses/bad_request"
        "403":
          $ref: "#/components/responses/unauthorized_error"
        "429":
          $ref: "#/components/responses/overusage_limit"
        "418":
          $ref: "#/components/responses/autobanned"
        "500":
          $ref: "#/components/responses/internal_server_error"

  /blocks/latest:
    get:
      tags:
        - Blocks
      summary: Latest block
      description: |
        Return the latest block available to the backends, also known as the
        tip of the blockchain.
      responses:
        "200":
          description: Return the contents of the latest block.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/block_content"
        "400":
          $ref: "#/components/responses/bad_request"
        "403":
          $ref: "#/components/responses/unauthorized_error"
        "404":
          $ref: "#/components/responses/not_found"
        "429":
          $ref: "#/components/responses/overusage_limit"
        "418":
          $ref: "#/components/responses/autobanned"
        "500":
          $ref: "#/components/responses/internal_server_error"

  /blocks/{hash_or_number}:
    get:
      tags:
        - Blocks
      summary: Specific block
      description: |
        Return the content of a requested block.
      parameters:
        - in: path
          name: hash_or_number
          required: true
          schema:
            type: string
            format: 64-character case-sensitive hexadecimal string or block number.
          description: Hash of the requested block.
          example: "4ea1ba291e8eef538635a53e59fddba7810d1679631cc3aed7c8e6c4091a516a"
      responses:
        "200":
          description: Return the contents of the block
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/block_content"
        "400":
          $ref: "#/components/responses/bad_request"
        "403":
          $ref: "#/components/responses/unauthorized_error"
        "404":
          $ref: "#/components/responses/not_found"
        "429":
          $ref: "#/components/responses/overusage_limit"
        "418":
          $ref: "#/components/responses/autobanned"
        "500":
          $ref: "#/components/responses/internal_server_error"

  /blocks/{hash_or_number}/next:
    get:
      tags:
        - Blocks
      summary: Listing of next blocks
      description: |
        Return the list of blocks following a specific block.
      parameters:
        - in: path
          name: hash_or_number
          required: true
          schema:
            type: string
            format: 64-character case-sensitive hexadecimal string or block number.
          description: Hash of the requested block.
          example: "5ea1ba291e8eef538635a53e59fddba7810d1679631cc3aed7c8e6c4091a516a"
        - in: query
          name: count
          required: false
          schema:
            type: integer
            maximum: 100
            default: 100
          description: The number of results displayed on one page.
        - in: query
          name: page
          required: false
          schema:
            type: integer
            default: 1
          description: The page number for listing the results.
      responses:
        "200":
          description: Return the contents of the block.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/block_content_array"
        "400":
          $ref: "#/components/responses/bad_request"
        "403":
          $ref: "#/components/responses/unauthorized_error"
        "404":
          $ref: "#/components/responses/not_found"
        "429":
          $ref: "#/components/responses/overusage_limit"
        "418":
          $ref: "#/components/responses/autobanned"
        "500":
          $ref: "#/components/responses/internal_server_error"

  /blocks/{hash_or_number}/previous:
    get:
      tags:
        - Blocks
      summary: Listing of previous blocks
      description: |
        Return the list of blocks preceding a specific block.
      parameters:
        - in: path
          name: hash_or_number
          required: true
          schema:
            type: string
            format: 64-character case-sensitive hexadecimal string or block number.
          description: Hash of the requested block
          example: "4873401"
        - in: query
          name: count
          required: false
          schema:
            type: integer
            maximum: 100
            default: 100
          description: The number of results displayed on one page.
        - in: query
          name: page
          required: false
          schema:
            type: integer
            default: 1
          description: The page number for listing the results.
      responses:
        "200":
          description: Return the contents of the block
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/block_content_array"
        "400":
          $ref: "#/components/responses/bad_request"
        "403":
          $ref: "#/components/responses/unauthorized_error"
        "404":
          $ref: "#/components/responses/not_found"
        "429":
          $ref: "#/components/responses/overusage_limit"
        "418":
          $ref: "#/components/responses/autobanned"
        "500":
          $ref: "#/components/responses/internal_server_error"

  /blocks/{hash_or_number}/txs:
    get:
      tags:
        - Blocks
      summary: Block transactions
      description: Return the transactions within the block.
      parameters:
        - in: path
          name: hash_or_number
          required: true
          schema:
            type: string
            format: 64-character case-sensitive hexadecimal string or block number.
          description: Hash of the requested block.
          example: "4873401"
        - in: query
          name: count
          required: false
          schema:
            type: integer
            maximum: 100
            default: 100
          description: The number of results displayed on one page.
        - in: query
          name: page
          required: false
          schema:
            type: integer
            default: 1
          description: The page number for listing the results.
        - in: query
          name: order
          required: false
          schema:
            type: string
            enum: [asc, desc]
            default: asc
          description: |
            Ordered by tx index in the block.
            The ordering of items from the point of view of the blockchain,
            not the page listing itself. By default, we return oldest first, newest last.
      responses:
        "200":
          description: Return the transactions within the block.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/block_content_txs"
        "400":
          $ref: "#/components/responses/bad_request"
        "403":
          $ref: "#/components/responses/unauthorized_error"
        "404":
          $ref: "#/components/responses/not_found"
        "429":
          $ref: "#/components/responses/overusage_limit"
        "418":
          $ref: "#/components/responses/autobanned"
        "500":
          $ref: "#/components/responses/internal_server_error"

  /genesis:
    get:
      tags:
        - Ledger
      summary: Blockchain genesis
      description: Return the information about blockchain genesis.
      responses:
        "200":
          description: Return the genesis parameters.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/genesis_content"
        "400":
          $ref: "#/components/responses/bad_request"
        "403":
          $ref: "#/components/responses/unauthorized_error"
        "429":
          $ref: "#/components/responses/overusage_limit"
        "418":
          $ref: "#/components/responses/autobanned"
        "500":
          $ref: "#/components/responses/internal_server_error"

  /epochs/latest:
    get:
      tags:
        - Epochs
      summary: Latest epoch
      description: Return the information about the latest, therefore current, epoch.
      responses:
        "200":
          description: Return the data about the epoch
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/epoch_content"
        "400":
          $ref: "#/components/responses/bad_request"
        "403":
          $ref: "#/components/responses/unauthorized_error"
        "404":
          $ref: "#/components/responses/not_found"
        "429":
          $ref: "#/components/responses/overusage_limit"
        "418":
          $ref: "#/components/responses/autobanned"
        "500":
          $ref: "#/components/responses/internal_server_error"

  /epochs/{number}:
    get:
      tags:
        - Epochs
      summary: Specific epoch
      description: Return the content of the requested epoch.
      parameters:
        - in: path
          name: number
          required: true
          schema:
            type: string
          description: Number of the epoch
          example: "225"
      responses:
        "200":
          description: Return the epoch data.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/epoch_content"
        "400":
          $ref: "#/components/responses/bad_request"
        "403":
          $ref: "#/components/responses/unauthorized_error"
        "404":
          $ref: "#/components/responses/not_found"
        "429":
          $ref: "#/components/responses/overusage_limit"
        "418":
          $ref: "#/components/responses/autobanned"
        "500":
          $ref: "#/components/responses/internal_server_error"

  /epochs/{number}/next:
    get:
      tags:
        - Epochs
      summary: Listing of next epochs
      description: Return the list of epochs following a specific epoch.
      parameters:
        - in: path
          name: number
          required: true
          schema:
            type: integer
          description: Number of the requested epoch.
          example: 225
        - in: query
          name: count
          required: false
          schema:
            type: integer
            maximum: 100
            default: 100
          description: The number of results displayed on one page.
        - in: query
          name: page
          required: false
          schema:
            type: integer
            default: 1
          description: The page number for listing the results.
      responses:
        "200":
          description: Return the data about the epoch
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/epoch_content_array"
        "400":
          $ref: "#/components/responses/bad_request"
        "403":
          $ref: "#/components/responses/unauthorized_error"
        "404":
          $ref: "#/components/responses/not_found"
        "429":
          $ref: "#/components/responses/overusage_limit"
        "418":
          $ref: "#/components/responses/autobanned"
        "500":
          $ref: "#/components/responses/internal_server_error"

  /epochs/{number}/previous:
    get:
      tags:
        - Epochs
      summary: Listing of previous epochs
      description: Return the list of epochs preceding a specific epoch.
      parameters:
        - in: path
          name: number
          required: true
          schema:
            type: integer
          description: Number of the epoch
          example: 225
        - in: query
          name: count
          required: false
          schema:
            type: integer
            maximum: 100
            default: 100
          description: The number of results displayed on one page.
        - in: query
          name: page
          required: false
          schema:
            type: integer
            default: 1
          description: The page number for listing the results
      responses:
        "200":
          description: Return the epoch data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/epoch_content_array"
        "400":
          $ref: "#/components/responses/bad_request"
        "403":
          $ref: "#/components/responses/unauthorized_error"
        "404":
          $ref: "#/components/responses/not_found"
        "429":
          $ref: "#/components/responses/overusage_limit"
        "418":
          $ref: "#/components/responses/autobanned"
        "500":
          $ref: "#/components/responses/internal_server_error"

  /epochs/{number}/stakes:
    get:
      tags:
        - Epochs
      summary: Stake distribution
      description: Return the active stake distribution for the epoch specified.
      parameters:
        - in: path
          name: number
          required: true
          schema:
            type: integer
          description: Number of the epoch
          example: 225
        - in: query
          name: count
          required: false
          schema:
            type: integer
            maximum: 100
            default: 100
          description: The number of results displayed on one page.
        - in: query
          name: page
          required: false
          schema:
            type: integer
            default: 1
          description: The page number for listing the results.
      responses:
        "200":
          description: Return the data about the epoch
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/epoch_stake_content"
        "400":
          $ref: "#/components/responses/bad_request"
        "403":
          $ref: "#/components/responses/unauthorized_error"
        "404":
          $ref: "#/components/responses/not_found"
        "429":
          $ref: "#/components/responses/overusage_limit"
        "418":
          $ref: "#/components/responses/autobanned"
        "500":
          $ref: "#/components/responses/internal_server_error"

  /epochs/{number}/stakes/{pool_id}:
    get:
      tags:
        - Epochs
      summary: Stake distribution by pool
      description: Return the active stake distribution for the epoch specified by stake pool.
      parameters:
        - in: path
          name: number
          required: true
          schema:
            type: integer
          description: Number of the epoch
          example: 225
        - in: path
          required: true
          name: pool_id
          schema:
            type: string
          description: Stake pool ID to filter
          example: "pool1pu5jlj4q9w9jlxeu370a3c9myx47md5j5m2str0naunn2q3lkdy"
        - in: query
          name: count
          required: false
          schema:
            type: integer
            maximum: 100
            default: 100
          description: The number of results displayed on one page.
        - in: query
          name: page
          required: false
          schema:
            type: integer
            default: 1
          description: The page number for listing the results.
      responses:
        "200":
          description: Return the data about the epoch
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/epoch_stake_pool_content"
        "400":
          $ref: "#/components/responses/bad_request"
        "403":
          $ref: "#/components/responses/unauthorized_error"
        "404":
          $ref: "#/components/responses/not_found"
        "429":
          $ref: "#/components/responses/overusage_limit"
        "418":
          $ref: "#/components/responses/autobanned"
        "500":
          $ref: "#/components/responses/internal_server_error"

  /epochs/{number}/blocks:
    get:
      tags:
        - Epochs
      summary: Block distribution
      description: Return the blocks minted for the epoch specified.
      parameters:
        - in: path
          name: number
          required: true
          schema:
            type: integer
          description: Number of the epoch
          example: 225
        - in: query
          name: count
          required: false
          schema:
            type: integer
            maximum: 100
            default: 100
          description: The number of results displayed on one page.
        - in: query
          name: page
          required: false
          schema:
            type: integer
            default: 1
          description: The page number for listing the results.
        - in: query
          name: order
          required: false
          schema:
            type: string
            enum: [asc, desc]
            default: asc
          description: |
            The ordering of items from the point of view of the blockchain,
            not the page listing itself. By default, we return oldest first, newest last.
      responses:
        "200":
          description: Return the data about the epoch
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/epoch_block_content"
        "400":
          $ref: "#/components/responses/bad_request"
        "403":
          $ref: "#/components/responses/unauthorized_error"
        "404":
          $ref: "#/components/responses/not_found"
        "429":
          $ref: "#/components/responses/overusage_limit"
        "418":
          $ref: "#/components/responses/autobanned"
        "500":
          $ref: "#/components/responses/internal_server_error"

  /epochs/{number}/blocks/{pool_id}:
    get:
      tags:
        - Epochs
      summary: Block distribution
      description: Return the block minted for the epoch specified by stake pool.
      parameters:
        - in: path
          name: number
          required: true
          schema:
            type: integer
          description: Number of the epoch
          example: 225
        - in: path
          required: true
          name: pool_id
          schema:
            type: string
          description: Stake pool ID to filter
          example: "pool1pu5jlj4q9w9jlxeu370a3c9myx47md5j5m2str0naunn2q3lkdy"
        - in: query
          name: count
          required: false
          schema:
            type: integer
            maximum: 100
            default: 100
          description: The number of results displayed on one page.
        - in: query
          name: page
          required: false
          schema:
            type: integer
            default: 1
          description: The page number for listing the results.
        - in: query
          name: order
          required: false
          schema:
            type: string
            enum: [asc, desc]
            default: asc
          description: |
            The ordering of items from the point of view of the blockchain,
            not the page listing itself. By default, we return oldest first, newest last.
      responses:
        "200":
          description: Return the data about the epoch
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/epoch_block_content"
        "400":
          $ref: "#/components/responses/bad_request"
        "403":
          $ref: "#/components/responses/unauthorized_error"
        "404":
          $ref: "#/components/responses/not_found"
        "429":
          $ref: "#/components/responses/overusage_limit"
        "418":
          $ref: "#/components/responses/autobanned"
        "500":
          $ref: "#/components/responses/internal_server_error"

  /epochs/{number}/parameters:
    get:
      tags:
        - Epochs
      summary: Protocol parameters
      description: Return the protocol parameters for the epoch specified.
      parameters:
        - in: path
          name: number
          required: true
          schema:
            type: integer
          description: Number of the epoch
          example: 225
      responses:
        "200":
          description: Return the data about the epoch
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/epoch_param_content"
        "400":
          $ref: "#/components/responses/bad_request"
        "403":
          $ref: "#/components/responses/unauthorized_error"
        "404":
          $ref: "#/components/responses/not_found"
        "429":
          $ref: "#/components/responses/overusage_limit"
        "418":
          $ref: "#/components/responses/autobanned"
        "500":
          $ref: "#/components/responses/internal_server_error"

  /txs/{hash}:
    get:
      tags:
        - Transactions
      summary: Specific transaction
      description: Return content of the requested transaction.
      parameters:
        - in: path
          name: hash
          required: true
          schema:
            type: string
            format: 64-character case-sensitive hexadecimal string.
          description: Hash of the requested transaction
          example: "6e5f825c42c1c6d6b77f2a14092f3b78c8f1b66db6f4cf8caec1555b6f967b3b"
      responses:
        "200":
          description: Return the contents of the transaction.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/tx_content"
        "400":
          $ref: "#/components/responses/bad_request"
        "403":
          $ref: "#/components/responses/unauthorized_error"
        "404":
          $ref: "#/components/responses/not_found"
        "429":
          $ref: "#/components/responses/overusage_limit"
        "418":
          $ref: "#/components/responses/autobanned"
        "500":
          $ref: "#/components/responses/internal_server_error"

  /txs/{hash}/utxos:
    get:
      tags:
        - Transactions
      summary: Transaction UTXOs
      description: Return the inputs and UTXOs of the specific transaction.
      parameters:
        - in: path
          name: hash
          required: true
          schema:
            type: string
            format: 64-character case-sensitive hexadecimal string
          description: Hash of the requested transaction
          example: "6e5f825c82c1c6d6b77f2a14092f3b78c8f1b66db6f4cf8caec1555b6f967b3b"
      responses:
        "200":
          description: Return the contents of the transaction.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/tx_content_utxo"
        "400":
          $ref: "#/components/responses/bad_request"
        "403":
          $ref: "#/components/responses/unauthorized_error"
        "404":
          $ref: "#/components/responses/not_found"
        "429":
          $ref: "#/components/responses/overusage_limit"
        "418":
          $ref: "#/components/responses/autobanned"
        "500":
          $ref: "#/components/responses/internal_server_error"

  /txs/{hash}/stakes:
    get:
      tags:
        - Transactions
      summary: Trasanction stake addresses certificates
      description: |
        Obtain information about (de)registration of stake addresses within a transaction.
      parameters:
        - in: path
          name: hash
          required: true
          schema:
            type: string
            format: 64-character case-sensitive hexadecimal string.
          description: Hash of the requested transaction.
          example: "6e5f825c82c1c6d6b77f2a14092f3b78c8f1b66db6f4cf8caec1555b6f967b3b"
      responses:
        "200":
          description: |
            Obtain information about (de)registration of stake addresses within a transaction.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/tx_content_stake_addr"
        "400":
          $ref: "#/components/responses/bad_request"
        "403":
          $ref: "#/components/responses/unauthorized_error"
        "404":
          $ref: "#/components/responses/not_found"
        "429":
          $ref: "#/components/responses/overusage_limit"
        "418":
          $ref: "#/components/responses/autobanned"
        "500":
          $ref: "#/components/responses/internal_server_error"

  /txs/{hash}/delegations:
    get:
      tags:
        - Transactions
      summary: Transaction delegation certificates
      description: |
        Obtain information about delegation certificates of a specific transaction.
      parameters:
        - in: path
          name: hash
          required: true
          schema:
            type: string
            format: 64-character case-sensitive hexadecimal string
          description: Hash of the requested transaction.
          example: "6e5f825c82c1c6d6b77f2a14092f3b78c8f1b66db6f4cf8caec1555b6f967b3b"
      responses:
        "200":
          description: Obtain information about delegation certificates of a specific transaction
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/tx_content_delegations"
        "400":
          $ref: "#/components/responses/bad_request"
        "403":
          $ref: "#/components/responses/unauthorized_error"
        "404":
          $ref: "#/components/responses/not_found"
        "429":
          $ref: "#/components/responses/overusage_limit"
        "418":
          $ref: "#/components/responses/autobanned"
        "500":
          $ref: "#/components/responses/internal_server_error"

  /txs/{hash}/withdrawals:
    get:
      tags:
        - Transactions
      summary: Transaction withdrawal
      description: Obtain information about withdrawals of a specific transaction.
      parameters:
        - in: path
          name: hash
          required: true
          schema:
            type: string
            format: 64-character case-sensitive hexadecimal string
          description: Hash of the requested transaction.
          example: "6e5f825c82c1c6d6b77f2a14092f3b78c8f1b66db6f4cf8caec1555b6f967b3b"
      responses:
        "200":
          description: Obtain information about withdrawals of a specific transaction.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/tx_content_withdrawals"
        "400":
          $ref: "#/components/responses/bad_request"
        "403":
          $ref: "#/components/responses/unauthorized_error"
        "404":
          $ref: "#/components/responses/not_found"
        "429":
          $ref: "#/components/responses/overusage_limit"
        "418":
          $ref: "#/components/responses/autobanned"
        "500":
          $ref: "#/components/responses/internal_server_error"

  /txs/{hash}/pool_updates:
    get:
      tags:
        - Transactions
      summary: Transaction stake pool registration and update certificates
      description: |
        Obtain information about stake pool registration and update certificates of a specific transaction.
      parameters:
        - in: path
          name: hash
          required: true
          schema:
            type: string
            format: 64-character case-sensitive hexadecimal string
          description: Hash of the requested transaction
          example: "6e5f825c82c1c6d6b77f2a14092f3b78c8f1b66db6f4cf8caec1555b6f967b3b"
      responses:
        "200":
          description: Obtain information about stake pool certificates of a specific transaction
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/tx_content_pool_certs"
        "400":
          $ref: "#/components/responses/bad_request"
        "403":
          $ref: "#/components/responses/unauthorized_error"
        "404":
          $ref: "#/components/responses/not_found"
        "429":
          $ref: "#/components/responses/overusage_limit"
        "418":
          $ref: "#/components/responses/autobanned"
        "500":
          $ref: "#/components/responses/internal_server_error"

  /txs/{hash}/pool_retires:
    get:
      tags:
        - Transactions
      summary: Transaction stake pool retirement certificates
      description: |
        Obtain information about stake pool retirements within a specific transaction.
      parameters:
        - in: path
          name: hash
          required: true
          schema:
            type: string
            format: 64-character case-sensitive hexadecimal string.
          description: Hash of the requested transaction
          example: "6e5f825c82c1c6d6b77f2a14092f3b78c8f1b66db6f4cf8caec1555b6f967b3b"
      responses:
        "200":
          description: |
            Obtain information about stake pool retirements within a specific transaction.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/tx_content_pool_retires"
        "400":
          $ref: "#/components/responses/bad_request"
        "403":
          $ref: "#/components/responses/unauthorized_error"
        "404":
          $ref: "#/components/responses/not_found"
        "429":
          $ref: "#/components/responses/overusage_limit"
        "418":
          $ref: "#/components/responses/autobanned"
        "500":
          $ref: "#/components/responses/internal_server_error"

  /txs/{hash}/metadata:
    get:
      tags:
        - Transactions
      summary: Transaction metadata
      description: Obtain the transaction metadata.
      parameters:
        - in: path
          name: hash
          required: true
          schema:
            type: string
            format: 64-character case-sensitive hexadecimal string.
          description: Hash of the requested transaction
          example: "6e5f825c82c1c6d6b77f2a14092f3b78c8f1b66db6f4cf8caec1555b6f967b3b"
      responses:
        "200":
          description: Obtain information about stake pool retirements within a specific transaction.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/tx_content_metadata"
        "400":
          $ref: "#/components/responses/bad_request"
        "403":
          $ref: "#/components/responses/unauthorized_error"
        "404":
          $ref: "#/components/responses/not_found"
        "429":
          $ref: "#/components/responses/overusage_limit"
        "418":
          $ref: "#/components/responses/autobanned"
        "500":
          $ref: "#/components/responses/internal_server_error"

  /txs/{hash}/metadata/cbor:
    get:
      tags:
        - Transactions
      summary: Transaction metadata in CBOR
      description: Obtain the transaction metadata in CBOR.
      parameters:
        - in: path
          name: hash
          required: true
          schema:
            type: string
            format: 64-character case-sensitive hexadecimal string.
          description: Hash of the requested transaction
          example: "6e5f825c82c1c6d6b77f2a14092f3b78c8f1b66db6f4cf8caec1555b6f967b3b"
      responses:
        "200":
          description: Obtain information about stake pool retirements within a specific transaction.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/tx_content_metadata_cbor"
        "400":
          $ref: "#/components/responses/bad_request"
        "403":
          $ref: "#/components/responses/unauthorized_error"
        "404":
          $ref: "#/components/responses/not_found"
        "429":
          $ref: "#/components/responses/overusage_limit"
        "418":
          $ref: "#/components/responses/autobanned"
        "500":
          $ref: "#/components/responses/internal_server_error"

  /tx/submit:
    post:
      tags:
        - Transactions
      summary: Submit a transaction
      description: Submit a base64 encoding serialized transaction to the network.
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            enum: ["application/cbor"]
      responses:
        "200":
          description: Return the ID of the submitted transaction.
          content:
            application/json:
              schema:
                type: string
                format: hex
                minLength: 64
                maxLength: 64
                example: "d1662b24fa9fe985fc2dce47455df399cb2e31e1e1819339e885801cc3578908"
        "400":
          $ref: "#/components/responses/bad_request"
        "403":
          $ref: "#/components/responses/unauthorized_error"
        "404":
          $ref: "#/components/responses/not_found"
        "429":
          $ref: "#/components/responses/overusage_limit"
        "418":
          $ref: "#/components/responses/autobanned"
        "500":
          $ref: "#/components/responses/internal_server_error"

  /accounts/{stake_address}:
    get:
      tags:
        - Accounts
      summary: Specific account address
      description: |
        Obtain information about a specific stake account.
      parameters:
        - in: path
          name: stake_address
          required: true
          schema:
            type: string
          description: Bech32 stake addresses
          example: "stake1u9ylzsgxaa6xctf4juup682ar3juj85n8tx3hthnljg47zctvm3rc"
      responses:
        "200":
          description: Return the account content.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/account_content"
        "400":
          $ref: "#/components/responses/bad_request"
        "403":
          $ref: "#/components/responses/unauthorized_error"
        "404":
          $ref: "#/components/responses/not_found"
        "429":
          $ref: "#/components/responses/overusage_limit"
        "418":
          $ref: "#/components/responses/autobanned"
        "500":
          $ref: "#/components/responses/internal_server_error"

  /accounts/{stake_address}/rewards:
    get:
      tags:
        - Accounts
      summary: Account reward history
      description: |
        Obtain information about the history of a specific account.
      parameters:
        - in: path
          name: stake_address
          required: true
          schema:
            type: string
          description: Bech32 stake addresses
          example: "stake1u9ylzsgxaa6xctf4juup682ar3juj85n8tx3hthnljg47zctvm3rc"
        - in: query
          name: count
          required: false
          schema:
            type: integer
            maximum: 100
            default: 100
          description: The number of results displayed on one page.
        - in: query
          name: page
          required: false
          schema:
            type: integer
            default: 1
          description: The page number for listing the results.
        - in: query
          name: order
          required: false
          schema:
            type: string
            enum: [asc, desc]
            default: asc
          description: |
            The ordering of items from the point of view of the blockchain,
            not the page listing itself. By default, we return oldest first, newest last.
      responses:
        "200":
          description: Return the account content.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/account_reward_content"
        "400":
          $ref: "#/components/responses/bad_request"
        "403":
          $ref: "#/components/responses/unauthorized_error"
        "404":
          $ref: "#/components/responses/not_found"
        "429":
          $ref: "#/components/responses/overusage_limit"
        "418":
          $ref: "#/components/responses/autobanned"
        "500":
          $ref: "#/components/responses/internal_server_error"

  /accounts/{stake_address}/history:
    get:
      tags:
        - Accounts
      summary: Account history
      description: |
        Obtain information about the history of a specific account.
      parameters:
        - in: path
          name: stake_address
          required: true
          schema:
            type: string
          description: Bech32 stake addresses
          example: "stake1u9ylzsgxaa6xctf4juup682ar3juj85n8tx3hthnljg47zctvm3rc"
        - in: query
          name: count
          required: false
          schema:
            type: integer
            maximum: 100
            default: 100
          description: The number of results displayed on one page.
        - in: query
          name: page
          required: false
          schema:
            type: integer
            default: 1
          description: The page number for listing the results.
        - in: query
          name: order
          required: false
          schema:
            type: string
            enum: [asc, desc]
            default: asc
          description: |
            The ordering of items from the point of view of the blockchain,
            not the page listing itself. By default, we return oldest first, newest last.
      responses:
        "200":
          description: Return the account content.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/account_history_content"
        "400":
          $ref: "#/components/responses/bad_request"
        "403":
          $ref: "#/components/responses/unauthorized_error"
        "404":
          $ref: "#/components/responses/not_found"
        "429":
          $ref: "#/components/responses/overusage_limit"
        "418":
          $ref: "#/components/responses/autobanned"
        "500":
          $ref: "#/components/responses/internal_server_error"

  /accounts/{stake_address}/delegations:
    get:
      tags:
        - Accounts
      summary: Account delegation history
      description: Obtain information about the delegation of a specific account.
      parameters:
        - in: path
          name: stake_address
          required: true
          schema:
            type: string
          description: Bech32 stake addresses
          example: "stake1u9ylzsgxaa6xctf4juup682ar3juj85n8tx3hthnljg47zctvm3rc"
        - in: query
          name: count
          required: false
          schema:
            type: integer
            maximum: 100
            default: 100
          description: The number of results displayed on one page.
        - in: query
          name: page
          required: false
          schema:
            type: integer
            default: 1
          description: The page number for listing the results.
        - in: query
          name: order
          required: false
          schema:
            type: string
            enum: [asc, desc]
            default: asc
          description: |
            The ordering of items from the point of view of the blockchain,
            not the page listing itself. By default, we return oldest first, newest last.
      responses:
        "200":
          description: Return the account delegations content
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/account_delegation_content"
        "400":
          $ref: "#/components/responses/bad_request"
        "403":
          $ref: "#/components/responses/unauthorized_error"
        "404":
          $ref: "#/components/responses/not_found"
        "429":
          $ref: "#/components/responses/overusage_limit"
        "418":
          $ref: "#/components/responses/autobanned"
        "500":
          $ref: "#/components/responses/internal_server_error"

  /accounts/{stake_address}/registrations:
    get:
      tags:
        - Accounts
      summary: Account registration history
      description: |
        Obtain information about the registrations and deregistrations of a specific account.
      parameters:
        - in: path
          name: stake_address
          required: true
          schema:
            type: string
          description: Bech32 stake addresses
          example: "stake1u9ylzsgxaa6xctf4juup682ar3juj85n8tx3hthnljg47zctvm3rc"
        - in: query
          name: count
          required: false
          schema:
            type: integer
            maximum: 100
            default: 100
          description: The number of results displayed on one page.
        - in: query
          name: page
          required: false
          schema:
            type: integer
            default: 1
          description: The page number for listing the results.
        - in: query
          name: order
          required: false
          schema:
            type: string
            enum: [asc, desc]
            default: asc
          description: |
            The ordering of items from the point of view of the blockchain,
            not the page listing itself. By default, we return oldest first, newest last.
      responses:
        "200":
          description: Return the account registration content.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/account_registration_content"
        "400":
          $ref: "#/components/responses/bad_request"
        "403":
          $ref: "#/components/responses/unauthorized_error"
        "404":
          $ref: "#/components/responses/not_found"
        "429":
          $ref: "#/components/responses/overusage_limit"
        "418":
          $ref: "#/components/responses/autobanned"
        "500":
          $ref: "#/components/responses/internal_server_error"

  /accounts/{stake_address}/addresses:
    get:
      tags:
        - Accounts
      summary: Account associated addresses
      description: Obtain information about the addresses of a specific account.
      parameters:
        - in: path
          name: stake_address
          required: true
          schema:
            type: string
          description: Bech32 stake addresses
          example: "stake1u9ylzsgxaa6xctf4juup682ar3juj85n8tx3hthnljg47zctvm3rc"
        - in: query
          name: count
          required: false
          schema:
            type: integer
            maximum: 100
            default: 100
          description: The number of results displayed on one page.
        - in: query
          name: page
          required: false
          schema:
            type: integer
            default: 1
          description: The page number for listing the results.
        - in: query
          name: order
          required: false
          schema:
            type: string
            enum: [asc, desc]
            default: asc
          description: |
            The ordering of items from the point of view of the blockchain,
            not the page listing itself. By default, we return oldest first, newest last.
      responses:
        "200":
          description: Return the account addresses content
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/account_addresses_content"
        "400":
          $ref: "#/components/responses/bad_request"
        "403":
          $ref: "#/components/responses/unauthorized_error"
        "404":
          $ref: "#/components/responses/not_found"
        "429":
          $ref: "#/components/responses/overusage_limit"
        "418":
          $ref: "#/components/responses/autobanned"
        "500":
          $ref: "#/components/responses/internal_server_error"

  /metadata/txs/labels:
    get:
      tags:
        - Metadata
      summary: Transaction metadata labels
      description: |
        List of all used transaction metadata labels.
      parameters:
        - in: query
          name: count
          required: false
          schema:
            type: integer
            maximum: 100
            default: 100
          description: The number of results displayed on one page.
        - in: query
          name: page
          required: false
          schema:
            type: integer
            default: 1
          description: The page number for listing the results.
        - in: query
          name: order
          required: false
          schema:
            type: string
            enum: [asc, desc]
            default: asc
          description: |
            The ordering of items from the point of view of the blockchain,
            not the page listing itself. By default, we return oldest first, newest last.
      responses:
        "200":
          description: Return the account delegations content
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/tx_metadata_labels"
        "400":
          $ref: "#/components/responses/bad_request"
        "403":
          $ref: "#/components/responses/unauthorized_error"
        "404":
          $ref: "#/components/responses/not_found"
        "429":
          $ref: "#/components/responses/overusage_limit"
        "418":
          $ref: "#/components/responses/autobanned"
        "500":
          $ref: "#/components/responses/internal_server_error"

  /metadata/txs/labels/{label}:
    get:
      tags:
        - Metadata
      summary: Transaction metadata content in JSON
      description: Transaction metadata per label.
      parameters:
        - in: path
          name: label
          required: true
          schema:
            type: string
          description: Metadata label
          example: "1990"
        - in: query
          name: count
          required: false
          schema:
            type: integer
            maximum: 100
            default: 100
          description: The number of results displayed on one page.
        - in: query
          name: page
          required: false
          schema:
            type: integer
            default: 1
          description: The page number for listing the results.
        - in: query
          name: order
          required: false
          schema:
            type: string
            enum: [asc, desc]
            default: asc
          description: |
            The ordering of items from the point of view of the blockchain,
            not the page listing itself. By default, we return oldest first, newest last.
      responses:
        "200":
          description: Return the account delegations content
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/tx_metadata_label_json"
        "400":
          $ref: "#/components/responses/bad_request"
        "403":
          $ref: "#/components/responses/unauthorized_error"
        "404":
          $ref: "#/components/responses/not_found"
        "429":
          $ref: "#/components/responses/overusage_limit"
        "418":
          $ref: "#/components/responses/autobanned"
        "500":
          $ref: "#/components/responses/internal_server_error"

  /metadata/txs/labels/{label}/cbor:
    get:
      tags:
        - Metadata
      summary: Transaction metadata content in CBOR
      description: Transaction metadata per label.
      parameters:
        - in: path
          name: label
          required: true
          schema:
            type: string
          description: Metadata label
          example: "1990"
        - in: query
          name: count
          required: false
          schema:
            type: integer
            maximum: 100
            default: 100
          description: The number of results displayed on one page.
        - in: query
          name: page
          required: false
          schema:
            type: integer
            default: 1
          description: The page number for listing the results.
        - in: query
          name: order
          required: false
          schema:
            type: string
            enum: [asc, desc]
            default: asc
          description: |
            The ordering of items from the point of view of the blockchain,
            not the page listing itself. By default, we return oldest first, newest last.
      responses:
        "200":
          description: Return the account delegations content in CBOR
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/tx_metadata_label_cbor"
        "400":
          $ref: "#/components/responses/bad_request"
        "403":
          $ref: "#/components/responses/unauthorized_error"
        "404":
          $ref: "#/components/responses/not_found"
        "429":
          $ref: "#/components/responses/overusage_limit"
        "418":
          $ref: "#/components/responses/autobanned"
        "500":
          $ref: "#/components/responses/internal_server_error"

  /addresses/{address}:
    get:
      tags:
        - Addresses
      summary: Specific address
      description: Obtain information about a specific address.
      parameters:
        - in: path
          name: address
          required: true
          schema:
            type: string
          description: Bech32 addresses.
          example: "addr1qxqs59lphg8g6qndelq8xwqn60ag3aeyfcp33c2kdp46a09re5df3pzwwmyq946axfcejy5n4x0y99wqpgtp2gd0k09qsgy6pz"
      responses:
        "200":
          description: Return the address content.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/address_content"
        "400":
          $ref: "#/components/responses/bad_request"
        "403":
          $ref: "#/components/responses/unauthorized_error"
        "404":
          $ref: "#/components/responses/not_found"
        "429":
          $ref: "#/components/responses/overusage_limit"
        "418":
          $ref: "#/components/responses/autobanned"
        "500":
          $ref: "#/components/responses/internal_server_error"

  /addresses/{address}/total:
    get:
      tags:
        - Addresses
      summary: Address' details
      description: Obtain details about an address.
      parameters:
        - in: path
          name: address
          required: true
          schema:
            type: string
          description: Bech32 addresses.
          example: "addr1qxqs59lphg8g6qndelq8xwqn60ag3aeyfcp33c2kdp46a09re5df3pzwwmyq946axfcejy5n4x0y99wqpgtp2gd0k09qsgy6pz"
      responses:
        "200":
          description: Return the address' details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/address_content_total"
        "400":
          $ref: "#/components/responses/bad_request"
        "403":
          $ref: "#/components/responses/unauthorized_error"
        "404":
          $ref: "#/components/responses/not_found"
        "429":
          $ref: "#/components/responses/overusage_limit"
        "418":
          $ref: "#/components/responses/autobanned"
        "500":
          $ref: "#/components/responses/internal_server_error"

  /addresses/{address}/utxos:
    get:
      tags:
        - Addresses
      summary: Address' UTXOs
      description: UTXOs of the address.
      parameters:
        - in: path
          name: address
          required: true
          schema:
            type: string
          description: Bech32 addresses
          example: "addr1qxqs59lphg8g6qndelq8xwqn60ag3aeyfcp33c2kdp46a09re5df3pzwwmyq946axfcejy5n4x0y99wqpgtp2gd0k09qsgy6pz"
        - in: query
          name: count
          required: false
          schema:
            type: integer
            maximum: 100
            default: 100
          description: The number of results displayed on one page.
        - in: query
          name: page
          required: false
          schema:
            type: integer
            default: 1
          description: The page number for listing the results.
        - in: query
          name: order
          required: false
          schema:
            type: string
            enum: [asc, desc]
            default: asc
          description: |
            Ordered by tx index in the block.
            The ordering of items from the point of view of the blockchain,
            not the page listing itself. By default, we return oldest first, newest last.
      responses:
        "200":
          description: Return the address content
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/address_utxo_content"
        "400":
          $ref: "#/components/responses/bad_request"
        "403":
          $ref: "#/components/responses/unauthorized_error"
        "404":
          $ref: "#/components/responses/not_found"
        "429":
          $ref: "#/components/responses/overusage_limit"
        "418":
          $ref: "#/components/responses/autobanned"
        "500":
          $ref: "#/components/responses/internal_server_error"

  /addresses/{address}/txs:
    get:
      tags:
        - Addresses
      summary: Address' transactions
      description: Transactions on the address.
      parameters:
        - in: path
          name: address
          required: true
          schema:
            type: string
          description: Bech32 addresses.
          example: "addr1qxqs59lphg8g6qndelq8xwqn60ag3aeyfcp33c2kdp46a09re5df3pzwwmyq946axfcejy5n4x0y99wqpgtp2gd0k09qsgy6pz"
        - in: query
          name: count
          required: false
          schema:
            type: integer
            maximum: 100
            default: 100
          description: The numbers of pools per page.
        - in: query
          name: page
          required: false
          schema:
            type: integer
            default: 1
          description: The page number for listing the results.
        - in: query
          name: order
          required: false
          schema:
            type: string
            enum: [asc, desc]
            default: asc
          description: |
            The ordering of items from the point of view of the blockchain,
            not the page listing itself. By default, we return oldest first, newest last.
      responses:
        "200":
          description: Return the address content
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/address_txs_content"
        "400":
          $ref: "#/components/responses/bad_request"
        "403":
          $ref: "#/components/responses/unauthorized_error"
        "404":
          $ref: "#/components/responses/not_found"
        "429":
          $ref: "#/components/responses/overusage_limit"
        "418":
          $ref: "#/components/responses/autobanned"
        "500":
          $ref: "#/components/responses/internal_server_error"

  /pools/:
    get:
      tags:
        - Pools
      summary: List of stake pools
      description: List of registered stake pools.
      parameters:
        - in: query
          name: count
          required: false
          schema:
            type: integer
            maximum: 100
            default: 100
          description: The numbers of pools per page.
        - in: query
          name: page
          required: false
          schema:
            type: integer
            default: 1
          description: The page number for listing the results.
        - in: query
          name: order
          required: false
          schema:
            type: string
            enum: [asc, desc]
            default: asc
          description: |
            The ordering of items from the point of view of the blockchain,
            not the page listing itself. By default, we return oldest first, newest last.
      responses:
        "200":
          description: Return the list of pools.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pool_list"
        "400":
          $ref: "#/components/responses/bad_request"
        "403":
          $ref: "#/components/responses/unauthorized_error"
        "404":
          $ref: "#/components/responses/not_found"
        "429":
          $ref: "#/components/responses/overusage_limit"
        "418":
          $ref: "#/components/responses/autobanned"
        "500":
          $ref: "#/components/responses/internal_server_error"

  /pools/retired:
    get:
      tags:
        - Pools
      summary: List of retired stake pools
      description: List of already retired pools.
      parameters:
        - in: query
          name: count
          required: false
          schema:
            type: integer
            maximum: 100
            default: 100
          description: The numbers of pools per page.
        - in: query
          name: page
          required: false
          schema:
            type: integer
            default: 1
          description: The page number for listing the results.
        - in: query
          name: order
          required: false
          schema:
            type: string
            enum: [asc, desc]
            default: asc
          description: |
            The ordering of items from the point of view of the blockchain,
            not the page listing itself. By default, we return oldest first, newest last.
      responses:
        "200":
          description: Return the pool information content
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pool_list_retire"
        "400":
          $ref: "#/components/responses/bad_request"
        "403":
          $ref: "#/components/responses/unauthorized_error"
        "404":
          $ref: "#/components/responses/not_found"
        "429":
          $ref: "#/components/responses/overusage_limit"
        "418":
          $ref: "#/components/responses/autobanned"
        "500":
          $ref: "#/components/responses/internal_server_error"

  /pools/retiring:
    get:
      tags:
        - Pools
      summary: List of retiring stake pools
      description: List of stake pools retiring in the upcoming epochs
      parameters:
        - in: query
          name: count
          required: false
          schema:
            type: integer
            maximum: 100
            default: 100
          description: The number of results displayed on one page.
        - in: query
          name: page
          required: false
          schema:
            type: integer
            default: 1
          description: The page number for listing the results.
        - in: query
          name: order
          required: false
          schema:
            type: string
            enum: [asc, desc]
            default: asc
          description: |
            The ordering of items from the point of view of the blockchain,
            not the page listing itself. By default, we return oldest first, newest last.
      responses:
        "200":
          description: Return the pool information content
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pool_list_retire"
        "400":
          $ref: "#/components/responses/bad_request"
        "403":
          $ref: "#/components/responses/unauthorized_error"
        "404":
          $ref: "#/components/responses/not_found"
        "429":
          $ref: "#/components/responses/overusage_limit"
        "418":
          $ref: "#/components/responses/autobanned"
        "500":
          $ref: "#/components/responses/internal_server_error"

  /pools/{pool_id}:
    get:
      tags:
        - Pools
      summary: Specific stake pool
      description: Pool information.
      parameters:
        - in: path
          name: pool_id
          required: true
          schema:
            type: string
          description: Bech32 or hexadecimal pool ID.
          example: "pool1pu5jlj4q9w9jlxeu370a3c9myx47md5j5m2str0naunn2q3lkdy"
      responses:
        "200":
          description: Return the pool information content
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pool"
        "400":
          $ref: "#/components/responses/bad_request"
        "403":
          $ref: "#/components/responses/unauthorized_error"
        "404":
          $ref: "#/components/responses/not_found"
        "429":
          $ref: "#/components/responses/overusage_limit"
        "418":
          $ref: "#/components/responses/autobanned"
        "500":
          $ref: "#/components/responses/internal_server_error"

  /pools/{pool_id}/history:
    get:
      tags:
        - Pools
      summary: Stake pool history
      description: |
        History of stake pool parameters over epochs.
      parameters:
        - in: path
          name: pool_id
          required: true
          schema:
            type: string
          description: Bech32 or hexadecimal pool ID.
          example: "pool1pu5jlj4q9w9jlxeu370a3c9myx47md5j5m2str0naunn2q3lkdy"
        - in: query
          name: count
          required: false
          schema:
            type: integer
            maximum: 100
            default: 100
          description: The number of results displayed on one page.
        - in: query
          name: page
          required: false
          schema:
            type: integer
            default: 1
          description: The page number for listing the results
        - in: query
          name: order
          required: false
          schema:
            type: string
            enum: [asc, desc]
            default: asc
          description: |
            The ordering of items from the point of view of the blockchain,
            not the page listing itself. By default, we return oldest first, newest last.
      responses:
        "200":
          description: Return the pool information content.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pool_history"
        "400":
          $ref: "#/components/responses/bad_request"
        "403":
          $ref: "#/components/responses/unauthorized_error"
        "404":
          $ref: "#/components/responses/not_found"
        "429":
          $ref: "#/components/responses/overusage_limit"
        "418":
          $ref: "#/components/responses/autobanned"
        "500":
          $ref: "#/components/responses/internal_server_error"

  /pools/{pool_id}/metadata:
    get:
      tags:
        - Pools
      summary: Stake pool metadata
      description: |
        Stake pool registration metadata.
      parameters:
        - in: path
          name: pool_id
          required: true
          schema:
            type: string
          description: Bech32 or hexadecimal pool ID.
          example: "pool1pu5jlj4q9w9jlxeu370a3c9myx47md5j5m2str0naunn2q3lkdy"
      responses:
        "200":
          description: Return the pool metadata content.
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/pool_metadata"
                  - $ref: "#/components/schemas/empty_object"
        "400":
          $ref: "#/components/responses/bad_request"
        "403":
          $ref: "#/components/responses/unauthorized_error"
        "404":
          $ref: "#/components/responses/not_found"
        "429":
          $ref: "#/components/responses/overusage_limit"
        "418":
          $ref: "#/components/responses/autobanned"
        "500":
          $ref: "#/components/responses/internal_server_error"

  /pools/{pool_id}/relays:
    get:
      tags:
        - Pools
      summary: Stake pool relays
      description: Relays of a stake pool.
      parameters:
        - in: path
          name: pool_id
          required: true
          schema:
            type: string
          description: Bech32 or hexadecimal pool ID.
          example: "pool1pu5jlj4q9w9jlxeu370a3c9myx47md5j5m2str0naunn2q3lkdy"
      responses:
        "200":
          description: Return the pool relays information content.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pool_relays"
        "400":
          $ref: "#/components/responses/bad_request"
        "403":
          $ref: "#/components/responses/unauthorized_error"
        "404":
          $ref: "#/components/responses/not_found"
        "429":
          $ref: "#/components/responses/overusage_limit"
        "418":
          $ref: "#/components/responses/autobanned"
        "500":
          $ref: "#/components/responses/internal_server_error"

  /pools/{pool_id}/delegators:
    get:
      tags:
        - Pools
      summary: Stake pool delegators
      description: List of current stake pools delegators.
      parameters:
        - in: path
          name: pool_id
          required: true
          schema:
            type: string
          description: Bech32 or hexadecimal pool ID.
          example: "pool1pu5jlj4q9w9jlxeu370a3c9myx47md5j5m2str0naunn2q3lkdy"
        - in: query
          name: count
          required: false
          schema:
            type: integer
            maximum: 100
            default: 100
          description: The number of results displayed on one page.
        - in: query
          name: page
          required: false
          schema:
            type: integer
            default: 1
          description: The page number for listing the results.
        - in: query
          name: order
          required: false
          schema:
            type: string
            enum: [asc, desc]
            default: asc
          description: |
            The ordering of items from the point of view of the blockchain,
            not the page listing itself. By default, we return oldest first, newest last.
      responses:
        "200":
          description: Return the pool delegations.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pool_delegators"
        "400":
          $ref: "#/components/responses/bad_request"
        "403":
          $ref: "#/components/responses/unauthorized_error"
        "404":
          $ref: "#/components/responses/not_found"
        "429":
          $ref: "#/components/responses/overusage_limit"
        "418":
          $ref: "#/components/responses/autobanned"
        "500":
          $ref: "#/components/responses/internal_server_error"

  /pools/{pool_id}/blocks:
    get:
      tags:
        - Pools
      summary: Stake pool blocks
      description: List of stake pools blocks.
      parameters:
        - in: path
          name: pool_id
          required: true
          schema:
            type: string
          description: Bech32 or hexadecimal pool ID.
          example: "pool1pu5jlj4q9w9jlxeu370a3c9myx47md5j5m2str0naunn2q3lkdy"
        - in: query
          name: count
          required: false
          schema:
            type: integer
            maximum: 100
            default: 100
          description: The number of results displayed on one page.
        - in: query
          name: page
          required: false
          schema:
            type: integer
            default: 1
          description: The page number for listing the results.
        - in: query
          name: order
          required: false
          schema:
            type: string
            enum: [asc, desc]
            default: asc
          description: |
            The ordering of items from the point of view of the blockchain,
            not the page listing itself. By default, we return oldest first, newest last.
      responses:
        "200":
          description: Return the pool block list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pool_blocks"
        "400":
          $ref: "#/components/responses/bad_request"
        "403":
          $ref: "#/components/responses/unauthorized_error"
        "404":
          $ref: "#/components/responses/not_found"
        "429":
          $ref: "#/components/responses/overusage_limit"
        "418":
          $ref: "#/components/responses/autobanned"
        "500":
          $ref: "#/components/responses/internal_server_error"

  /pools/{pool_id}/updates:
    get:
      tags:
        - Pools
      summary: Stake pool updates
      description: List of certificate updates to the stake pool.
      parameters:
        - in: path
          name: pool_id
          required: true
          schema:
            type: string
          description: Bech32 or hexadecimal pool ID.
          example: "pool1pu5jlj4q9w9jlxeu370a3c9myx47md5j5m2str0naunn2q3lkdy"
        - in: query
          name: count
          required: false
          schema:
            type: integer
            maximum: 100
            default: 100
          description: The number of results displayed on one page.
        - in: query
          name: page
          required: false
          schema:
            type: integer
            default: 1
          description: The page number for listing the results.
        - in: query
          name: order
          required: false
          schema:
            type: string
            enum: [asc, desc]
            default: asc
          description: |
            The ordering of items from the point of view of the blockchain,
            not the page listing itself. By default, we return oldest first, newest last.
      responses:
        "200":
          description: Return the pool updates history
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pool_updates"
        "400":
          $ref: "#/components/responses/bad_request"
        "403":
          $ref: "#/components/responses/unauthorized_error"
        "404":
          $ref: "#/components/responses/not_found"
        "429":
          $ref: "#/components/responses/overusage_limit"
        "418":
          $ref: "#/components/responses/autobanned"
        "500":
          $ref: "#/components/responses/internal_server_error"

  /assets:
    get:
      tags:
        - Assets
      summary: Assets
      description: List of assets.
      parameters:
        - in: query
          name: count
          required: false
          schema:
            type: integer
            maximum: 100
            default: 100
          description: The number of results displayed on one page.
        - in: query
          name: page
          required: false
          schema:
            type: integer
            default: 1
          description: The page number for listing the results.
        - in: query
          name: order
          required: false
          schema:
            type: string
            enum: [asc, desc]
            default: asc
          description: |
            The ordering of items from the point of view of the blockchain,
            not the page listing itself. By default, we return oldest first, newest last.
      responses:
        "200":
          description: Return list of assets
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/assets"
        "400":
          $ref: "#/components/responses/bad_request"
        "403":
          $ref: "#/components/responses/unauthorized_error"
        "404":
          $ref: "#/components/responses/not_found"
        "429":
          $ref: "#/components/responses/overusage_limit"
        "418":
          $ref: "#/components/responses/autobanned"
        "500":
          $ref: "#/components/responses/internal_server_error"

  /assets/{asset}:
    get:
      tags:
        - Assets
      summary: Specific asset
      description: Information about a specific asset
      parameters:
        - in: path
          name: asset
          required: true
          schema:
            type: string
          description: Concatenation of the policy_id and hex-encoded asset_name
          example: "b0d07d45fe9514f80213f4020e5a61241458be626841cde717cb38a76e7574636f696e"
      responses:
        "200":
          description: Return the information about a specific asset
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/asset"
        "400":
          $ref: "#/components/responses/bad_request"
        "403":
          $ref: "#/components/responses/unauthorized_error"
        "404":
          $ref: "#/components/responses/not_found"
        "429":
          $ref: "#/components/responses/overusage_limit"
        "418":
          $ref: "#/components/responses/autobanned"
        "500":
          $ref: "#/components/responses/internal_server_error"

  /assets/{asset}/history:
    get:
      tags:
        - Assets
      summary: Asset history
      description: History of a specific asset
      parameters:
        - in: path
          name: asset
          required: true
          schema:
            type: string
          description: Concatenation of the policy_id and hex-encoded asset_name
          example: "b0d07d45fe9514f80213f4020e5a61241458be626841cde717cb38a76e7574636f696e"
        - in: query
          name: count
          required: false
          schema:
            type: integer
            maximum: 100
            default: 100
          description: The number of results displayed on one page.
        - in: query
          name: page
          required: false
          schema:
            type: integer
            default: 1
          description: The page number for listing the results.
        - in: query
          name: order
          required: false
          schema:
            type: string
            enum: [asc, desc]
            default: asc
          description: |
            The ordering of items from the point of view of the blockchain,
            not the page listing itself. By default, we return oldest first, newest last.
      responses:
        "200":
          description: Return the information about the history of a specific asset
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/asset_history"
        "400":
          $ref: "#/components/responses/bad_request"
        "403":
          $ref: "#/components/responses/unauthorized_error"
        "404":
          $ref: "#/components/responses/not_found"
        "429":
          $ref: "#/components/responses/overusage_limit"
        "418":
          $ref: "#/components/responses/autobanned"
        "500":
          $ref: "#/components/responses/internal_server_error"

  /assets/{asset}/txs:
    get:
      tags:
        - Assets
      summary: Asset transactions
      description: List of a specific asset transactions
      parameters:
        - in: path
          name: asset
          required: true
          schema:
            type: string
          description: Concatenation of the policy_id and hex-encoded asset_name
          example: "b0d07d45fe9514f80213f4020e5a61241458be626841cde717cb38a76e7574636f696e"
        - in: query
          name: count
          required: false
          schema:
            type: integer
            maximum: 100
            default: 100
          description: The number of results displayed on one page.
        - in: query
          name: page
          required: false
          schema:
            type: integer
            default: 1
          description: The page number for listing the results.
        - in: query
          name: order
          required: false
          schema:
            type: string
            enum: [asc, desc]
            default: asc
          description: |
            The ordering of items from the point of view of the blockchain,
            not the page listing itself. By default, we return oldest first, newest last.
      responses:
        "200":
          description: Return the information about the history of a specific asset
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/asset_txs"
        "400":
          $ref: "#/components/responses/bad_request"
        "403":
          $ref: "#/components/responses/unauthorized_error"
        "404":
          $ref: "#/components/responses/not_found"
        "429":
          $ref: "#/components/responses/overusage_limit"
        "418":
          $ref: "#/components/responses/autobanned"
        "500":
          $ref: "#/components/responses/internal_server_error"

  /metrics/:
    get:
      tags:
        - Metrics
      summary: Blockfrost usage metrics
      description: History of your Blockfrost usage metrics in the past 30 days.
      responses:
        "200":
          description: Return the last 30 days of metrics
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/metrics"
        "400":
          $ref: "#/components/responses/bad_request"
        "403":
          $ref: "#/components/responses/unauthorized_error"
        "404":
          $ref: "#/components/responses/not_found"
        "429":
          $ref: "#/components/responses/overusage_limit"
        "418":
          $ref: "#/components/responses/autobanned"
        "500":
          $ref: "#/components/responses/internal_server_error"

  /metrics/endpoints:
    get:
      tags:
        - Metrics
      summary: Blockfrost endpoint usage metrics
      description: |
        History of your Blockfrost usage metrics per endpoint in the past 30 days.
      responses:
        "200":
          description: Return the last 30 days of metrics
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/metrics_endpoints"
        "400":
          $ref: "#/components/responses/bad_request"
        "403":
          $ref: "#/components/responses/unauthorized_error"
        "404":
          $ref: "#/components/responses/not_found"
        "429":
          $ref: "#/components/responses/overusage_limit"
        "418":
          $ref: "#/components/responses/autobanned"
        "500":
          $ref: "#/components/responses/internal_server_error"

components:
  responses:
    overusage_limit:
      description: Usage limit reached
      content:
        application/json:
          schema:
            type: object
            properties:
              status_code:
                type: integer
                example: 429
              error:
                type: string
                example: "Project Over Limit"
              message:
                type: string
                example: "Usage is over limit."

    autobanned:
      description: IP has been auto-banned for extensive sending of requests after usage limit has been reached
      content:
        application/json:
          schema:
            type: object
            properties:
              status_code:
                type: integer
                example: 418
              error:
                type: string
                example: "Requested Banned"
              message:
                type: string
                example: "IP has been auto-banned for flooding."

    not_found:
      description: Component not found
      content:
        application/json:
          schema:
            type: object
            properties:
              status_code:
                type: integer
                example: 404
              error:
                type: string
                example: "Not Found"
              message:
                type: string
                example: "The requested component has not been found."

    internal_server_error:
      description: Internal Server Error
      content:
        application/json:
          schema:
            type: object
            properties:
              status_code:
                type: integer
                example: 505
              error:
                type: string
                example: "Internal Server Error"
              message:
                type: string
                example: "An unexpected response was received from the backend."

    unauthorized_error:
      description: Authentication secret is missing or invalid
      content:
        application/json:
          schema:
            type: object
            properties:
              status_code:
                type: integer
                example: 403
              error:
                type: string
                example: "Forbidden"
              message:
                type: string
                example: "Invalid project token."

    bad_request:
      description: Bad request
      content:
        application/json:
          schema:
            type: object
            properties:
              status_code:
                type: integer
                example: 400
              error:
                type: string
                example: "Bad Request"
              message:
                type: string
                example: "Backend did not understand your request."

  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: project_id

  schemas:
    block_content_array:
      type: array
      items:
        $ref: "#/components/schemas/block_content"
    block_content:
      type: object
      properties:
        time:
          type: integer
          example: 1641338934
          description: Block creation time in UNIX time
        height:
          type: integer
          nullable: true
          example: 15243593
          description: Block number
        hash:
          type: string
          example: "4ea1ba291e8eef538635a53e59fddba7810d1679631cc3aed7c8e6c4091a516a"
          description: Hash of the block
        slot:
          type: integer
          nullable: true
          example: 412162133
          description: Slot number
        epoch:
          type: integer
          nullable: true
          example: 425
          description: Epoch number
        epoch_slot:
          type: integer
          nullable: true
          example: 12
          description: Slot within the epoch
        slot_leader:
          type: string
          example: "pool1pu5jlj4q9w9jlxeu370a3c9myx47md5j5m2str0naunn2qnikdy"
          description: Bech32 ID of the slot leader or specific block description in case there is no slot leader
        size:
          type: integer
          example: 3
          description: Block size in Bytes
        tx_count:
          type: integer
          example: 1
          description: Number of transactions in the block
        output:
          type: string
          nullable: true
          example: "128314491794"
          description: Total output within the block in Lovelaces
        fees:
          type: string
          nullable: true
          example: "592661"
          description: Total fees within the block in Lovelaces
        block_vrf:
          type: string
          nullable: true
          example: "vrf_vk1wf2k6lhujezqcfe00l6zetxpnmh9n6mwhpmhm0dvfh3fxgmdnrfqkms8ty"
          description: VRF key of the block
          minLength: 65
          maxLength: 65
        previous_block:
          type: string
          nullable: true
          example: "43ebccb3ac72c7cebd0d9b755a4b08412c9f5dcb81b8a0ad1e3c197d29d47b05"
          description: Hash of the previous block
        next_block:
          type: string
          nullable: true
          example: "8367f026cf4b03e116ff8ee5daf149b55ba5a6ec6dec04803b8dc317721d15fa"
          description: Hash of the next block
        confirmations:
          type: integer
          example: 4698
          description: Number of block confirmations
      required:
        - time
        - height
        - hash
        - slot
        - epoch
        - epoch_slot
        - slot_leader
        - size
        - tx_count
        - output
        - fees
        - block_vrf
        - previous_block
        - next_block
        - confirmations
    block_content_txs:
      type: array
      items:
        type: string
        description: Hash of the transaction
      example:
        - "8788591983aa73981fc92d6cddbbe643959f5a784e84b8bee0db15823f575a5b"
        - "4eef6bb7755d8afbeac526b799f3e32a624691d166657e9d862aaeb66682c036"
        - "52e748c4dec58b687b90b0b40d383b9fe1f24c1a833b7395cdf07dd67859f46f"
        - "e8073fd5318ff43eca18a852527166aa8008bee9ee9e891f585612b7e4ba700b"
    genesis_content:
      type: object
      properties:
        active_slots_coefficient:
          type: number
          example: 0.05
          description: The proportion of slots in which blocks should be issued
        update_quorum:
          type: integer
          example: 5
          description: Determines the quorum needed for votes on the protocol parameter updates
        max_lovelace_supply:
          type: string
          example: "45000000000000000"
          description: The total number of lovelace in the system
        network_magic:
          type: integer
          example: 764824073
          description: Network identifier
        epoch_length:
          type: integer
          example: 432000
          description: Number of slots in an epoch
        system_start:
          type: integer
          example: 1506203091
          description: Time of slot 0 in UNIX time
        slots_per_kes_period:
          type: integer
          example: 129600
          description: Number of slots in an KES period
        slot_length:
          type: integer
          example: 1
          description: Duration of one slot in seconds
        max_kes_evolutions:
          type: integer
          example: 62
          description: The maximum number of time a KES key can be evolved before a pool operator must create a new operational certificate
        security_param:
          type: integer
          example: 2160
          description: Security parameter k
      required:
        - active_slots_coefficient
        - update_quorum
        - max_lovelace_supply
        - network_magic
        - epoch_length
        - system_start
        - slots_per_kes_period
        - slot_length
        - max_kes_evolutions
        - security_param
    epoch_content_array:
      type: array
      items:
        $ref: "#/components/schemas/epoch_content"
    epoch_content:
      type: object
      properties:
        epoch:
          type: integer
          example: 225
          description: Epoch number
        start_time:
          type: integer
          example: 1603403091
          description: Unix time of the start of the epoch
        end_time:
          type: integer
          example: 1603835086
          description: Unix time of the end of the epoch
        first_block_time:
          type: integer
          example: 1603403092
          description: Unix time of the first block of the epoch
        last_block_time:
          type: integer
          example: 1603835084
          description: Unix time of the last block of the epoch
        block_count:
          type: integer
          example: 21298
          description: Number of blocks within the epoch
        tx_count:
          type: integer
          example: 17856
          description: Number of transactions within the epoch
        output:
          type: string
          example: "7849943934049314"
          description: Sum of all the transactions within the epoch in Lovelaces
        fees:
          type: string
          example: "4203312194"
          description: Sum of all the fees within the epoch in Lovelaces
        active_stake:
          nullable: true
          type: string
          example: "784953934049314"
          description: Sum of all the active stakes within the epoch in Lovelaces
      required:
        - epoch
        - start_time
        - end_time
        - first_block_time
        - last_block_time
        - block_count
        - tx_count
        - output
        - fees
        - active_stake
    epoch_stake_content:
      type: array
      items:
        properties:
          stake_address:
            type: string
            example: "stake1u9l5q5jwgelgagzyt6nuaasefgmn8pd25c8e9qpeprq0tdcp0e3uk"
            description: Stake address
          pool_id:
            type: string
            example: "pool1pu5jlj4q9w9jlxeu370a3c9myx47md5j5m2str0naunn2q3lkdy"
            description: Bech32 prefix of the pool delegated to
          amount:
            type: string
            example: "4440295078"
            description: Amount of delegated stake in Lovelaces
        required:
          - stake_address
          - pool_id
          - amount
    epoch_stake_pool_content:
      type: array
      items:
        properties:
          stake_address:
            type: string
            example: "stake1u9l5q5jwgelgagzyt6nuaasefgmn8pd25c8e9qpeprq0tdcp0e3uk"
            description: Stake address
          amount:
            type: string
            example: "4440295078"
            description: Amount of delegated stake in Lovelaces
        required:
          - stake_address
          - amount
    epoch_block_content:
      type: array
      items:
        type: string
        description: Hash of the block
      example:
        - "d0fa315687e99ccdc96b14cc2ea74a767405d64427b648c470731a9b69e4606e"
        - "38bc6efb92a830a0ed22a64f979d120d26483fd3c811f6622a8c62175f530878"
        - "f3258fcd8b975c061b4fcdcfcbb438807134d6961ec278c200151274893b6b7d"
    epoch_param_content:
      type: object
      properties:
        min_fee_a:
          type: integer
          example: 44
          description: The linear factor for the minimum fee calculation for given epoch
        min_fee_b:
          type: integer
          example: 155381
          description: The constant factor for the minimum fee calculation
        max_block_size:
          type: integer
          example: 65536
          description: Maximum block body size in Bytes
        max_tx_size:
          type: integer
          example: 16384
          description: Maximum transaction size
        max_block_header_size:
          type: integer
          example: 1100
          description: Maximum block header size
        key_deposit:
          type: string
          example: "2000000"
          description: The amount of a key registration deposit in Lovelaces
        pool_deposit:
          type: string
          example: "500000000"
          description: The amount of a pool registration deposit in Lovelaces
        e_max:
          type: integer
          example: 18
          description: Epoch bound on pool retirement
        n_opt:
          type: integer
          example: 150
          description: Desired number of pools
        a0:
          type: number
          example: 0.3
          description: Pool pledge influence
        rho:
          type: number
          example: 0.003
          description: Monetary expansion
        tau:
          type: number
          example: 0.2
          description: Treasury expansion
        decentralisation_param:
          type: number
          example: 0.5
          description: Percentage of blocks produced by federated nodes
        extra_entropy:
          type: object
          nullable: true
          example: null
          description: Seed for extra entropy
        protocol_major_ver:
          type: integer
          example: 2
          description: Accepted protocol major version
        protocol_minor_ver:
          type: integer
          example: 0
          description: Accepted protocol minor version
        min_utxo:
          type: "string"
          example: "1000000"
          description: Minimum UTXO value
        min_pool_cost:
          type: string
          example: "340000000"
          description: Minimum stake cost forced on the pool
        nonce:
          type: string
          example: "1a3be38bcbb7911969283716ad7aa550250226b76a61fc51cc9a9a35d9276d81"
          description: Epoch number only used once
      required:
        - min_fee_a
        - min_fee_b
        - max_block_size
        - max_tx_size
        - max_block_header_size
        - key_deposit
        - pool_deposit
        - e_max
        - n_opt
        - a0
        - rho
        - tau
        - decentralisation_param
        - extra_entropy
        - protocol_major_ver
        - protocol_minor_ver
        - min_utxo
        - min_pool_cost
        - nonce
    tx_content:
      type: object
      properties:
[...]
