openapi: 3.0.0
info:
  version: "0.1.36"
  title: Blockfrost.io ~ API Documentation
  x-logo:
    url: https://staging.blockfrost.io/images/logo.svg
    altText: Blockfrost
  contact:
    name: Blockfrost Team
    url: "https://blockfrost.io"
    email: contact@blockfrost.io
  license:
    name: MIT
    url: "https://opensource.org/licenses/MIT"
  termsOfService: "https://blockfrost.io/terms"
  description: |
    Blockfrost is an API as a service that allows users to interact with the Cardano blockchain and parts of its ecosystem.

    ## Tokens

    After signing up on https://blockfrost.io, a `project_id` token is automatically generated for each project.
    HTTP header of your request MUST include this `project_id` in order to authenticate against Blockfrost servers.

    ## Available networks

    At the moment, you can use the following networks. Please, note that each network has its own `project_id`.

    <table>
      <tr><td><b>Network</b></td><td><b>Endpoint</b></td></tr>
      <tr><td>Cardano mainnet</td><td><tt>https://cardano-mainnet.blockfrost.io/api/v0</td></tt></tr>
      <tr><td>Cardano testnet</td><td><tt>https://cardano-testnet.blockfrost.io/api/v0</tt></td></tr>
      <tr><td>InterPlanetary File System</td><td><tt>https://ipfs.blockfrost.io/api/v0</tt></td></tr>
      <tr><td>Milkomeda mainnet</td><td><tt>https://milkomeda-mainnet.blockfrost.io/api/v0</td></tt></tr>
      <tr><td>Milkomeda testnet</td><td><tt>https://milkomeda-testnet.blockfrost.io/api/v0</td></tt></tr>
    </table>

    ## Milkomeda

    For more information about how to use Milkomeda as well as the list of available endpoints, see the
    <a href="https://blockfrost.dev/docs/start-building/milkomeda">Milkomeda section on blockfrost.dev</a>.

    ## Concepts

    * All endpoints return either a JSON object or an array.
    * Data is returned in *ascending* (oldest first, newest last) order, if not stated otherwise.
      * You might use the `?order=desc` query parameter to reverse this order.
    * By default, we return 100 results at a time. You have to use `?page=2` to list through the results.
    * All time and timestamp related fields (except `server_time`) are in seconds of UNIX time.
    * All amounts are returned in Lovelaces, where 1 ADA = 1 000 000 Lovelaces.
    * Addresses, accounts and pool IDs are in Bech32 format.
    * All values are case sensitive.
    * All hex encoded values are lower case.
    * Examples are not based on real data. Any resemblance to actual events is purely coincidental.
    * We allow to upload files up to 100MB of size to IPFS. This might increase in the future.

    ## Errors

    ### HTTP Status codes

    The following are HTTP status code your application might receive when reaching Blockfrost endpoints and
    it should handle all of these cases.

    * HTTP `400` return code is used when the request is not valid.
    * HTTP `402` return code is used when the projects exceed their daily request limit.
    * HTTP `403` return code is used when the request is not authenticated.
    * HTTP `404` return code is used when the resource doesn't exist.
    * HTTP `418` return code is used when the user has been auto-banned for flooding too much after previously receiving error code `402` or `429`.
    * HTTP `425` return code is used when the user has submitted a transaction when the mempool is already full, not accepting new txs straight away.
    * HTTP `429` return code is used when the user has sent too many requests in a given amount of time and therefore has been rate-limited.
    * HTTP `500` return code is used when our endpoints are having a problem.

    ### Error codes

    An internal error code number is used for better indication of the error in question. It is passed using the following payload.

    ```json
    {
      "status_code": 403,
      "error": "Forbidden",
      "message": "Invalid project token."
    }
    ```
    ## Limits

    There are two types of limits we are enforcing:

    The first depends on your plan and is the number of request we allow per day. We defined the day from midnight to midnight of UTC time.

    The second is rate limiting. We limit an end user, distinguished by IP address, to 10 requests per second. On top of that, we allow
    each user to send burst of 500 requests, which cools off at rate of 10 requests per second. In essence, a user is allowed to make another
    whole burst after (currently) 500/10 = 50 seconds. E.g. if a user attemtps to make a call 3 seconds after whole burst, 30 requests will be processed.
    We believe this should be sufficient for most of the use cases. If it is not and you have a specific use case, please get in touch with us, and
    we will make sure to take it into account as much as we can.

    ## SDKs

    We support a number of SDKs that will help you in developing your application on top of Blockfrost.

    <table>
      <tr><td><b>Programming language</b></td><td><b>SDK</b></td></tr>
      <tr><td>JavaScript</td><td><a href="https://github.com/blockfrost/blockfrost-js">blockfrost-js</a></tr>
      <tr><td>Haskell</td><td><a href="https://github.com/blockfrost/blockfrost-haskell">blockfrost-haskell</a></tr>
      <tr><td>Python</td><td><a href="https://github.com/blockfrost/blockfrost-python">blockfrost-python</a></tr>
      <tr><td>Rust</td><td><a href="https://github.com/blockfrost/blockfrost-rust">blockfrost-rust</a></tr>
      <tr><td>Golang</td><td><a href="https://github.com/blockfrost/blockfrost-go">blockfrost-go</a></tr>
      <tr><td>Ruby</td><td><a href="https://github.com/blockfrost/blockfrost-ruby">blockfrost-ruby</a></tr>
      <tr><td>Java</td><td><a href="https://github.com/blockfrost/blockfrost-java">blockfrost-java</a></tr>
      <tr><td>Scala</td><td><a href="https://github.com/blockfrost/blockfrost-scala">blockfrost-scala</a></tr>
      <tr><td>Swift</td><td><a href="https://github.com/blockfrost/blockfrost-swift">blockfrost-swift</a></tr>
      <tr><td>Kotlin</td><td><a href="https://github.com/blockfrost/blockfrost-kotlin">blockfrost-kotlin</a></tr>
      <tr><td>Elixir</td><td><a href="https://github.com/blockfrost/blockfrost-elixir">blockfrost-elixir</a></tr>
      <tr><td>.NET</td><td><a href="https://github.com/blockfrost/blockfrost-dotnet">blockfrost-dotnet</a></tr>
      <tr><td>Arduino</td><td><a href="https://github.com/blockfrost/blockfrost-arduino">blockfrost-arduino</a></tr>
    </table>

servers:
  - url: https://cardano-mainnet.blockfrost.io/api/v0/
    description: Cardano Mainnet network
  - url: https://cardano-testnet.blockfrost.io/api/v0/
    description: Cardano Testnet network
  - url: https://localhost:3000
    description: local

security:
  - ApiKeyAuth: []

tags:
  - name: Health
  - name: Metrics
  - name: Cardano » Accounts
  - name: Cardano » Addresses
  - name: Cardano » Assets
  - name: Cardano » Blocks
  - name: Cardano » Epochs
  - name: Cardano » Ledger
  - name: Cardano » Metadata
  - name: Cardano » Network
  - name: Cardano » Pools
  - name: Cardano » Scripts
  - name: Cardano » Transactions
  - name: Cardano » Utilities
  - name: IPFS » Add
  - name: IPFS » Gateway
  - name: IPFS » Pins

paths:
  /:
    $ref: ./paths/api/root/index.yaml

  /health:
    $ref: ./paths/api/health/index.yaml

  /health/clock:
    $ref: ./paths/api/health/clock.yaml

  /blocks/latest:
    $ref: ./paths/api/blocks/latest/index.yaml

  /blocks/latest/txs:
    $ref: ./paths/api/blocks/latest/txs.yaml

  /blocks/{hash_or_number}:
    $ref: ./paths/api/blocks/{hash_or_number}/index.yaml

  /blocks/{hash_or_number}/next:
    $ref: ./paths/api/blocks/{hash_or_number}/next.yaml

  /blocks/{hash_or_number}/previous:
    $ref: ./paths/api/blocks/{hash_or_number}/previous.yaml

  /blocks/slot/{slot_number}:
    $ref: ./paths/api/blocks/slot/{slot_number}/index.yaml

  /blocks/epoch/{epoch_number}/slot/{slot_number}:
    $ref: ./paths/api/blocks/epoch/{epoch_number}/slot/{slot_number}/index.yaml

  /blocks/{hash_or_number}/txs:
    $ref: ./paths/api/blocks/txs/index.yaml

  /blocks/{hash_or_number}/addresses:
    $ref: ./paths/api/blocks/addresses/index.yaml

  /genesis:
    $ref: ./paths/api/genesis/index.yaml

  /epochs/latest:
    $ref: ./paths/api/epochs/latest/index.yaml

  /epochs/latest/parameters:
    $ref: ./paths/api/epochs/latest/parameters.yaml

  /epochs/{number}:
    $ref: ./paths/api/epochs/{number}/index.yaml

  /epochs/{number}/next:
    $ref: ./paths/api/epochs/{number}/next.yaml

  /epochs/{number}/previous:
    $ref: ./paths/api/epochs/{number}/previous.yaml

  /epochs/{number}/stakes:
    $ref: ./paths/api/epochs/{number}/stakes.yaml

  /epochs/{number}/stakes/{pool_id}:
    $ref: ./paths/api/epochs/{number}/stakes/{pool_id}/index.yaml

  /epochs/{number}/blocks:
    $ref: ./paths/api/epochs/{number}/blocks/index.yaml

  /epochs/{number}/blocks/{pool_id}:
    $ref: ./paths/api/epochs/{number}/{pool_id}/index.yaml

  /epochs/{number}/parameters:
    $ref: ./paths/api/epochs/{number}/parameters.yaml

  /txs/{hash}:
    $ref: ./paths/api/txs/{hash}/index.yaml

  /txs/{hash}/utxos:
    $ref: ./paths/api/txs/{hash}/utxos.yaml

  /txs/{hash}/stakes:
    $ref: ./paths/api/txs/{hash}/stakes.yaml

  /txs/{hash}/delegations:
    $ref: ./paths/api/txs/{hash}/delegations.yaml

  /txs/{hash}/withdrawals:
    $ref: ./paths/api/txs/{hash}/withdrawals.yaml

  /txs/{hash}/mirs:
    $ref: ./paths/api/txs/{hash}/mirs.yaml

  /txs/{hash}/pool_updates:
    $ref: ./paths/api/txs/{hash}/pool_updates.yaml

  /txs/{hash}/pool_retires:
    $ref: ./paths/api/txs/{hash}/pool_retires.yaml

  /txs/{hash}/metadata:
    $ref: ./paths/api/txs/{hash}/metadata/index.yaml

  /txs/{hash}/metadata/cbor:
    $ref: ./paths/api/txs/{hash}/metadata/cbor.yaml

  /txs/{hash}/redeemers:
    $ref: ./paths/api/txs/{hash}/redeemers.yaml

  /tx/submit:
    $ref: ./paths/api/tx/submit.yaml

  /accounts/{stake_address}:
    $ref: ./paths/api/accounts/{stake_address}/index.yaml

  /accounts/{stake_address}/rewards:
    $ref: ./paths/api/accounts/{stake_address}/rewards.yaml

  /accounts/{stake_address}/history:
    $ref: ./paths/api/accounts/{stake_address}/history.yaml

  /accounts/{stake_address}/delegations:
    $ref: ./paths/api/accounts/{stake_address}/delegations.yaml

  /accounts/{stake_address}/registrations:
    $ref: ./paths/api/accounts/{stake_address}/registrations.yaml

  /accounts/{stake_address}/withdrawals:
    $ref: ./paths/api/accounts/{stake_address}/withdrawals.yaml

  /accounts/{stake_address}/mirs:
    $ref: ./paths/api/accounts/{stake_address}/mirs.yaml

  /accounts/{stake_address}/addresses:
    $ref: ./paths/api/accounts/{stake_address}/addresses.yaml

  /accounts/{stake_address}/addresses/assets:
    $ref: ./paths/api/accounts/{stake_address}/assets/index.yaml

  /accounts/{stake_address}/addresses/total:
    $ref: ./paths/api/accounts/{stake_address}/addresses/total.yaml

  /metadata/txs/labels:
    $ref: ./paths/api/metadata/txs/labels/index.yaml

  /metadata/txs/labels/{label}:
    $ref: ./paths/api/metadata/txs/labels/{label}/index.yaml

  /metadata/txs/labels/{label}/cbor:
    $ref: ./paths/api/metadata/txs/labels/{label}/cbor.yaml

  /addresses/{address}:
    $ref: ./paths/api/addresses/{address}/index.yaml

  /addresses/{address}/extended:
    $ref: ./paths/api/addresses/{address}/extended.yaml

  /addresses/{address}/total:
    $ref: ./paths/api/addresses/{address}/total.yaml

  /addresses/{address}/utxos:
    $ref: ./paths/api/addresses/{address}/utxos/index.yaml

  /addresses/{address}/utxos/{asset}:
    $ref: ./paths/api/addresses/{address}/utxos/{asset}/index.yaml

  /addresses/{address}/txs:
    $ref: ./paths/api/addresses/{address}/txs.yaml

  /addresses/{address}/transactions:
    $ref: ./paths/api/addresses/{address}/transactions.yaml

  /pools:
    $ref: ./paths/api/pools/index.yaml

  /pools/extended:
    $ref: ./paths/api/pools/extended.yaml

  /pools/retired:
    $ref: ./paths/api/pools/retired.yaml

  /pools/retiring:
    $ref: ./paths/api/pools/retiring.yaml

  /pools/{pool_id}:
    $ref: ./paths/api/pools/{pool_id}/index.yaml

  /pools/{pool_id}/history:
    $ref: ./paths/api/pools/{pool_id}/history.yaml

  /pools/{pool_id}/metadata:
    $ref: ./paths/api/pools/{pool_id}/metadata.yaml

  /pools/{pool_id}/relays:
    $ref: ./paths/api/pools/{pool_id}/relays.yaml

  /pools/{pool_id}/delegators:
    $ref: ./paths/api/pools/{pool_id}/delegators.yaml

  /pools/{pool_id}/blocks:
    $ref: ./paths/api/pools/{pool_id}/blocks.yaml

  /pools/{pool_id}/updates:
    $ref: ./paths/api/pools/{pool_id}/updates.yaml

  /assets:
    $ref: ./paths/api/assets/index.yaml

  /assets/{asset}:
    $ref: ./paths/api/assets/{asset}/index.yaml

  /assets/{asset}/history:
    $ref: ./paths/api/assets/{asset}/history.yaml

  /assets/{asset}/txs:
    $ref: ./paths/api/assets/{asset}/txs.yaml

  /assets/{asset}/transactions:
    $ref: ./paths/api/assets/{asset}/transactions.yaml

  /assets/{asset}/addresses:
    $ref: ./paths/api/assets/{asset}/addresses.yaml

  /assets/policy/{policy_id}:
    $ref: ./paths/api/assets/policy/{policy_id}/index.yaml

  /scripts:
    $ref: ./paths/api/scripts/index.yaml

  /scripts/{script_hash}:
    $ref: ./paths/api/scripts/{script_hash}/index.yaml

  /scripts/{script_hash}/json:
    $ref: ./paths/api/scripts/{script_hash}/json.yaml

  /scripts/{script_hash}/cbor:
    $ref: ./paths/api/scripts/{script_hash}/cbor.yaml

  /scripts/{script_hash}/redeemers:
    $ref: ./paths/api/scripts/{script_hash}/redeemers.yaml

  /scripts/datum/{datum_hash}:
    $ref: ./paths/api/scripts/datum/{datum_hash}/index.yaml

  /utils/addresses/xpub/{xpub}/{role}/{index}:
    $ref: ./paths/api/utils/addresses/xpub/{xpub}/{role}/{index}/index.yaml

  /utils/txs/evaluate:
    $ref: ./paths/api/utils/txs/evaluate.yaml

  /ipfs/add:
    $ref: ./paths/ipfs/add.yaml

  /ipfs/gateway/{IPFS_path}:
    $ref: ./paths/ipfs/gateway/{IPFS_path}/index.yaml

  /ipfs/pin/add/{IPFS_path}:
    $ref: ./paths/ipfs/pin/add/{IPFS_path}/index.yaml

  /ipfs/pin/list:
    $ref: ./paths/ipfs/pin/list/index.yaml

  /ipfs/pin/list/{IPFS_path}:
    $ref: ./paths/ipfs/pin/list/{IPFS_path}/index.yaml

  /ipfs/pin/remove/{IPFS_path}:
    $ref: ./paths/ipfs/pin/remove/{IPFS_path}/index.yaml

  /metrics/:
    $ref: ./paths/api/metrics/index.yaml

  /metrics/endpoints:
    $ref: ./paths/api/metrics/endpoints.yaml

  /network:
    $ref: ./paths/api/network/index.yaml

  /nutlink/{address}:
    $ref: ./paths/api/nutlink/{address}/index.yaml

  /nutlink/{address}/tickers:
    $ref: ./paths/api/nutlink/{address}/tickers/index.yaml

  /nutlink/{address}/tickers/{ticker}:
    $ref: ./paths/api/nutlink/{address}/tickers/{ticker}/index.yaml

  /nutlink/tickers/{ticker}:
    $ref: ./paths/api/nutlink/tickers/{ticker}/index.yaml

components:
  responses:
    overusage_limit:
      $ref: ./responses/errors/429.yaml

    mempool_full:
      $ref: ./responses/errors/425.yaml

    autobanned:
      $ref: ./responses/errors/418.yaml

    not_found:
      $ref: ./responses/errors/404.yaml

    internal_server_error:
      $ref: ./responses/errors/500.yaml

    unauthorized_error:
      $ref: ./responses/errors/403.yaml

    bad_request:
      $ref: ./responses/errors/400.yaml

  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: project_id
      description: |
        There are multiple token types available based on network you choose
        when creating a Blockfrost a project, for a list of token types
        see [Available networks](#section/Available-networks)
