jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: 'actions/checkout@v1'
        with:
          fetch-depth: 2
      - uses: borales/actions-yarn@v3.0.0
        with:
          cmd: install
      - uses: borales/actions-yarn@v3.0.0
        with:
          cmd: run bundle
      - name: Check diff
        run: git diff --quiet || { echo "You forgot to run 'yarn run bundle && yarn run generate-docs && yarn run generate-types'"; exit 1; }

name: Generated content is up to date
on:
  - push
  - pull_request
